Repository ai-dynamo/dynamo, pull requests merged in 2025-10, with the labels that each got.

#3334 fix: update ecs deployment example (#3284)
  examples/deployments/ECS/README.md
Labels: size/M, fix

#3304 fix: update post-create.sh for current build system and fix unbound variables
  .devcontainer/post-create.sh
Labels: size/S, fix

#3321 chore: enable gpt oss reasoning to work with text and tokens
  lib/parsers/src/reasoning/gpt_oss_parser.rs
Labels: size/L, chore

#3329 feat: make prefill router general
  benchmarks/router/README.md
  components/backends/vllm/launch/disagg_router.sh
  components/backends/vllm/src/dynamo/vllm/main.py
  components/backends/vllm/src/dynamo/vllm_prefill_router/__main__.py
  components/frontend/src/dynamo/frontend/main.py
  components/router/README.md
  components/router/src/dynamo/router/__init__.py
  components/router/src/dynamo/router/__main__.py
  docs/architecture/kv_cache_routing.md
  lib/bindings/python/rust/llm/kv.rs
  pyproject.toml
Labels: size/XL, feat

#3332 feat: Add --custom-jinja-template argument to pass a custom chat template for TRTLLM
  components/backends/trtllm/src/dynamo/trtllm/main.py
  components/backends/trtllm/src/dynamo/trtllm/utils/trtllm_utils.py
Labels: size/S, feat

#3289 feat: Using ai-perf for k8 FT tests.
  tests/fault_tolerance/deploy/README.md
  tests/fault_tolerance/deploy/client.py
  tests/fault_tolerance/deploy/parse_results.py
  tests/fault_tolerance/deploy/scenarios.py
  tests/fault_tolerance/deploy/test_deployment.py
Labels: size/XXL, feat

#3257 feat: Add vLLM compilation cache to Dynamo Operator
  components/backends/sglang/deploy/disagg_planner.yaml
  components/backends/trtllm/deploy/disagg-multinode.yaml
  components/backends/trtllm/deploy/disagg_planner.yaml
  components/backends/vllm/deploy/disagg_planner.yaml
  deploy/cloud/helm/crds/templates/nvidia.com_dynamocomponentdeployments.yaml
  deploy/cloud/helm/crds/templates/nvidia.com_dynamographdeployments.yaml
  deploy/cloud/operator/api/v1alpha1/common.go
  deploy/cloud/operator/api/v1alpha1/dynamocomponentdeployment_types.go
  deploy/cloud/operator/api/v1alpha1/dynamocomponentdeployment_types_test.go
  deploy/cloud/operator/api/v1alpha1/dynamographdeployment_types.go
  deploy/cloud/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/cloud/operator/config/crd/bases/nvidia.com_dynamocomponentdeployments.yaml
  deploy/cloud/operator/config/crd/bases/nvidia.com_dynamographdeployments.yaml
  deploy/cloud/operator/internal/consts/consts.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller.go
  deploy/cloud/operator/internal/controller/dynamographdeployment_controller.go
  deploy/cloud/operator/internal/dynamo/backend_sglang.go
  deploy/cloud/operator/internal/dynamo/backend_sglang_test.go
  deploy/cloud/operator/internal/dynamo/backend_trtllm.go
  deploy/cloud/operator/internal/dynamo/backend_trtllm_test.go
  deploy/cloud/operator/internal/dynamo/backend_vllm.go
  deploy/cloud/operator/internal/dynamo/backend_vllm_test.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
  docs/kubernetes/fluxcd.md
  docs/kubernetes/installation_guide.md
  docs/kubernetes/model_caching_with_fluid.md
  recipes/deepseek-r1/sglang-wideep/tep16p-dep16d-disagg.yaml
  recipes/deepseek-r1/sglang-wideep/tep8p-dep8d-disagg.yaml
  recipes/gpt-oss-120b/trtllm/agg/deploy.yaml
  recipes/llama-3-70b/vllm/agg/deploy.yaml
  recipes/llama-3-70b/vllm/disagg-multi-node/deploy.yaml
  recipes/llama-3-70b/vllm/disagg-single-node/deploy.yaml
Labels: dynamo-deploy, size/XXL, feat

#3340 fix: null tools processing via minijinja
  lib/llm/src/preprocessor/prompt/template/oai.rs
Labels: size/XS, fix

#3228 feat: devcontainer.json to work for vLLM, SGLang, and TensorRT-LLM
  .devcontainer/README.md
  .devcontainer/devcontainer.json.j2
  .devcontainer/gen_devcontainer_json.py
  .devcontainer/sglang/devcontainer.json
  .devcontainer/trtllm/devcontainer.json
  .devcontainer/vllm/devcontainer.json
Labels: size/L, feat

#3299 fix: DIS-706 skip offloading the G1 matched blocks during offloading
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader/slot.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/trtllm_leader.rs
  lib/llm/src/block_manager/offload.rs
Labels: size/S, fix

#3295 feat: reasoning parser transformation
  lib/llm/src/engines.rs
  lib/llm/src/preprocessor.rs
  lib/llm/src/protocols/openai/chat_completions/delta.rs
  lib/llm/tests/http-service.rs
  lib/llm/tests/http_metrics.rs
  lib/llm/tests/test_reasoning_parser.rs
  lib/parsers/src/reasoning/base_parser.rs
Labels: size/XL, feat

#3080 feat: Create worker selection pipeline
  lib/bindings/c/Cargo.toml
  lib/bindings/c/cbindgen.toml
  lib/bindings/c/src/lib.rs
Labels: size/XL, feat

#3349 fix: Polling from exhausted stream in preprocessor
  lib/llm/src/preprocessor.rs
Labels: size/XS, fix

#3090 feat: Transition to FullyContiguous Host and Disk layouts
  container/Dockerfile.vllm
  lib/bindings/python/rust/llm/block_manager/distributed.rs
  lib/bindings/python/rust/llm/block_manager/distributed/worker.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/trtllm_worker.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/worker.rs
  lib/llm/src/block_manager/block/transfer/cuda.rs
  lib/llm/src/block_manager/distributed/worker.rs
  lib/llm/src/block_manager/layout.rs
  lib/llm/src/block_manager/layout/utils.rs
  lib/llm/src/block_manager/offload.rs
Labels: size/XXL, feat

#3356 fix: Polling from exhausted stream in preprocessor (#3349)
  lib/llm/src/preprocessor.rs
Labels: size/XS, fix

#3230 feat: Add multimodal EPD for Sglang
  components/backends/sglang/README.md
  components/backends/sglang/docs/multimodal_epd.md
  components/backends/sglang/launch/multimodal_agg.sh
  components/backends/sglang/launch/multimodal_disagg.sh
  components/src/dynamo/sglang/args.py
  components/src/dynamo/sglang/main.py
  components/src/dynamo/sglang/register.py
  components/src/dynamo/sglang/request_handlers/__init__.py
  components/src/dynamo/sglang/request_handlers/multimodal_encode_worker_handler.py
  components/src/dynamo/sglang/request_handlers/multimodal_processor_handler.py
  components/src/dynamo/sglang/request_handlers/multimodal_worker_handler.py
  components/src/dynamo/sglang/utils/multimodal_chat_processor.py
  components/src/dynamo/sglang/utils/multimodal_encode_utils.py
  components/src/dynamo/sglang/utils/multimodal_image_loader.py
  components/src/dynamo/sglang/utils/multimodal_protocol.py
  examples/multimodal/README.md
  tests/serve/test_sglang.py
Labels: size/XXL, feat

#3347 fix: update dynamo_check.py for consolidated components structure
  deploy/dynamo_check.py
Labels: size/M, fix

#3336 fix: update EPP image location
  deploy/inference-gateway/helm/dynamo-gaie/values.yaml
Labels: size/XS, fix

#3375 chore: better error message when missing pre-deployment profiling data
  components/src/dynamo/planner/utils/perf_interpolation.py
Labels: size/M, chore

#3343 fix: force infiniband libraries reinstall when building container
  container/Dockerfile
Labels: external-contribution, size/S, fix

#3380 fix: add a note for users to use VSWA feature after 0.5.1 release
  components/backends/trtllm/gemma3_sliding_window_attention.md
Labels: size/S, fix

#3389 fix: add a note for users to use VSWA feature after 0.5.1 release (#3380)
  components/backends/trtllm/gemma3_sliding_window_attention.md
Labels: size/S, fix

#3384 fix: add hf secret to guide
  docs/kubernetes/README.md
Labels: size/XS, fix

#3405 fix: Fix sglang imports for v0.5.3rc0 and update Dockerfile.sglang version to match
  components/src/dynamo/sglang/request_handlers/multimodal_encode_worker_handler.py
  components/src/dynamo/sglang/utils/multimodal_chat_processor.py
  container/Dockerfile.sglang
Labels: size/XS, fix

#3378 fix: removing PYTHONPATH in sglang Dockerfile, no need for it anymore
  container/Dockerfile.sglang
Labels: size/XS, fix

#3358 docs: add Planner Quickstart doc
  components/backends/vllm/deploy/README.md
  docs/architecture/planner_intro.rst
  docs/architecture/sla_planner.md
  docs/benchmarks/pre_deployment_profiling.md
  docs/guides/planner_benchmark/OLD_disagg_1p1d.yml
  docs/guides/planner_benchmark/OLD_disagg_2p2d.yaml
  docs/guides/planner_benchmark/README.md
  docs/hidden_toctree.rst
  docs/index.rst
  docs/kubernetes/installation_guide.md
  docs/kubernetes/sla_planner_deployment.md
  docs/kubernetes/sla_planner_quickstart.md
Labels: size/XL, docs

#3377 test: Update the test guideline
  tests/README.md
Labels: size/L, test

#3439 docs: fix deploy readme path
  deploy/README.md
Labels: size/XS, docs

#3430 fix: benchmark reinstall includes cve
  container/Dockerfile.sglang
Labels: size/XS, fix

#3434 docs: Cherrypick of PR #3404 to fix VSWA prompts
  components/backends/trtllm/gemma3_sliding_window_attention.md
Labels: size/S, docs

#3445 fix: add instructions on creating ecs role (#3381)
  examples/deployments/ECS/README.md
Labels: size/S, fix

#3391 test: Remove timing dependency on E2E cancellation tests
  tests/fault_tolerance/cancellation/test_trtllm.py
  tests/fault_tolerance/cancellation/test_vllm.py
  tests/fault_tolerance/cancellation/utils.py
Labels: size/XXL, test

#3449 docs: explicitly mention DynamoGraphDeployment is DGD
  docs/kubernetes/README.md
Labels: size/XS, docs

#3427 feat: Add embedding support to sgl backend
  components/backends/sglang/README.md
  components/backends/sglang/launch/agg_embed.sh
  components/src/dynamo/sglang/args.py
  components/src/dynamo/sglang/main.py
  components/src/dynamo/sglang/protocol.py
  components/src/dynamo/sglang/register.py
  components/src/dynamo/sglang/request_handlers/__init__.py
  components/src/dynamo/sglang/request_handlers/embedding/__init__.py
  components/src/dynamo/sglang/request_handlers/embedding/embedding_handler.py
  components/src/dynamo/sglang/request_handlers/llm/__init__.py
  components/src/dynamo/sglang/request_handlers/llm/decode_handler.py
  components/src/dynamo/sglang/request_handlers/llm/prefill_handler.py
  components/src/dynamo/sglang/request_handlers/multimodal/__init__.py
  components/src/dynamo/sglang/request_handlers/multimodal/encode_worker_handler.py
  components/src/dynamo/sglang/request_handlers/multimodal/processor_handler.py
  components/src/dynamo/sglang/request_handlers/multimodal/worker_handler.py
  lib/llm/src/discovery/watcher.rs
  tests/serve/test_sglang.py
  tests/utils/constants.py
  tests/utils/payload_builder.py
  tests/utils/payloads.py
Labels: size/L, feat

#3350 chore(discovery): Watch/publish ModelDeploymentCard instead of ModelEntry
  lib/bindings/python/examples/openai_service/server.py
  lib/bindings/python/rust/http.rs
  lib/bindings/python/tests/test_http_server.py
  lib/llm/src/common/checked_file.rs
  lib/llm/src/discovery.rs
  lib/llm/src/discovery/model_entry.rs
  lib/llm/src/discovery/model_manager.rs
  lib/llm/src/discovery/watcher.rs
  lib/llm/src/entrypoint/input/common.rs
  lib/llm/src/entrypoint/input/grpc.rs
  lib/llm/src/entrypoint/input/http.rs
  lib/llm/src/kv_router.rs
  lib/llm/src/local_model.rs
  lib/llm/src/local_model/network_name.rs
  lib/llm/src/model_card.rs
  lib/llm/src/model_type.rs
  lib/llm/src/preprocessor.rs
  lib/llm/tests/http-service.rs
  lib/llm/tests/http_metrics.rs
  lib/llm/tests/kserve_service.rs
  lib/runtime/src/storage/key_value_store/etcd.rs
  lib/runtime/src/utils/typed_prefix_watcher.rs
  lib/runtime/src/utils/worker_monitor.rs
Labels: size/XL, chore

#3458 feat(etcd): Version the etcd keys
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/rust/planner.rs
  lib/llm/src/discovery.rs
  lib/llm/src/discovery/watcher.rs
  lib/llm/src/model_card.rs
  lib/runtime/src/component.rs
  lib/runtime/src/storage/key_value_store.rs
  lib/runtime/src/storage/key_value_store/etcd.rs
  lib/runtime/src/transports/etcd.rs
  lib/runtime/src/transports/etcd/path.rs
  lib/runtime/src/utils/pool.rs
  lib/runtime/src/utils/typed_prefix_watcher.rs
  lib/runtime/src/utils/worker_monitor.rs
Labels: size/L, feat

#3314 feat: Deployment for EPP as a static library
  deploy/inference-gateway/README.md
  deploy/inference-gateway/build-epp-dynamo.sh
  deploy/inference-gateway/epp-patches/epp-v0.5.1-2/epp-v0.5.1-dyn2.patch
  deploy/inference-gateway/helm/dynamo-gaie/templates/dynamo-epp.yaml
  deploy/inference-gateway/helm/dynamo-gaie/values.yaml
  deploy/inference-gateway/values-epp-aware.yaml
Labels: size/XXL, feat

#3453 docs: move doc build dependencies to pyproject.toml
  .dockerignore
  .gitignore
  container/Dockerfile.docs
  container/deps/requirements.docs.txt
  docs/README.md
  pyproject.toml
Labels: size/L, docs

#3286 feat: add flag for dumping dynamo engine config and environment
  .gitignore
  components/src/dynamo/common/__init__.py
  components/src/dynamo/common/config_dump/__init__.py
  components/src/dynamo/common/config_dump/config_dumper.py
  components/src/dynamo/common/config_dump/environment.py
  components/src/dynamo/common/config_dump/system_info.py
  components/src/dynamo/frontend/main.py
  components/src/dynamo/sglang/args.py
  components/src/dynamo/sglang/main.py
  components/src/dynamo/trtllm/main.py
  components/src/dynamo/trtllm/utils/trtllm_utils.py
  components/src/dynamo/vllm/args.py
  components/src/dynamo/vllm/main.py
  hatch_build.py
Labels: size/XL, feat

#3451 feat: Connect DYN_LOG level to TLLM_LOG_LEVEL
  components/src/dynamo/trtllm/main.py
  lib/bindings/python/src/dynamo/runtime/logging.py
Labels: size/M, feat

#3463 fix: remove warnings in build process
  container/Dockerfile
  container/Dockerfile.vllm
Labels: size/S, fix

#3462 feat: add startup order for multinode TRTLLM
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
Labels: size/L, feat

#3457 fix: update ETCD image
  examples/deployments/ECS/README.md
  examples/deployments/ECS/task_definition_etcd_nats.json
Labels: size/XS, fix

#3262 chore: update guide for reasoning & tool calling parser with gpt-oss on trtllm
  components/backends/trtllm/gpt-oss.md
  components/backends/trtllm/launch/gpt_oss_disagg.sh
Labels: size/L, chore

#3468 fix: Make planner VirtualConnectorClient also use v1/ prefix.
  lib/bindings/python/rust/planner.rs
  lib/runtime/src/transports/etcd.rs
Labels: size/S, fix

#3474 ci: Removed pre-merge marker from test_vllm_unit.py
  tests/unit/test_vllm_unit.py
Labels: ci, size/XS

#3008 docs: added example for a frontend shared across multiple models
  examples/basics/kubernetes/shared_frontend/README.md
  examples/basics/kubernetes/shared_frontend/shared_frontend.yaml
Labels: size/L, docs

#3478 fix: dynamo.common import failing on non-editable installs
  components/src/dynamo/common/__init__.py
  components/src/dynamo/common/config_dump/config_dumper.py
Labels: size/S, fix

#3484 docs: backend engines do not need to emit deterministic blocks
  docs/architecture/kv_cache_routing.md
Labels: size/XS, docs

#3490 chore: Upgrade mistralrs
  Cargo.lock
  lib/engines/mistralrs/Cargo.toml
  lib/engines/mistralrs/src/lib.rs
Labels: size/S, chore
