Repository ai-dynamo/dynamo, pull requests merged in 2025-09, with the labels that each got.

#2800 fix: do not delete KV events jetstream
  components/frontend/src/dynamo/frontend/main.py
  docs/architecture/kv_cache_routing.md
  docs/components/router/README.md
  lib/bindings/python/rust/llm/entrypoint.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/llm/src/kv_router.rs
  lib/llm/src/kv_router/sequence.rs
  lib/llm/src/kv_router/subscriber.rs
  lib/runtime/src/transports/nats.rs
  lib/runtime/src/utils/typed_prefix_watcher.rs
  tests/router/test_router_e2e_with_mockers.py
Labels: size/L, fix

#2794 refactor: Rewrite test_metrics_labels to use TRTLLMProcess.
  components/backends/trtllm/launch/agg_metrics.sh
  tests/serve/test_trtllm.py
  tests/utils/deployment_graph.py
  tests/utils/engine_process.py
Labels: size/L, refactor

#2718 fix: Do not apply chat template to completions
  lib/llm/src/preprocessor.rs
  lib/parsers/src/reasoning/base_parser.rs
  lib/parsers/src/reasoning/mod.rs
Labels: size/L, fix

#2763 build: enable kvbm in vllm container
  container/Dockerfile.vllm
  container/build.sh
  tests/kvbm/test_determinism.py
Labels: size/M, build

#2773 docs: SNS agg k8s example
  examples/basics/kubernetes/Distributed_Inference/README.md
  examples/basics/kubernetes/Distributed_Inference/agg_router.yaml
Labels: size/L, docs

#2810 fix: compile python regex once
  lib/parsers/src/tool_calling/pythonic_parser.rs
Labels: size/S, fix

#2698 feat: Shutdown DRT when vLLM engine fails
  components/backends/vllm/src/dynamo/vllm/engine_monitor.py
  components/backends/vllm/src/dynamo/vllm/handlers.py
  components/backends/vllm/src/dynamo/vllm/main.py
  tests/fault_tolerance/.gitignore
  tests/fault_tolerance/test_vllm_health_check.py
  tests/utils/managed_process.py
Labels: size/XL, backend::vllm, fault tolerance, feat, Feature

#2812 chore: bump version numbers ahead of 0.5.0 release
  Cargo.lock
  Cargo.toml
  docs/support_matrix.md
  lib/bindings/python/Cargo.lock
  lib/bindings/python/Cargo.toml
  lib/bindings/python/pyproject.toml
  lib/runtime/examples/Cargo.lock
  lib/runtime/examples/Cargo.toml
  pyproject.toml
Labels: size/S, chore

#2814 chore: bump version number of deploy artifacts
  deploy/cloud/helm/crds/Chart.yaml
  deploy/helm/chart/Chart.yaml
Labels: size/XS, chore

#2816 docs: update profiling-related docs
  benchmarks/profiler/README.md
  docs/benchmarks/pre_deployment_profiling.md
Labels: size/XS, docs

#2821 docs: add mention of deploy/utils quickstart to planner deployment docs
  docs/architecture/sla_planner.md
  docs/guides/dynamo_deploy/sla_planner_deployment.md
Labels: size/XS, docs

#2798 feat: don't modify kv scheduler states on query + more python binding
  docs/architecture/kv_cache_routing.md
  lib/bindings/python/rust/llm/kv.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/llm/src/kv_router.rs
  lib/llm/src/kv_router/scheduler.rs
Labels: size/L, feat

#2825 fix: indenting mistake missed condition.
  components/backends/vllm/src/dynamo/vllm/handlers.py
Labels: size/XS, fix

#2830 fix: Cherry-pick alec_flowers PR 2825 into release/0.5.0
  components/backends/vllm/src/dynamo/vllm/handlers.py
Labels: size/XS, fix

#2818 feat: Cleanup dynamo cloud installation documentation (#2807)
  deploy/README.md
  deploy/cloud/helm/README.md
  deploy/cloud/helm/crds/README.md
  deploy/cloud/helm/deploy.sh
  deploy/cloud/helm/dynamo-platform-values.yaml
  deploy/cloud/helm/network-config-wizard.sh
  deploy/cloud/helm/platform/README.md
  deploy/cloud/helm/platform/README.md.gotmpl
  deploy/cloud/helm/platform/values.yaml
  deploy/cloud/operator/Makefile
  deploy/cloud/operator/README.md
  deploy/cloud/operator/docs/header.md
  docs/guides/dynamo_deploy/README.md
  docs/guides/dynamo_deploy/api_reference.md
  docs/guides/dynamo_deploy/dynamo_operator.md
  docs/guides/dynamo_deploy/gke_setup.md
  docs/guides/dynamo_deploy/grove.md
  docs/guides/dynamo_deploy/installation_guide.md
  docs/guides/dynamo_deploy/metrics.md
  docs/guides/dynamo_deploy/minikube.md
  docs/index.rst
Labels: size/XL, feat

#2832 feat: add deepseek_v3_1 tool parser with lib refactoring
  lib/parsers/src/tool_calling/config.rs
  lib/parsers/src/tool_calling/harmony/harmony_parser.rs
  lib/parsers/src/tool_calling/harmony/mod.rs
  lib/parsers/src/tool_calling/json/base_json_parser.rs
  lib/parsers/src/tool_calling/json/deepseek_parser.rs
  lib/parsers/src/tool_calling/json/mod.rs
  lib/parsers/src/tool_calling/mod.rs
  lib/parsers/src/tool_calling/parsers.rs
  lib/parsers/src/tool_calling/pythonic/mod.rs
  lib/parsers/src/tool_calling/pythonic/pythonic_parser.rs
Labels: size/L, feat

#2834 build: default to using dev instead of local-dev for vllm build
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  container/Dockerfile.vllm
  container/build.sh
Labels: size/S, build

#2833 fix: Example hello_world.py Context naming
  examples/runtime/hello_world/hello_world.py
Labels: size/XS, fix

#2837 build: default to using dev instead of local-dev for vllm build
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  container/Dockerfile.vllm
  container/build.sh
Labels: size/S, build

#2836 fix: [cherry-pick] Example hello_world.py Context naming (#2833)
  examples/runtime/hello_world/hello_world.py
Labels: size/XS, fix

#2844 Update Dynamo on GKE example - Gemma
  examples/deployments/GKE/README.md
  examples/deployments/GKE/vllm/disagg_gke.yaml
  examples/deployments/GKE/vllm/vllm.yaml
Labels: external-contribution, size/L

#2843 feat: workaround for bitnami brownout
  deploy/cloud/helm/platform/Chart.yaml
  deploy/cloud/helm/platform/README.md
  deploy/cloud/helm/platform/values.yaml
  docs/guides/dynamo_deploy/installation_guide.md
Labels: size/S, feat

#2799 refactor: refactor to be tree-based code + feat: framework check
  .devcontainer/post-create.sh
  deploy/dynamo_check.py
Labels: size/XXL, refactor

#2855 fix: Adding back runtime_config so that tool_parser work properly on …
  components/backends/trtllm/src/dynamo/trtllm/main.py
Labels: size/XS, fix

#2747 docs: note that DCO check is required to merge
  CONTRIBUTING.md
Labels: size/XS, docs

#2875 fix: In non-epp dynamo integration we do not provide the config file
  deploy/inference-gateway/README.md
  deploy/inference-gateway/helm/dynamo-gaie/templates/dynamo-epp.yaml
Labels: size/S, fix

#2850 feat: workaround for bitnami brownout (#2843)
  deploy/cloud/helm/platform/Chart.yaml
  deploy/cloud/helm/platform/README.md
  deploy/cloud/helm/platform/values.yaml
  docs/guides/dynamo_deploy/installation_guide.md
Labels: size/S, feat

#2880 chore: add agg_qwen.yaml to multimodal deploy (#2872)
  examples/multimodal/deploy/agg_qwen.yaml
Labels: size/M, chore

#2879 fix: NIXL wheel missing from system packages in dev env
  container/Dockerfile.trtllm
Labels: size/XS, fix

#2884 fix: Keivenchang/v0.5.0 bug 5501463 fix dockerfile run permission problem harrison release
  container/run.sh
Labels: size/S, fix

#2871 chore: add planner code owner
  CODEOWNERS
Labels: size/XS, chore

#2876 docs: change docs to default port 8000
  README.md
  components/backends/mocker/README.md
  components/backends/vllm/deepseek-r1.md
  components/backends/vllm/deploy/README.md
  components/frontend/README.md
  container/launch_message.txt
  deploy/metrics/README.md
  docs/_includes/quick_start_local.rst
  docs/architecture/dynamo_flow.md
  docs/components/router/README.md
  docs/guides/dynamo_deploy/create_deployment.md
  docs/guides/metrics.md
  docs/guides/planner_benchmark/README.md
  docs/support_matrix.md
  examples/multimodal/README.md
  lib/runtime/examples/system_metrics/README.md
  tests/lmcache/README.md
  tests/lmcache/mmlu-baseline-dynamo.py
  tests/lmcache/mmlu-lmcache_enabled-dynamo.py
Labels: size/M, docs

#2828 feat: Router benchmarking
  benchmarks/router/README.md
  benchmarks/router/ping.sh
  benchmarks/router/prefix_ratio_benchmark.py
  benchmarks/router/run_engines.sh
  lib/llm/src/kv_router/scheduler.rs
Labels: size/XL, feat

#2873 feat: kvbm transfer context v2 (dis-598)
  lib/llm/Cargo.toml
  lib/llm/benches/transfer_context_v2.rs
  lib/llm/src/block_manager/block/transfer.rs
  lib/llm/src/block_manager/block/transfer/context.rs
Labels: size/L, feat

#2891 build: OPS-757 Install a newer version of nsight-systems in devel container
  container/Dockerfile.vllm
Labels: size/XS, build

#2906 docs: Update README.md
  README.md
Labels: size/XS, docs

#2846 feat: dynamo namespace isolation (#2394)
  components/backends/mocker/src/dynamo/mocker/main.py
  components/backends/sglang/src/dynamo/sglang/args.py
  components/backends/sglang/src/dynamo/sglang/utils/clear_namespace.py
  components/backends/vllm/README.md
  components/backends/vllm/deploy/README.md
  components/backends/vllm/src/dynamo/vllm/args.py
  components/frontend/src/dynamo/frontend/main.py
  lib/bindings/python/rust/llm/entrypoint.rs
  lib/llm/src/discovery/watcher.rs
  lib/llm/src/entrypoint/input/common.rs
  lib/llm/src/entrypoint/input/grpc.rs
  lib/llm/src/entrypoint/input/http.rs
  lib/llm/src/lib.rs
  lib/llm/src/local_model.rs
  lib/llm/src/namespace.rs
  lib/llm/tests/http_namespace_integration.rs
  lib/llm/tests/namespace.rs
Labels: size/XL, feat

#2910 fix: Load the tokenizer JSON once for chat and completions.
  lib/bindings/python/rust/llm/backend.rs
  lib/bindings/python/rust/llm/model_card.rs
  lib/bindings/python/rust/llm/preprocessor.rs
  lib/llm/src/backend.rs
  lib/llm/src/discovery/watcher.rs
  lib/llm/src/entrypoint/input/batch.rs
  lib/llm/src/entrypoint/input/common.rs
  lib/llm/src/entrypoint/input/endpoint.rs
  lib/llm/src/entrypoint/input/grpc.rs
  lib/llm/src/entrypoint/input/http.rs
  lib/llm/src/local_model.rs
  lib/llm/src/migration.rs
  lib/llm/src/model_card.rs
  lib/llm/src/preprocessor.rs
  lib/llm/src/preprocessor/prompt/template.rs
  lib/llm/tests/backend.rs
  lib/llm/tests/model_card.rs
  lib/llm/tests/preprocessor.rs
  lib/runtime/examples/Cargo.lock
Labels: size/L, fix

#2878 chore: update CODEOWNERS for multimodal examples
  CODEOWNERS
Labels: size/XS, chore

#2912 feat: automatically setup and inject prometheus configuration
  components/backends/vllm/deploy/disagg_planner.yaml
  deploy/cloud/helm/platform/README.md
  deploy/cloud/helm/platform/components/operator/templates/deployment.yaml
  deploy/cloud/helm/platform/components/operator/templates/prometheus.yaml
  deploy/cloud/helm/platform/components/operator/values.yaml
  deploy/cloud/helm/platform/values.yaml
  deploy/cloud/operator/Makefile
  deploy/cloud/operator/cmd/main.go
  deploy/cloud/operator/internal/consts/consts.go
  deploy/cloud/operator/internal/controller_common/predicate.go
  deploy/cloud/operator/internal/dynamo/component_planner.go
  deploy/cloud/operator/internal/dynamo/component_planner_test.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
  docs/guides/dynamo_deploy/installation_guide.md
  docs/guides/dynamo_deploy/metrics.md
Labels: size/L, feat

#2937 fix: WAR DeepGemm JIT compilation errors
  container/Dockerfile.vllm
Labels: size/XS, fix

#2933 feat: update benchmarking and deploy utils
  benchmarks/README.md
  benchmarks/benchmark.sh
  benchmarks/profiler/deploy/profile_sla_job.yaml
  benchmarks/profiler/utils/__init__.py
  benchmarks/utils/benchmark.py
  components/backends/sglang/deploy/disagg_planner.yaml
  components/backends/vllm/deploy/disagg_planner.yaml
  deploy/utils/README.md
  deploy/utils/download_pvc_results.py
  deploy/utils/inject_manifest.py
  deploy/utils/kubernetes.py
  deploy/utils/manifests/pvc-access-pod.yaml
  deploy/utils/setup_k8s_namespace.sh
  docs/benchmarks/benchmarking.md
  docs/benchmarks/pre_deployment_profiling.md
Labels: size/L, feat

#2952 feat: update benchmarking and deploy utils (#2933)
  benchmarks/README.md
  benchmarks/benchmark.sh
  benchmarks/profiler/deploy/profile_sla_job.yaml
  benchmarks/profiler/utils/__init__.py
  benchmarks/utils/benchmark.py
  components/backends/sglang/deploy/disagg_planner.yaml
  components/backends/vllm/deploy/disagg_planner.yaml
  deploy/utils/README.md
  deploy/utils/download_pvc_results.py
  deploy/utils/inject_manifest.py
  deploy/utils/kubernetes.py
  deploy/utils/manifests/pvc-access-pod.yaml
  deploy/utils/setup_k8s_namespace.sh
  docs/benchmarks/benchmarking.md
  docs/benchmarks/pre_deployment_profiling.md
Labels: size/L, feat

#2934 feat: Add a checksum to ModelDeploymentCard fields
  Cargo.lock
  lib/bindings/python/Cargo.lock
  lib/llm/Cargo.toml
  lib/llm/src/common.rs
  lib/llm/src/common/checked_file.rs
  lib/llm/src/kv_router/subscriber.rs
  lib/llm/src/model_card.rs
  lib/llm/src/preprocessor/prompt/template.rs
  lib/runtime/src/transports/nats.rs
Labels: size/XL, feat

#2935 chore: added tool call schema validation in oai formatter
  lib/llm/src/preprocessor/prompt/template/oai.rs
Labels: size/L, chore

#2958 test: remove nighlty marker in kvbm tests
  tests/kvbm/test_determinism.py
Labels: size/XS, test

#2940 ci: remove pre-merge ignore in github workflow
  .github/workflows/container-validation-dynamo.yml
  pyproject.toml
Labels: ci, size/XS

#2868 fix: metrics test to match actual namespace sanitization behavior
  lib/runtime/src/metrics.rs
Labels: size/S, fix

#2930 chore: Update trtllm version to 1.1.0rc3
  README.md
  components/backends/trtllm/engine_configs/decode.yaml
  components/backends/trtllm/engine_configs/deepseek_r1/mtp/mtp_decode.yaml
  components/backends/trtllm/engine_configs/deepseek_r1/mtp/mtp_prefill.yaml
  components/backends/trtllm/engine_configs/deepseek_r1/simple/decode.yaml
  components/backends/trtllm/engine_configs/deepseek_r1/simple/prefill.yaml
  components/backends/trtllm/engine_configs/deepseek_r1/wide_ep/wide_ep_decode.yaml
  components/backends/trtllm/engine_configs/deepseek_r1/wide_ep/wide_ep_prefill.yaml
  components/backends/trtllm/engine_configs/encode.yaml
  components/backends/trtllm/engine_configs/gemma3/vswa_decode.yaml
  components/backends/trtllm/engine_configs/gemma3/vswa_prefill.yaml
  components/backends/trtllm/engine_configs/gpt_oss/decode.yaml
  components/backends/trtllm/engine_configs/gpt_oss/prefill.yaml
  components/backends/trtllm/engine_configs/llama4/eagle/eagle_decode.yaml
  components/backends/trtllm/engine_configs/llama4/eagle/eagle_prefill.yaml
  components/backends/trtllm/engine_configs/multimodal/agg.yaml
  components/backends/trtllm/engine_configs/multimodal/decode.yaml
  components/backends/trtllm/engine_configs/multimodal/llama4/decode.yaml
  components/backends/trtllm/engine_configs/multimodal/llama4/prefill.yaml
  components/backends/trtllm/engine_configs/multimodal/prefill.yaml
  components/backends/trtllm/engine_configs/prefill.yaml
  components/backends/trtllm/multimodal_support.md
  components/backends/trtllm/src/dynamo/trtllm/main.py
  components/backends/trtllm/src/dynamo/trtllm/request_handlers/handler_base.py
  container/Dockerfile.trtllm
  container/build.sh
  docs/support_matrix.md
  pyproject.toml
Labels: size/M, chore

#2921 feat: add deepseek_v3_1 tool parser with lib refactoring (#2832)
  lib/parsers/src/tool_calling/config.rs
  lib/parsers/src/tool_calling/harmony/harmony_parser.rs
  lib/parsers/src/tool_calling/harmony/mod.rs
  lib/parsers/src/tool_calling/json/base_json_parser.rs
  lib/parsers/src/tool_calling/json/deepseek_parser.rs
  lib/parsers/src/tool_calling/json/mod.rs
  lib/parsers/src/tool_calling/mod.rs
  lib/parsers/src/tool_calling/parsers.rs
  lib/parsers/src/tool_calling/pythonic/mod.rs
  lib/parsers/src/tool_calling/pythonic/pythonic_parser.rs
Labels: size/L, feat

#2877 feat: Improve performance of scripts
  components/backends/sglang/slurm_jobs/job_script_template.j2
  components/backends/sglang/slurm_jobs/scripts/benchmark_utils.sh
  components/backends/sglang/slurm_jobs/scripts/gap/bench.sh
  components/backends/sglang/slurm_jobs/scripts/gb200-fp8.sh
  components/backends/sglang/slurm_jobs/scripts/sglang/bench.sh
  components/backends/sglang/slurm_jobs/scripts/sglang_bench_serving.sh
  components/backends/sglang/slurm_jobs/scripts/vllm/backend_request_func.py
  components/backends/sglang/slurm_jobs/scripts/vllm/bench.sh
  components/backends/sglang/slurm_jobs/scripts/vllm/benchmark_serving.py
  components/backends/sglang/slurm_jobs/scripts/vllm/benchmark_utils.py
  components/backends/sglang/slurm_jobs/scripts/worker_setup.py
  components/backends/sglang/slurm_jobs/submit_job_script.py
Labels: external-contribution, size/XXL, feat

#2636 feat: deploy sglang on slurm with multiple frontends
  components/backends/sglang/slurm_jobs/job_script_template.j2
  components/backends/sglang/slurm_jobs/scripts/benchmark_utils.sh
  components/backends/sglang/slurm_jobs/scripts/gap/bench.sh
  components/backends/sglang/slurm_jobs/scripts/gb200-fp8.sh
  components/backends/sglang/slurm_jobs/scripts/nginx.conf.j2
  components/backends/sglang/slurm_jobs/scripts/sglang/bench.sh
  components/backends/sglang/slurm_jobs/scripts/sglang_bench_serving.sh
  components/backends/sglang/slurm_jobs/scripts/vllm/backend_request_func.py
  components/backends/sglang/slurm_jobs/scripts/vllm/bench.sh
  components/backends/sglang/slurm_jobs/scripts/vllm/benchmark_serving.py
  components/backends/sglang/slurm_jobs/scripts/vllm/benchmark_utils.py
  components/backends/sglang/slurm_jobs/scripts/worker_setup.py
  components/backends/sglang/slurm_jobs/submit_job_script.py
Labels: size/XXL, feat

#2970 feat: dyn namespace scoping for trtllm
  components/backends/trtllm/src/dynamo/trtllm/utils/trtllm_utils.py
Labels: size/XS, feat

#2953 feat: frontend, disconnect metrics (#1)
  lib/llm/src/grpc/service/openai.rs
  lib/llm/src/http/service/disconnect.rs
  lib/llm/src/http/service/metrics.rs
  lib/llm/src/http/service/openai.rs
Labels: external-contribution, size/M, feat

#2905 feat: adds kv indexer metrics
  lib/bindings/python/rust/llm/kv.rs
  lib/llm/src/kv_router.rs
  lib/llm/src/kv_router/approx.rs
  lib/llm/src/kv_router/indexer.rs
  lib/llm/src/kv_router/recorder.rs
  lib/runtime/src/metrics/prometheus_names.rs
Labels: external-contribution, size/L, feat

#2980 feat: support trtllm in sla-planner
  README.md
  benchmarks/profiler/profile_sla.py
  benchmarks/profiler/utils/config.py
  components/backends/trtllm/README.md
  components/backends/trtllm/deploy/README.md
  components/backends/trtllm/deploy/disagg_planner.yaml
  components/backends/trtllm/src/dynamo/trtllm/main.py
  components/backends/trtllm/src/dynamo/trtllm/utils/trtllm_utils.py
  components/planner/src/dynamo/planner/defaults.py
  components/planner/src/dynamo/planner/utils/planner_argparse.py
  container/Dockerfile.sglang
  container/Dockerfile.trtllm
  deploy/utils/dynamo_deployment.py
  docs/architecture/planner_intro.rst
  docs/benchmarks/pre_deployment_profiling.md
  docs/guides/dynamo_deploy/sla_planner_deployment.md
  tests/profiler/test_profile_sla_dryrun.py
Labels: size/XL, feat

#2997 fix: early stop if CPU or disk space not set when using KVBM
  deploy/metrics/grafana_dashboards/grafana-kvbm-dashboard.json
  lib/bindings/python/rust/llm/block_manager/distributed/leader.rs
  lib/llm/src/block_manager/distributed/leader.rs
Labels: size/M, fix

#2932 feat: Tool calling support stream=True
  lib/llm/src/http/service/openai.rs
  lib/llm/src/preprocessor.rs
  lib/llm/src/protocols/openai/chat_completions/aggregator.rs
  lib/llm/tests/test_preprocessor.rs
Labels: size/XXL, feat

#3037 feat: use official Grove 0.1.0-alpha release (#3030)
  deploy/cloud/helm/platform/Chart.yaml
  deploy/cloud/helm/platform/components/operator/templates/manager-rbac.yaml
  deploy/cloud/operator/cmd/main.go
  deploy/cloud/operator/config/rbac/role.yaml
  deploy/cloud/operator/go.mod
  deploy/cloud/operator/go.sum
  deploy/cloud/operator/internal/controller/dynamographdeployment_controller.go
  deploy/cloud/operator/internal/controller_common/podgangset.go
  deploy/cloud/operator/internal/controller_common/predicate.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
  deploy/helm/README.md
Labels: size/M, feat

#3036 feat: make DCO only required for external contributors
  .github/dco.yml
Labels: size/XS, feat

#2973 feat: decouple dynamo k8s setup from additional benchmarking requirements
  benchmarks/benchmark.sh
  deploy/utils/README.md
  deploy/utils/setup_benchmarking_resources.sh
  deploy/utils/setup_k8s_namespace.sh
  docs/benchmarks/benchmarking.md
  docs/benchmarks/pre_deployment_profiling.md
Labels: size/L, feat

#3040 fix: dashboard fix
  deploy/logging/grafana/dashboard.json
  deploy/logging/grafana/logging-dashboard.yaml
Labels: size/S, fix

#2993 test: add test for pre-deployment script (#2857)
  benchmarks/profiler/profile_sla.py
  benchmarks/profiler/utils/config.py
  benchmarks/profiler/utils/profile_decode.py
  benchmarks/profiler/utils/profile_prefill.py
  tests/profiler/__init__.py
  tests/profiler/test_profile_sla_dryrun.py
Labels: size/XL, test

#3038 chore: 400 Error Code for Bad Completion and ChatCompletion Request
  lib/llm/src/http/service/openai.rs
  lib/llm/src/protocols/openai/chat_completions.rs
  lib/llm/src/protocols/openai/completions.rs
  lib/llm/src/protocols/openai/validate.rs
Labels: size/L, chore

#2792 feat: Dynamo deployment and benchmarking recipe for llama3-70b and oss-gpt-120b
  recipes/README.md
  recipes/gpt-oss-120b/trtllm/agg/bench.yaml
  recipes/gpt-oss-120b/trtllm/agg/config.yaml
  recipes/gpt-oss-120b/trtllm/agg/deploy.yaml
  recipes/gpt-oss-120b/trtllm/agg/service.yaml
  recipes/hf_hub_secret/hf_hub_secret.yaml
  recipes/llama-3-70b/model-cache/model-cache.yaml
  recipes/llama-3-70b/model-cache/model-download.yaml
  recipes/llama-3-70b/vllm/agg/deploy.yaml
  recipes/llama-3-70b/vllm/agg/perf.yaml
  recipes/llama-3-70b/vllm/disagg-multi-node/deploy.yaml
  recipes/llama-3-70b/vllm/disagg-multi-node/perf.yaml
  recipes/llama-3-70b/vllm/disagg-single-node/deploy.yaml
  recipes/llama-3-70b/vllm/disagg-single-node/perf.yaml
  recipes/run.sh
Labels: size/XXL, feat

#3022 fix: implement OpenAI-compliant usage stats for streaming responses
  .gitignore
  lib/llm/src/preprocessor.rs
  lib/llm/src/protocols/openai.rs
  lib/llm/src/protocols/openai/chat_completions/delta.rs
  lib/llm/src/protocols/openai/completions/delta.rs
  lib/llm/tests/test_streaming_usage.rs
Labels: size/L, fix

#3042 chore: add additional param support for multimodal models
  Cargo.lock
  lib/async-openai/Cargo.toml
  lib/async-openai/src/types/chat.rs
  lib/async-openai/src/types/impls.rs
  lib/bindings/python/Cargo.lock
Labels: size/L, chore

#2914 feat: add HTTP queue metrics for NIM frontend request tracking
  deploy/metrics/README.md
  lib/llm/src/discovery/model_manager.rs
  lib/llm/src/grpc/service/kserve.rs
  lib/llm/src/grpc/service/openai.rs
  lib/llm/src/http/service/metrics.rs
  lib/llm/src/http/service/openai.rs
  lib/runtime/src/metrics/prometheus_names.rs
Labels: size/XL, feat

#2899 feat: add file permission checking to dynamo_check.py
  deploy/dynamo_check.py
Labels: size/XL, feat

#3003 docs: health check and structured logs (#2805)
  docs/guides/health_check.md
  docs/guides/logging.md
  lib/llm/src/http/service/health.rs
Labels: size/L, docs

#3057 fix: Interactive inputs actually stops, does not ignore stop token
  docs/guides/dynamo_run.md
  launch/dynamo-run/src/flags.rs
  launch/dynamo-run/src/lib.rs
  launch/dynamo-run/src/opt.rs
  lib/bindings/python/Cargo.lock
  lib/bindings/python/rust/llm/entrypoint.rs
  lib/llm/src/engines.rs
  lib/llm/src/entrypoint/input/common.rs
  lib/llm/src/entrypoint/input/endpoint.rs
  lib/llm/src/entrypoint/input/text.rs
  lib/llm/src/local_model.rs
  lib/runtime/src/system_status_server.rs
Labels: size/L, fix

#3063 chore: Remove more extended Apache headers
  components/metrics/src/bin/mock_worker.rs
  components/metrics/src/lib.rs
  components/metrics/src/main.rs
  launch/dynamo-run/build.rs
  launch/dynamo-run/src/flags.rs
  lib/bindings/c/build.rs
  lib/bindings/c/src/lib.rs
  lib/bindings/python/rust/engine.rs
  lib/bindings/python/rust/http.rs
  lib/bindings/python/rust/llm/block_manager.rs
  lib/bindings/python/rust/llm/block_manager/block.rs
  lib/bindings/python/rust/llm/block_manager/block_list.rs
  lib/bindings/python/rust/llm/block_manager/dlpack.rs
  lib/bindings/python/rust/llm/block_manager/layer.rs
  lib/bindings/python/rust/llm/block_manager/vllm/block_list.rs
  lib/bindings/python/rust/llm/disagg_router.rs
  lib/bindings/python/rust/llm/kv.rs
  lib/bindings/python/rust/llm/nats.rs
  lib/tokens/src/lib.rs
Labels: size/L, chore

#3068 feat: add mooncake-style benchmarking for router
  benchmarks/router/README.md
  benchmarks/router/prefix_ratio_benchmark.py
  benchmarks/router/real_data_benchmark.py
Labels: size/L, feat

#3060 fix: Cp planner
  tests/planner/README.md
  tests/planner/scaling/run_scaling_test.sh
  tests/planner/test_replica_calculation.py
Labels: size/M, fix

#3069 chore: a few small benchmarking and profiling improvements
  .gitignore
  benchmarks/benchmark.sh
  docs/benchmarks/pre_deployment_profiling.md
Labels: size/S, chore

#3066 docs: add benchmark section to KVBM vLLM runbook
  docs/guides/run_kvbm_in_vllm.md
Labels: size/S, docs

#3075 fix: replace hard coded dynamo namespace with env var (#3048)
  components/backends/llama_cpp/src/dynamo/llama_cpp/main.py
  components/backends/sglang/src/dynamo/sglang/args.py
  examples/multimodal/components/encode_worker.py
  examples/multimodal/components/processor.py
  examples/multimodal/components/video_encode_worker.py
  examples/multimodal/components/worker.py
  examples/multimodal/utils/args.py
  lib/bindings/python/examples/hello_world/server_sglang.py
  lib/bindings/python/examples/hello_world/server_sglang_static.py
  lib/bindings/python/examples/hello_world/server_sglang_tok.py
  lib/bindings/python/examples/hello_world/server_vllm.py
Labels: size/M, fix

#3071 feat: update directory structure in script and simplify planner scali…
  tests/planner/README.md
  tests/planner/scaling/disagg_planner.yaml
  tests/planner/scaling/run_scaling_test.sh
  tests/planner/test_replica_calculation.py
  tests/planner/test_scaling_e2e.py
  tests/planner/utils/load_generator.py
Labels: size/M, feat

#3024 feat: kv commit router
  lib/llm/src/kv_router.rs
  lib/llm/src/kv_router/protocols.rs
Labels: external-contribution, size/M, feat

#3078 feat: make connect_with_reset jetstream configurable
  lib/runtime/src/transports/nats.rs
Labels: external-contribution, size/XS, feat

#2903 feat: Canary Health Check.
  components/backends/trtllm/src/dynamo/trtllm/health_check.py
  components/backends/vllm/src/dynamo/vllm/health_check.py
  components/backends/vllm/src/dynamo/vllm/main.py
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller_test.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
  lib/bindings/python/Cargo.lock
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/bindings/python/src/dynamo/health_check.py
  lib/runtime/src/component/endpoint.rs
  lib/runtime/src/config.rs
  lib/runtime/src/distributed.rs
  lib/runtime/src/health_check.rs
  lib/runtime/src/lib.rs
  lib/runtime/src/pipeline/network.rs
  lib/runtime/src/pipeline/network/ingress/push_handler.rs
  lib/runtime/src/system_health.rs
  lib/runtime/src/system_status_server.rs
  tests/planner/perf_test_configs/agg_8b.yaml
  tests/planner/profiling_results/H200_TP1P_TP1D/disagg.yaml
Labels: size/XXL, feat

#2985 fix: resolve token loss bug in final packet
  components/backends/sglang/src/dynamo/sglang/request_handlers/decode_handler.py
  components/backends/trtllm/src/dynamo/trtllm/request_handlers/handler_base.py
  components/backends/vllm/src/dynamo/vllm/handlers.py
Labels: external-contribution, size/M, fix

#3073 feat: Make part of discovery re-usable
  lib/bindings/python/rust/llm/model_card.rs
  lib/llm/src/discovery/model_entry.rs
  lib/llm/src/discovery/watcher.rs
  lib/llm/src/local_model.rs
  lib/llm/src/model_card.rs
  lib/llm/tests/backend.rs
  lib/llm/tests/model_card.rs
  lib/llm/tests/preprocessor.rs
Labels: size/L, feat

#3088 fix: update golang container to remove CVE
  deploy/cloud/operator/Earthfile
Labels: size/XS, fix

#3086 chore(bindings): Remove NatsQueue
  lib/bindings/python/Cargo.lock
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/rust/llm.rs
  lib/bindings/python/rust/llm/nats.rs
  lib/bindings/python/src/dynamo/_core.pyi
Labels: size/L, chore

#3089 fix: update golang container to remove CVE (#3088)
  deploy/cloud/operator/Earthfile
Labels: size/XS, fix

#3053 chore: update the tags of deployment containers to thre 0.5.0 release
  components/backends/sglang/deploy/README.md
  components/backends/sglang/deploy/agg.yaml
  components/backends/sglang/deploy/agg_logging.yaml
  components/backends/sglang/deploy/agg_router.yaml
  components/backends/sglang/deploy/disagg-multinode.yaml
  components/backends/sglang/deploy/disagg.yaml
  components/backends/trtllm/deploy/README.md
  components/backends/vllm/deploy/README.md
  components/backends/vllm/deploy/agg.yaml
  components/backends/vllm/deploy/agg_router.yaml
  components/backends/vllm/deploy/disagg.yaml
  components/backends/vllm/deploy/disagg_planner.yaml
  components/backends/vllm/deploy/disagg_router.yaml
  examples/multimodal/deploy/agg_llava.yaml
  examples/multimodal/deploy/agg_qwen.yaml
  examples/runtime/hello_world/deploy/hello_world.yaml
Labels: size/M, chore

#3072 feat: decouple existing benchmarking within docs
  benchmarks/README.md
  benchmarks/benchmark.sh
  docs/benchmarks/benchmarking.md
Labels: size/XL, feat

#3074 fix: harmony parser streaming fix
  Cargo.lock
  lib/llm/src/preprocessor.rs
  lib/llm/tests/test_preprocessor.rs
  lib/parsers/Cargo.toml
  lib/parsers/src/tool_calling/harmony/harmony_parser.rs
  lib/parsers/src/tool_calling/parsers.rs
  lib/parsers/src/tool_calling/tools.rs
Labels: size/XL, fix

#3081 chore: reorder dynamo_check.py output (very minor)
  deploy/dynamo_check.py
Labels: size/XS, chore

#3096 chore: set default tool calling behaviour to be disabled
  lib/llm/src/preprocessor.rs
  lib/llm/tests/test_preprocessor.rs
Labels: size/M, chore

#3097 docs: Emphasize Release Assets in docs: updating the landing page repo link to point to latest
  docs/index.rst
Labels: size/XS, docs

#3091 fix: add jq to sglang-wideep docker image
  container/Dockerfile.sglang-wideep
Labels: size/XS, fix

#3122 fix: crates.io allows at most 5 keywords
  Cargo.toml
Labels: size/XS, fix

#3087 feat: add finish reason = tool_calls for stream=False and phi-4 detect token start fix
  lib/bindings/python/Cargo.lock
  lib/llm/src/protocols/openai/chat_completions/aggregator.rs
  lib/parsers/src/tool_calling/harmony/harmony_parser.rs
  lib/parsers/src/tool_calling/json/base_json_parser.rs
  lib/parsers/src/tool_calling/json/deepseek_parser.rs
  lib/parsers/src/tool_calling/parsers.rs
Labels: size/XL, feat

#3121 chore: add codeowners for recipes folder
  CODEOWNERS
Labels: size/XS, chore

#3083 fix: add prometheus_client to dep instead of transitive dependency
  container/deps/requirements.txt
  tests/planner/README.md
Labels: size/XS, fix

#2981 feat: Update docs to indicate need to use consistent hashing for KV events in backend engines
  benchmarks/router/run_engines.sh
  components/backends/sglang/README.md
  components/backends/vllm/README.md
  docs/architecture/kv_cache_routing.md
Labels: external-contribution, size/S, feat

#3098 feat: remove kubectl dependencies from benchmarking
  benchmarks/README.md
  benchmarks/utils/benchmark.py
  benchmarks/utils/workflow.py
  docs/benchmarks/benchmarking.md
Labels: size/L, feat

#3092 feat(operator): mechanism for disabling imagePullSecrets discovery
  deploy/cloud/operator/internal/consts/consts.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
  docs/guides/dynamo_deploy/create_deployment.md
Labels: size/L, feat

#3099 refactor: simplify Dockerfile.vllm, enable local-dev for all frameworks
  .devcontainer/README.md
  container/Dockerfile.local_dev
  container/Dockerfile.vllm
  container/README.md
  container/build.sh
Labels: size/XL, refactor

#3004 feat: Request Cancellation unary request support
  examples/custom_backend/cancellation/middle_server.py
  lib/bindings/python/tests/test_cancellation/test_client_context_cancel.py
  lib/bindings/python/tests/test_cancellation/test_example.py
  lib/llm/src/migration.rs
  lib/runtime/src/pipeline/context.rs
  lib/runtime/src/pipeline/network.rs
  lib/runtime/src/pipeline/network/egress/addressed_router.rs
  lib/runtime/src/pipeline/network/egress/push_router.rs
  lib/runtime/src/pipeline/network/ingress/push_handler.rs
  lib/runtime/src/pipeline/network/tcp/client.rs
  tests/fault_tolerance/test_request_cancellation.py
Labels: size/L, feat

#3009 build: OPS-597, OPS-861 restructure TRT-LLM to follow container strategy structure + add gating tests for public CI
  .github/workflows/container-validation-backends.yml
  container/Dockerfile.trtllm
  container/build.sh
Labels: size/XL, build

#3142 chore(CODEOWNERS): Manage permissions by team not by individual
  CODEOWNERS
Labels: size/M, chore

#3128 chore: Reduce the logging contention among workers
  components/backends/trtllm/performance_sweeps/baseline_disagg.slurm
  components/backends/trtllm/performance_sweeps/benchmark_disagg.slurm
  components/backends/trtllm/performance_sweeps/scripts/bench.sh
Labels: size/M, chore

#3135 feat: allow router to not track active blocks (prefill), and to not track cached blocks (decode)
  docs/architecture/kv_cache_routing.md
  launch/dynamo-run/src/flags.rs
  lib/bindings/python/rust/llm/entrypoint.rs
  lib/llm/src/kv_router.rs
  lib/llm/src/kv_router/prefill_counter.rs
  lib/llm/src/kv_router/protocols.rs
  lib/llm/src/kv_router/scheduler.rs
  lib/llm/src/kv_router/sequence.rs
Labels: size/XXL, feat

#2936 feat: add granite class of reasoning parser
  lib/parsers/src/reasoning/granite_parser.rs
  lib/parsers/src/reasoning/mod.rs
Labels: size/L, feat

#3147 chore: Upgrade Rust to 1.90
  Earthfile
  container/Dockerfile
  container/Dockerfile.sglang-wideep
  container/Dockerfile.trtllm_prebuilt
  lib/bindings/python/Cargo.toml
  lib/bindings/python/rust/context.rs
  lib/bindings/python/rust/engine.rs
  lib/bindings/python/rust/http.rs
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/rust/llm/block_manager/vllm.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader/slot.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/trtllm_leader.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/trtllm_worker.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/worker.rs
  lib/bindings/python/rust/llm/block_manager/vllm/slot.rs
  lib/bindings/python/rust/llm/entrypoint.rs
  lib/bindings/python/rust/llm/kv.rs
  lib/bindings/python/rust/llm/preprocessor.rs
  lib/llm/src/mocker/sequence.rs
  lib/runtime/examples/Cargo.toml
  lib/runtime/examples/hello_world/src/bin/client.rs
  lib/runtime/examples/hello_world/src/bin/server.rs
  lib/runtime/examples/rust-toolchain.toml
  lib/runtime/examples/service_metrics/src/bin/service_client.rs
  lib/runtime/examples/service_metrics/src/bin/service_server.rs
  lib/runtime/examples/system_metrics/src/bin/system_client.rs
  lib/runtime/examples/system_metrics/src/bin/system_server.rs
  lib/runtime/examples/system_metrics/src/lib.rs
  lib/runtime/examples/system_metrics/tests/integration_test.rs
  rust-toolchain.toml
Labels: size/L, chore

#3168 fix: add deepep and pplx pinning commit in vllm repo checkout
  container/deps/vllm/install_vllm.sh
Labels: size/XS, fix

#3126 feat: vllm. Use prefill-specific health check payload and use bos as token_id
  components/backends/vllm/src/dynamo/vllm/health_check.py
  components/backends/vllm/src/dynamo/vllm/main.py
Labels: size/M, feat

#3152 docs: Fixing Sphinx errors casued by structural problems
  docs/guides/health_check.md
  docs/hidden_toctree.rst
  docs/index.rst
Labels: size/S, docs

#2154 feat: replace Earthly
  Earthfile
  deploy/cloud/operator/Dockerfile
  deploy/cloud/operator/Earthfile
  docs/guides/dynamo_deploy/installation_guide.md
Labels: size/M, feat

#3155 feat: vllm prefill router
  benchmarks/router/README.md
  benchmarks/router/ping.sh
  benchmarks/router/prefix_ratio_benchmark.py
  benchmarks/router/real_data_benchmark.py
  benchmarks/router/run_engines.sh
  components/backends/vllm/launch/agg_router.sh
  components/backends/vllm/launch/disagg_router.sh
  components/backends/vllm/src/dynamo/vllm/handlers.py
  components/backends/vllm/src/dynamo/vllm/main.py
  components/backends/vllm/src/dynamo/vllm_prefill_router/__init__.py
  components/backends/vllm/src/dynamo/vllm_prefill_router/__main__.py
  launch/dynamo-run/src/flags.rs
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/rust/llm/entrypoint.rs
  lib/bindings/python/rust/llm/kv.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/bindings/python/src/dynamo/llm/__init__.py
  lib/llm/src/kv_router.rs
  lib/llm/src/kv_router/scheduler.rs
Labels: size/XL, feat

#3157 feat: allow setting affinity for controller manager pod
  deploy/cloud/helm/platform/README.md
  deploy/cloud/helm/platform/components/operator/templates/deployment.yaml
  deploy/cloud/helm/platform/values.yaml
  docs/Makefile
Labels: size/S, feat

#3185 feat: support MoE model in SLA Planner Sglang
  benchmarks/profiler/deploy/profile_sla_moe_job.yaml
  benchmarks/profiler/profile_endpoint.py
  benchmarks/profiler/profile_sla.py
  benchmarks/profiler/utils/config.py
  benchmarks/profiler/utils/defaults.py
  benchmarks/profiler/utils/plot.py
  benchmarks/profiler/utils/profile_decode.py
  components/backends/sglang/deploy/agg.yaml
  components/backends/sglang/deploy/agg_logging.yaml
  components/backends/sglang/deploy/agg_router.yaml
  components/backends/sglang/deploy/disagg.yaml
  components/backends/sglang/deploy/disagg_planner.yaml
  components/planner/src/dynamo/planner/defaults.py
  components/planner/src/dynamo/planner/utils/planner_argparse.py
  container/Dockerfile.sglang-wideep
  deploy/utils/dynamo_deployment.py
  docs/benchmarks/pre_deployment_profiling.md
  tests/profiler/test_profile_sla_aiconfigurator.py
  tests/profiler/test_profile_sla_dryrun.py
Labels: size/XL, feat

#3134 feat: allow framework tokenization/detokenization
  components/backends/sglang/README.md
  components/backends/sglang/launch/agg.sh
  components/backends/sglang/launch/agg_router.sh
  components/backends/sglang/launch/disagg.sh
  components/backends/sglang/launch/disagg_dp_attn.sh
  components/backends/sglang/src/dynamo/sglang/args.py
  components/backends/sglang/src/dynamo/sglang/protocol.py
  components/backends/sglang/src/dynamo/sglang/register.py
  components/backends/sglang/src/dynamo/sglang/request_handlers/decode_handler.py
  components/backends/sglang/src/dynamo/sglang/request_handlers/handler_base.py
  components/backends/sglang/src/dynamo/sglang/request_handlers/prefill_handler.py
Labels: size/L, feat

#3107 feat: add NIM FE (num_request_max) + runtime config metrics with periodic polling
  components/backends/sglang/src/dynamo/sglang/register.py
  components/backends/trtllm/src/dynamo/trtllm/main.py
  deploy/metrics/README.md
  lib/llm/src/http/service/metrics.rs
  lib/llm/src/http/service/service_v2.rs
  lib/llm/tests/http_metrics.rs
  lib/runtime/src/metrics/prometheus_names.rs
Labels: size/XL, feat

#3190 feat: allow users to only plot certain subdirs
  benchmarks/README.md
  benchmarks/utils/plot.py
  docs/benchmarks/benchmarking.md
Labels: size/M, feat

#3184 docs: mermaid diagrams showcasing various KV router features
  docs/architecture/kv_cache_routing.md
Labels: size/L, docs

#3191 feat: modelexpress dynamo integration
  Cargo.lock
  Cargo.toml
  container/Dockerfile
  lib/llm/Cargo.toml
  lib/llm/src/hub.rs
Labels: size/L, feat

#3171 ci: Create DCO.md to help contributors
  .github/workflows/dco_comment.yml
  CONTRIBUTING.md
  DCO.md
Labels: ci, size/L

#3199 feat: install dynamo operator cluster-wide by default
  deploy/cloud/helm/platform/README.md
  deploy/cloud/helm/platform/README.md.gotmpl
  deploy/cloud/helm/platform/components/operator/templates/_validation.tpl
  deploy/cloud/helm/platform/components/operator/templates/deployment.yaml
  deploy/cloud/helm/platform/components/operator/templates/leader-election-rbac.yaml
  deploy/cloud/helm/platform/components/operator/values.yaml
  deploy/cloud/helm/platform/values.yaml
  deploy/cloud/operator/cmd/main.go
  deploy/cloud/operator/internal/dynamo/backend_sglang_test.go
  docs/kubernetes/README.md
  docs/kubernetes/installation_guide.md
  docs/kubernetes/logging.md
Labels: size/L, feat

#3187 feat: update how inputs are input into the benchmark script
  benchmarks/README.md
  benchmarks/incluster/benchmark_job.yaml
  benchmarks/utils/benchmark.py
  benchmarks/utils/workflow.py
  docs/benchmarks/benchmarking.md
Labels: size/L, feat

#3215 chore: version bumps for 0.5.1 release
  benchmarks/incluster/benchmark_job.yaml
  components/backends/sglang/README.md
  components/backends/sglang/deploy/README.md
  components/backends/sglang/deploy/agg.yaml
  components/backends/sglang/deploy/agg_logging.yaml
  components/backends/sglang/deploy/agg_router.yaml
  components/backends/sglang/deploy/disagg-multinode.yaml
  components/backends/sglang/deploy/disagg.yaml
  components/backends/sglang/deploy/disagg_planner.yaml
  components/backends/trtllm/deploy/README.md
  components/backends/trtllm/deploy/agg-with-config.yaml
  components/backends/trtllm/deploy/agg.yaml
  components/backends/trtllm/deploy/agg_router.yaml
  components/backends/trtllm/deploy/disagg-multinode.yaml
  components/backends/trtllm/deploy/disagg.yaml
  components/backends/trtllm/deploy/disagg_planner.yaml
  components/backends/trtllm/deploy/disagg_router.yaml
  components/backends/vllm/deploy/README.md
  components/backends/vllm/deploy/agg.yaml
  components/backends/vllm/deploy/agg_router.yaml
  components/backends/vllm/deploy/disagg-multinode.yaml
  components/backends/vllm/deploy/disagg.yaml
  components/backends/vllm/deploy/disagg_planner.yaml
  components/backends/vllm/deploy/disagg_router.yaml
  deploy/cloud/helm/crds/Chart.yaml
  deploy/cloud/helm/platform/Chart.yaml
  deploy/cloud/helm/platform/components/operator/Chart.yaml
  deploy/cloud/operator/Earthfile
  deploy/cloud/operator/internal/secrets/docker_test.go
  deploy/helm/chart/Chart.yaml
  deploy/inference-gateway/helm/dynamo-gaie/values.yaml
  docs/_includes/install.rst
  docs/benchmarks/benchmarking.md
  docs/benchmarks/pre_deployment_profiling.md
  docs/kubernetes/create_deployment.md
  examples/basics/kubernetes/Distributed_Inference/agg_router.yaml
  examples/custom_backend/hello_world/deploy/hello_world.yaml
  examples/deployments/ECS/task_definition_frontend.json
  examples/deployments/ECS/task_definition_prefillworker.json
  examples/multimodal/deploy/agg_llava.yaml
  examples/multimodal/deploy/agg_qwen.yaml
  recipes/gpt-oss-120b/trtllm/agg/bench.yaml
  recipes/gpt-oss-120b/trtllm/agg/deploy.yaml
  recipes/llama-3-70b/vllm/agg/deploy.yaml
  recipes/llama-3-70b/vllm/agg/perf.yaml
  recipes/llama-3-70b/vllm/disagg-multi-node/deploy.yaml
  recipes/llama-3-70b/vllm/disagg-multi-node/perf.yaml
  recipes/llama-3-70b/vllm/disagg-single-node/deploy.yaml
  recipes/llama-3-70b/vllm/disagg-single-node/perf.yaml
  tests/planner/perf_test_configs/agg_8b.yaml
  tests/planner/perf_test_configs/disagg_8b_2p2d.yaml
  tests/planner/perf_test_configs/disagg_8b_3p1d.yaml
  tests/planner/perf_test_configs/disagg_8b_planner.yaml
  tests/planner/perf_test_configs/disagg_8b_tp2.yaml
  tests/planner/perf_test_configs/image_cache_daemonset.yaml
  tests/planner/profiling_results/H200_TP1P_TP1D/disagg.yaml
  tests/planner/scaling/disagg_planner.yaml
Labels: size/L, chore

#3213 docs: add start vllm + KVBM using dynamo into runbook
  docs/guides/run_kvbm_in_vllm.md
Labels: size/S, docs

#3170 feat(dynamo_planner): add use-pre-swept-results to Dynamo Planner
  components/planner/src/dynamo/planner/utils/perf_interpolation.py
  components/planner/src/dynamo/planner/utils/planner_argparse.py
  components/planner/src/dynamo/planner/utils/planner_core.py
  components/planner/src/dynamo/planner/utils/pre_swept_results/h100_sxm/vllm/nvidia/Llama-3.3-70B-Instruct-FP8/decode.npz
  components/planner/src/dynamo/planner/utils/pre_swept_results/h100_sxm/vllm/nvidia/Llama-3.3-70B-Instruct-FP8/prefill.npz
  components/planner/src/dynamo/planner/utils/pre_swept_results/h200_sxm/vllm/nvidia/Llama-3.1-8B-Instruct-FP8/decode.npz
  components/planner/src/dynamo/planner/utils/pre_swept_results/h200_sxm/vllm/nvidia/Llama-3.1-8B-Instruct-FP8/prefill.npz
  components/planner/src/dynamo/planner/utils/pre_swept_results_utils.py
Labels: size/L, feat

#3222 fix: Fix multimodal vllm test
  examples/multimodal/utils/chat_processor.py
  examples/multimodal/utils/protocol.py
Labels: size/XS, fix

#3160 feat: Add distributed tracing context support to Python bindings
  lib/bindings/python/rust/context.rs
  lib/bindings/python/rust/engine.rs
  lib/bindings/python/rust/lib.rs
Labels: size/L, feat

#3180 chore: bump vllm version to 0.10.2
  container/Dockerfile.vllm
  container/deps/vllm/install_vllm.sh
  examples/multimodal/utils/chat_processor.py
  examples/multimodal/utils/protocol.py
  lib/bindings/python/rust/llm/kv.rs
  lib/llm/src/kv_router/indexer.rs
  lib/llm/src/kv_router/publisher.rs
  pyproject.toml
Labels: size/XL, chore

#3242 docs: mention need for H100 for gpt-oss-120b in router benchmarking docs
  benchmarks/router/README.md
Labels: size/S, docs

#3234 docs: remove prebuilt TRT-LLM requirement in gpt-oss guide
  components/backends/trtllm/gpt-oss.md
  container/Dockerfile.trtllm_prebuilt
Labels: size/L, docs

#3207 feat: replace polling with event-driven metrics updates
  lib/llm/src/entrypoint/input/http.rs
  lib/llm/src/http/service/metrics.rs
  lib/llm/src/http/service/service_v2.rs
  lib/llm/tests/http_metrics.rs
Labels: size/XL, feat

#3238 chore: Remove etcd from python bindings
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/bindings/python/src/dynamo/runtime/__init__.py
  tests/router/test_router_e2e_with_mockers.py
Labels: size/L, chore

#3193 feat: Request Cancellation TRT-LLM
  components/backends/trtllm/src/dynamo/trtllm/request_handlers/handler_base.py
  components/backends/trtllm/src/dynamo/trtllm/request_handlers/handlers.py
  tests/fault_tolerance/cancellation/__init__.py
  tests/fault_tolerance/cancellation/test_trtllm.py
  tests/fault_tolerance/cancellation/test_vllm.py
  tests/fault_tolerance/cancellation/utils.py
Labels: size/XXL, feat

#3255 docs: remove prebuilt TRT-LLM requirement in gpt-oss guide (#3234)
  components/backends/trtllm/gpt-oss.md
  container/Dockerfile.trtllm_prebuilt
Labels: size/L, docs

#3252 chore: Switch lto to from "fat"/true to "thin"
  Cargo.toml
Labels: size/XS, chore

#3236 ci: use large runners for pre merge rust
  .github/workflows/pre-merge-rust.yml
Labels: ci, size/S

#3231 chore: added more api error code validations
  lib/llm/src/http/service/openai.rs
  lib/llm/src/protocols/common.rs
  lib/llm/src/protocols/openai.rs
  lib/llm/src/protocols/openai/chat_completions.rs
  lib/llm/src/protocols/openai/common_ext.rs
  lib/llm/src/protocols/openai/completions.rs
  lib/llm/src/protocols/openai/nvext.rs
  lib/llm/src/protocols/openai/validate.rs
Labels: size/L, chore

#3227 feat: Add sglang k8 FT tests
  tests/fault_tolerance/deploy/README.md
  tests/fault_tolerance/deploy/scenarios.py
  tests/fault_tolerance/deploy/test_deployment.py
  tests/utils/managed_deployment.py
Labels: size/L, feat

#3254 feat: enable KVBM emit metrics in Dynamo TRTLLM
  deploy/metrics/prometheus.yml
  docs/guides/run_kvbm_in_trtllm.md
  docs/guides/run_kvbm_in_vllm.md
  lib/bindings/python/rust/llm/block_manager/vllm/connector/trtllm_worker.rs
  lib/bindings/python/src/dynamo/llm/trtllm_integration/connector/kvbm_connector_leader.py
  lib/bindings/python/src/dynamo/llm/trtllm_integration/connector/kvbm_connector_worker.py
  lib/bindings/python/src/dynamo/llm/utils.py
  lib/bindings/python/src/dynamo/llm/vllm_integration/connector_leader.py
  lib/bindings/python/src/dynamo/llm/vllm_integration/connector_worker.py
  lib/bindings/python/src/dynamo/llm/vllm_integration/kv_cache_utils.py
Labels: size/L, feat

#3250 chore: add loopback as default address for network
  lib/runtime/src/pipeline/network/tcp/server.rs
Labels: external-contribution, size/L, chore

#3290 docs: remove hardcoded version in quick start
  docs/_includes/quick_start_local.rst
Labels: size/XS, docs

#3264 fix: more fixes for stable router benchmarking
  benchmarks/prefix_data_generator/synthesizer.py
  benchmarks/router/README.md
  benchmarks/router/real_data_benchmark.py
  components/frontend/src/dynamo/frontend/main.py
  docs/architecture/kv_cache_routing.md
  lib/bindings/python/rust/llm/entrypoint.rs
  lib/llm/src/kv_router.rs
  lib/runtime/src/transports/nats.rs
Labels: size/L, fix

#3300 test: Allow prefill cancellation tests to fail
  tests/fault_tolerance/cancellation/test_trtllm.py
  tests/fault_tolerance/cancellation/test_vllm.py
Labels: size/S, test

#3285 fix: copy wheel from trtllm wheel stage
  container/Dockerfile.trtllm
Labels: size/XS, fix

#3294 fix: operator planner metric port injection
  deploy/cloud/operator/internal/dynamo/component_planner.go
  deploy/cloud/operator/internal/dynamo/component_planner_test.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
Labels: size/M, fix

#3269 test: create a helper function to send request directly to mocker instances
  tests/router/test_router_e2e_with_mockers.py
Labels: external-contribution, size/L, test

#3312 docs: remove base container as it varies, note no support trtllm py 3.11
  docs/support_matrix.md
Labels: size/XS, docs

#3308 fix: KV Router bindings docs
  docs/architecture/kv_cache_routing.md
Labels: size/XS, fix

#3301 fix: Fix gpt_oss_parser last_content_delta to accumulate tokens + add regression test
  lib/parsers/src/reasoning/gpt_oss_parser.rs
Labels: size/L, fix
