Repository ai-dynamo/dynamo, pull requests merged in 2025-05, with the labels that each got.

#916 fix: add dedicated llmapi config for trtllm disagg kv routing example
  examples/tensorrt_llm/README.md
  examples/tensorrt_llm/common/base_engine.py
  examples/tensorrt_llm/configs/disagg_router.yaml
  examples/tensorrt_llm/configs/llmapi_disagg_router_configs/single_node_config.yaml
Labels: size/M

#917 feat: Support hf:// URLs in dynamo run
  launch/dynamo-run/src/lib.rs
Labels: external-contribution, size/S

#774 feat: Add check for version info in container build script
  container/build.sh
Labels: external-contribution, size/XS

#903 chore(dynamo-llm): Move the pre-processor to ingress side
  Cargo.lock
  Cargo.toml
  components/http/src/main.rs
  launch/dynamo-run/Cargo.toml
  launch/dynamo-run/src/input/batch.rs
  launch/dynamo-run/src/input/common.rs
  launch/dynamo-run/src/input/endpoint.rs
  launch/dynamo-run/src/input/http.rs
  launch/dynamo-run/src/input/text.rs
  launch/dynamo-run/src/lib.rs
  launch/llmctl/src/main.rs
  lib/bindings/python/Cargo.lock
  lib/llm/Cargo.toml
  lib/llm/src/http/service/discovery.rs
  lib/llm/src/model_card/model.rs
  lib/llm/src/model_type.rs
  lib/llm/src/preprocessor/prompt/template.rs
  lib/runtime/src/component.rs
  lib/runtime/src/transports/nats.rs
Labels: size/XL

#926 fix: default docker username and password are empty
  deploy/dynamo/helm/deploy.sh
Labels: size/XS

#930 docs: Add multi-node TRTLLM steps to README
  examples/tensorrt_llm/README.md
Labels: size/M

#837 feat: Update to support completion endpoint in TRTLLM
  examples/tensorrt_llm/README.md
  examples/tensorrt_llm/common/chat_processor.py
  examples/tensorrt_llm/components/frontend.py
  examples/tensorrt_llm/components/processor.py
  examples/tensorrt_llm/configs/agg.yaml
  examples/tensorrt_llm/configs/agg_router.yaml
  examples/tensorrt_llm/configs/disagg.yaml
  examples/tensorrt_llm/configs/disagg_router.yaml
Labels: size/M

#928 fix: use primary lease for NixlMetadataStore
  examples/llm/utils/nixl.py
  lib/bindings/python/examples/hello_world/server.py
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/src/dynamo/_core.pyi
Labels: size/M

#944 chore: merge in support matrix and nixl commit hash
  container/build.sh
  support_matrix.md
Labels: size/S

#931 feat: allow to set http port
  deploy/dynamo/sdk/src/dynamo/sdk/cli/serve_dynamo.py
Labels: size/XS

#946 feat: automatically reserve port for assigning port number to endpoint and pubsub
  deploy/dynamo/sdk/src/dynamo/sdk/cli/circus.py
Labels: size/S

#904 feat: multi-thread (via asyncio.task) in processor
  examples/llm/components/processor.py
  examples/llm/configs/agg.yaml
  examples/llm/utils/vllm.py
Labels: size/L

#950 fix: remove requirement for istio in doc
  docs/guides/dynamo_deploy/dynamo_cloud.md
Labels: size/S

#934 feat: dynamo-run <-> python interop
  Cargo.lock
  launch/dynamo-run/Cargo.toml
  launch/dynamo-run/src/input/batch.rs
  launch/dynamo-run/src/input/common.rs
  launch/dynamo-run/src/input/endpoint.rs
  launch/dynamo-run/src/input/http.rs
  launch/dynamo-run/src/lib.rs
  lib/bindings/python/Cargo.lock
  lib/bindings/python/examples/hello_world/server_vllm.py
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/rust/llm/model_card.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/bindings/python/src/dynamo/llm/__init__.py
  lib/llm/Cargo.toml
  lib/llm/src/hub.rs
  lib/llm/src/lib.rs
  lib/llm/src/local_model.rs
  lib/llm/src/model_card/create.rs
  lib/llm/src/model_card/model.rs
  lib/llm/tests/backend.rs
  lib/llm/tests/model_card.rs
  lib/llm/tests/preprocessor.rs
  lib/runtime/src/component.rs
Labels: size/XL

#958 chore: Two-line copyright check
  .github/workflows/copyright-check.ps1
Labels: size/M

#951 docs: add drt doc
  docs/distributed_runtime.md
Labels: size/M

#961 feat: Migrate NATS Queue to Rust (#669)
  examples/llm/utils/nats_queue.py
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/rust/llm.rs
  lib/bindings/python/rust/llm/nats.rs
  lib/runtime/src/transports/nats.rs
Labels: size/L

#953 fix: create k8s service for main component only
  deploy/cloud/operator/api/v1alpha1/dynamocomponentdeployment_types.go
  deploy/cloud/operator/api/v1alpha1/dynamocomponentdeployment_types_test.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller.go
Labels: size/M

#981 fix: fix missing num_remote_prefill_groups in vLLM patch
  container/deps/vllm/vllm_v0.8.4-dynamo-kv-disagg-patch.patch
Labels: size/M

#982 fix: Create default sampling params only once during initialization
  examples/llm/components/processor.py
  examples/llm/utils/chat_processor.py
Labels: size/XS

#966 chore: Remove embedded Python vllm and sglang engines
  Cargo.lock
  container/Dockerfile.none
  container/Dockerfile.tensorrt_llm
  container/Dockerfile.vllm
  docs/guides/dynamo_run.md
  launch/dynamo-run/Cargo.toml
  launch/dynamo-run/src/flags.rs
  launch/dynamo-run/src/input/common.rs
  launch/dynamo-run/src/input/endpoint.rs
  launch/dynamo-run/src/input/http.rs
  launch/dynamo-run/src/lib.rs
  launch/dynamo-run/src/main.rs
  launch/dynamo-run/src/net.rs
  launch/dynamo-run/src/opt.rs
  launch/dynamo-run/src/subprocess.rs
  launch/dynamo-run/src/subprocess/sglang_inc.py
  launch/dynamo-run/src/subprocess/vllm_inc.py
  lib/engines/python/src/lib.rs
  lib/engines/sglang/Cargo.toml
  lib/engines/sglang/src/engine.rs
  lib/engines/sglang/src/lib.rs
  lib/engines/sglang/src/sglang_inc.py
  lib/engines/sglang/src/subprocess.rs
  lib/engines/sglang/src/worker.rs
  lib/engines/vllm0_7/Cargo.toml
  lib/engines/vllm0_7/src/engine.rs
  lib/engines/vllm0_7/src/lib.rs
  lib/engines/vllm0_7/src/ray.rs
  lib/engines/vllm0_7/src/subprocess.rs
  lib/engines/vllm0_7/src/vllm_inc.py
  lib/engines/vllm0_7/src/worker.rs
  lib/engines/vllm0_8/Cargo.toml
  lib/engines/vllm0_8/src/lib.rs
  lib/engines/vllm0_8/src/vllm_inc.py
Labels: size/XXL

#975 fix: KV Block Manager Docker image build
  container/Dockerfile.vllm
Labels: size/XS

#969 fix: increase ulimit nofile for container/run.sh
  .devcontainer/devcontainer.json
  container/run.sh
Labels: size/S

#945 docs: add fix for Zsh globbing error with `pip install .[all]`
  README.md
  docs/guides/README.md
Labels: external-contribution, size/XS

#968 build: Cleans the TensorRTLLM + Dynamo container build
  container/Dockerfile.tensorrt_llm
  container/build.sh
  container/build_trtllm_wheel.sh
  examples/tensorrt_llm/README.md
  examples/tensorrt_llm/common/protocol.py
  examples/tensorrt_llm/configs/llmapi_disagg_configs/single_node_config.yaml
  examples/tensorrt_llm/configs/llmapi_disagg_router_configs/single_node_config.yaml
Labels: size/L

#988 fix: Check nvext for ignore_eos and set min_tokens for benchmark consistency
  examples/llm/benchmarks/perf.sh
  examples/tensorrt_llm/components/processor.py
Labels: size/S

#986 fix: Fix vllm/sglang engine model name if using HF repo
  docs/guides/dynamo_run.md
  launch/dynamo-run/src/lib.rs
  launch/dynamo-run/src/subprocess.rs
  launch/dynamo-run/src/subprocess/sglang_inc.py
  launch/dynamo-run/src/subprocess/vllm_inc.py
  lib/bindings/python/examples/hello_world/server_sglang.py
  lib/bindings/python/examples/hello_world/server_vllm.py
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/llm/src/local_model.rs
Labels: size/L

#811 feat: Add multimodal example with disaggregated serving
  examples/multimodal/README.md
  examples/multimodal/components/disagg_router.py
  examples/multimodal/components/prefill_worker.py
  examples/multimodal/components/worker.py
  examples/multimodal/configs/disagg.yaml
  examples/multimodal/graphs/__init__.py
  examples/multimodal/graphs/disagg.py
  examples/multimodal/utils/nats_queue.py
  examples/multimodal/utils/prefill_queue.py
Labels: size/XL

#925 feat: cleanup EtcdKvCache and PrefillQueue before and after launch
  deploy/sdk/src/dynamo/sdk/cli/serving.py
  examples/llm/components/disagg_router.py
  examples/llm/components/kv_router.py
  examples/llm/components/prefill_worker.py
  examples/llm/components/processor.py
  examples/llm/components/worker.py
  examples/llm/utils/check_worker.py
  examples/llm/utils/clear_namespace.py
  examples/llm/utils/nats_queue.py
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/rust/llm/nats.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/runtime/src/transports/etcd.rs
  lib/runtime/src/transports/nats.rs
Labels: size/L

#960 feat: add ingress to graph deployments
  deploy/cloud/helm/deploy.sh
  deploy/cloud/helm/dynamo-platform-values.yaml
  deploy/cloud/helm/network-config-wizard.sh
  deploy/cloud/helm/platform/components/operator/templates/deployment.yaml
  deploy/cloud/operator/cmd/main.go
  deploy/cloud/operator/internal/consts/consts.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller.go
  deploy/cloud/operator/internal/controller/dynamographdeployment_controller.go
  deploy/cloud/operator/internal/controller_common/predicate.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
  deploy/helm/chart/templates/deployment.yaml
  deploy/sdk/src/dynamo/sdk/cli/serve_dynamo.py
  deploy/sdk/src/dynamo/sdk/lib/service.py
  deploy/sdk/src/dynamo/sdk/lib/utils.py
Labels: size/L

#989 fix: should route based on waiting requests, not active
  lib/llm/src/kv_router/scheduler.rs
Labels: size/S

#994 fix: typo in devcontainer ulimit nofile
  .devcontainer/devcontainer.json
Labels: size/XS

#992 docs: Add slurm env var workaround for MPI spawn errors
  examples/tensorrt_llm/README.md
Labels: size/XS

#983 feat: Adding planner as a component
  components/planner/src/dynamo/planner/kubernetes_connector.py
  deploy/sdk/src/dynamo/sdk/cli/serve_dynamo.py
  deploy/sdk/src/dynamo/sdk/lib/service.py
  examples/llm/components/frontend.py
  examples/llm/components/planner.py
  examples/llm/components/planner_service.py
  examples/llm/configs/agg.yaml
  examples/llm/configs/agg_router.yaml
  examples/llm/configs/disagg.yaml
  examples/llm/configs/disagg_router.yaml
  examples/llm/graphs/agg.py
  examples/llm/graphs/agg_router.py
  examples/llm/graphs/disagg.py
  examples/llm/graphs/disagg_router.py
Labels: size/L

#997 ci: enable block-manager feature and test in vllm builds
  .github/workflows/pre-merge-python.yml
  .github/workflows/pre-merge-rust.yml
  Cargo.lock
  container/Dockerfile.vllm
  container/build.sh
  lib/bindings/python/pyproject.toml
  lib/llm/Cargo.toml
Labels: ci, size/S

#1002 feat: Qwen3, Gemma3 and Llama4 support
  Cargo.lock
  docs/guides/dynamo_run.md
  launch/dynamo-run/src/lib.rs
  lib/bindings/python/Cargo.lock
  lib/engines/llamacpp/Cargo.toml
  lib/engines/llamacpp/src/lib.rs
  lib/engines/mistralrs/Cargo.toml
  lib/engines/mistralrs/src/lib.rs
  lib/llm/Cargo.toml
  lib/llm/src/gguf.rs
  lib/llm/src/gguf/content.rs
  lib/llm/src/gguf/gguf_metadata.rs
  lib/llm/src/gguf/gguf_tokenizer.rs
  lib/llm/src/model_card/model.rs
  lib/llm/tests/data/sample-models/Llama-4-Scout-17B-16E-Instruct/config.json
Labels: size/L, feat

#1003 feat: Remove vllm and sglang from cargo build command
  .devcontainer/post-create.sh
Labels: size/XS, feat

#921 feat: deploy planner in operator
  components/planner/src/dynamo/planner/__init__.py
  components/planner/src/dynamo/planner/kube.py
  components/planner/src/dynamo/planner/kubernetes_connector.py
  components/planner/test/kubernetes_connector.py
  deploy/cloud/helm/platform/components/operator/templates/planner.yaml
  deploy/cloud/operator/cmd/main.go
  deploy/cloud/operator/go.mod
  deploy/cloud/operator/go.sum
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller.go
  deploy/cloud/operator/internal/controller/dynamographdeployment_controller.go
  deploy/cloud/operator/internal/controller/dynamographdeployment_controller_test.go
  deploy/cloud/operator/internal/controller_common/resource.go
  deploy/cloud/operator/internal/controller_common/resource_test.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
  deploy/sdk/src/dynamo/sdk/cli/serve_dynamo.py
  deploy/sdk/src/dynamo/sdk/lib/service.py
  examples/llm/components/frontend.py
  examples/llm/components/planner.py
  examples/llm/components/planner_service.py
  examples/llm/configs/agg.yaml
  examples/llm/configs/agg_router.yaml
  examples/llm/configs/disagg.yaml
  examples/llm/configs/disagg_router.yaml
  examples/llm/graphs/agg.py
  examples/llm/graphs/agg_router.py
  examples/llm/graphs/disagg.py
  examples/llm/graphs/disagg_router.py
Labels: size/XXL, feat

#1001 refactor: use primary lease + self-contained graceful shutdown trigged by SIGINT/SIGTERM
  components/planner/src/dynamo/planner/circusd.py
  components/planner/src/dynamo/planner/local_connector.py
  deploy/sdk/src/dynamo/sdk/cli/serve_dynamo.py
  examples/llm/components/prefill_worker.py
  examples/llm/components/worker.py
  lib/bindings/python/examples/hello_world/revoke_lease.py
  lib/bindings/python/examples/hello_world/server.py
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/rust/llm/kv.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/llm/src/kv_router/publisher.rs
Labels: size/L, refactor

#999 feat: Add AWS EFA support
  container/Dockerfile.vllm
Labels: size/M, feat

#937 feat(sglang): aggregated support
  examples/sglang/README.md
  examples/sglang/components/frontend.py
  examples/sglang/components/worker.py
  examples/sglang/configs/agg.yaml
  examples/sglang/graphs/agg.py
  examples/sglang/utils/protocol.py
  examples/sglang/utils/sglang.py
  launch/dynamo-run/src/subprocess/sglang_inc.py
  lib/bindings/python/src/dynamo/runtime/logging.py
  pyproject.toml
Labels: size/L, feat

#980 feat: allow adding auth to etcd
  Cargo.lock
  Cargo.toml
  lib/bindings/python/Cargo.lock
  lib/runtime/examples/Cargo.lock
  lib/runtime/src/transports/etcd.rs
Labels: external-contribution, size/M, feat

#1012 chore: bump versions and NIXL dependencies for 0.2.1
  Cargo.lock
  Cargo.toml
  container/Dockerfile.vllm
  container/build.sh
  lib/bindings/python/Cargo.lock
  lib/bindings/python/Cargo.toml
  lib/runtime/examples/Cargo.lock
  lib/runtime/examples/Cargo.toml
  pyproject.toml
  support_matrix.md
Labels: size/M, chore

#1011 fix: Extract tokenizer from GGUF for Qwen3 and Gemma3 arch
  docs/guides/dynamo_run.md
  lib/llm/src/gguf.rs
Labels: size/XS, fix

#1018 chore: Add Ishan as a Python code owner
  CODEOWNERS
Labels: size/XS, chore

#1020 chore: fix sglang deps when installing on ARM
  examples/sglang/README.md
  pyproject.toml
Labels: size/XS, chore

#1021 feat: kv block manager (#965)
  .github/workflows/pre-merge-python.yml
  .github/workflows/pre-merge-rust.yml
  Cargo.lock
  Cargo.toml
  container/Dockerfile.vllm
  lib/bindings/python/Cargo.lock
  lib/bindings/python/pyproject.toml
  lib/llm/Cargo.toml
  lib/llm/build.rs
  lib/llm/src/block_manager.rs
  lib/llm/src/block_manager/block.rs
  lib/llm/src/block_manager/block/registry.rs
  lib/llm/src/block_manager/block/state.rs
  lib/llm/src/block_manager/block/transfer.rs
  lib/llm/src/block_manager/block/transfer/cuda.rs
  lib/llm/src/block_manager/block/transfer/memcpy.rs
  lib/llm/src/block_manager/block/transfer/nixl.rs
  lib/llm/src/block_manager/block/transfer/strategy.rs
  lib/llm/src/block_manager/block/view.rs
  lib/llm/src/block_manager/config.rs
  lib/llm/src/block_manager/events.rs
  lib/llm/src/block_manager/events/dynamo.rs
  lib/llm/src/block_manager/layout.rs
  lib/llm/src/block_manager/layout/nixl.rs
  lib/llm/src/block_manager/pool.rs
  lib/llm/src/block_manager/pool/active.rs
  lib/llm/src/block_manager/pool/inactive.rs
  lib/llm/src/block_manager/pool/priority_key.rs
  lib/llm/src/block_manager/pool/state.rs
  lib/llm/src/block_manager/state.rs
  lib/llm/src/block_manager/storage.rs
  lib/llm/src/block_manager/storage/cuda.rs
  lib/llm/src/block_manager/storage/nixl.rs
  lib/llm/src/common.rs
  lib/llm/src/common/dtype.rs
  lib/llm/src/kv_router.rs
  lib/llm/src/lib.rs
  lib/llm/src/tokens.rs
Labels: size/XXL, feat

#1019 fix(deps): sglang install must be done manually
  examples/sglang/README.md
  pyproject.toml
Labels: size/XS, fix

#1023 chore: bump NIXL commit hash to 0.2.1-rc2
  container/build.sh
Labels: size/XS, chore

#1025 chore: sglang deps
  examples/sglang/README.md
  pyproject.toml
Labels: size/XS, chore

#1042 fix: pin click dependency to old releases
  pyproject.toml
Labels: size/XS, fix

#1035 fix: use correct lease id for kv router
  examples/llm/components/worker.py
Labels: size/XS, fix

#1043 fix: pin click dependency to old releases (#1042)
  pyproject.toml
Labels: size/XS, fix

#1045 build: add nixl install to trtllm dockerfile
  container/Dockerfile.tensorrt_llm
  container/build.sh
Labels: size/L, build

#1059 fix: use correct lease id for kv router (cherry-pick to release/0.2.1)
  examples/llm/components/worker.py
Labels: size/XS, fix

#1061 fix: update nixl setup for arm builds
  Cargo.lock
  container/Dockerfile.vllm
  lib/llm/Cargo.toml
Labels: size/S, fix

#1057 build: Suffix dev version to trtllm wheel
  container/build.sh
  container/build_trtllm_wheel.sh
Labels: size/M, build

#1062 fix: update nixl setup for arm builds (#1061)
  Cargo.lock
  container/Dockerfile.vllm
  lib/llm/Cargo.toml
Labels: size/S, fix

#1036 fix: bugfix - dynamo serve merge issue and service config fixes
  deploy/sdk/src/dynamo/sdk/cli/bento_util.py
  deploy/sdk/src/dynamo/sdk/cli/serve_dynamo.py
  deploy/sdk/src/dynamo/sdk/cli/utils.py
  deploy/sdk/src/dynamo/sdk/core/protocol/interface.py
  deploy/sdk/src/dynamo/sdk/core/runner/bentoml.py
  deploy/sdk/src/dynamo/sdk/core/runner/common.py
  deploy/sdk/src/dynamo/sdk/core/runner/dynamo.py
  docs/guides/dynamo_run.md
  examples/hello_world/hello_world.py
  launch/dynamo-run/src/subprocess/sglang_inc.py
  launch/dynamo-run/src/subprocess/vllm_inc.py
  lib/bindings/python/examples/hello_world/server_sglang.py
  lib/bindings/python/examples/hello_world/server_vllm.py
Labels: size/L, fix

#976 feat(sglang): disaggregated support
  examples/sglang/README.md
  examples/sglang/components/decode_worker.py
  examples/sglang/components/worker.py
  examples/sglang/configs/disagg.yaml
  examples/sglang/graphs/disagg.py
  examples/sglang/utils/protocol.py
  examples/sglang/utils/sglang.py
Labels: size/L, feat

#1065 fix: downgrade CUDA image use to work around PyNccl timeout in vLLM Ray use case
  container/Dockerfile.vllm
  container/build.sh
Labels: size/S, fix

#1067 chore: bump nixl 0.2.1rc3
  container/build.sh
Labels: size/XS, chore

#1053 fix: add maxage to nats stream
  lib/runtime/src/transports/nats.rs
Labels: external-contribution, size/XS, fix

#1010 feat(dynamo-run): Print HTTP routes on startup
  launch/dynamo-run/src/input/http.rs
  lib/llm/src/http/service.rs
  lib/llm/src/http/service/service_v2.rs
Labels: size/S, feat

#1076 build: add nixl install to trtllm dockerfile (#1045)
  container/Dockerfile.tensorrt_llm
  container/build.sh
Labels: size/L, build

#1078 docs: kv routing perf docs
  docs/guides/kv_router_perf_tuning.md
Labels: size/L, docs

#1077 docs: Update README.md with Dynamo meetup announcement
  README.md
Labels: size/XS, docs

#1064 feat(dynamo-run): KV-aware routing
  components/http/src/main.rs
  components/router/src/main.rs
  docs/guides/dynamo_run.md
  launch/dynamo-run/src/flags.rs
  launch/dynamo-run/src/input/common.rs
  launch/dynamo-run/src/input/endpoint.rs
  launch/dynamo-run/src/input/http.rs
  launch/dynamo-run/src/lib.rs
  launch/dynamo-run/src/main.rs
  launch/dynamo-run/src/subprocess.rs
  launch/dynamo-run/src/subprocess/sglang_inc.py
  launch/dynamo-run/src/subprocess/vllm_inc.py
  lib/bindings/python/examples/hello_world/server_sglang.py
  lib/bindings/python/examples/hello_world/server_vllm.py
  lib/bindings/python/pyproject.toml
  lib/bindings/python/rust/llm/kv.rs
  lib/llm/src/http/service/discovery.rs
  lib/llm/src/kv_router.rs
  lib/llm/src/kv_router/indexer.rs
  lib/llm/src/kv_router/metrics_aggregator.rs
  lib/llm/src/kv_router/publisher.rs
  lib/llm/src/kv_router/scheduler.rs
  lib/llm/src/lib.rs
  lib/llm/src/protocols/common/llm_backend.rs
  lib/runtime/src/pipeline/network/egress/push_router.rs
  lib/runtime/src/protocols.rs
Labels: size/XXL, feat

#1030 feat: KV Cache Manager block offloading
  lib/llm/src/block_manager.rs
  lib/llm/src/block_manager/block.rs
  lib/llm/src/block_manager/block/registry.rs
  lib/llm/src/block_manager/block/transfer.rs
  lib/llm/src/block_manager/offload.rs
  lib/llm/src/block_manager/offload/pending.rs
  lib/llm/src/block_manager/offload/request.rs
  lib/llm/src/block_manager/pool/state.rs
  lib/llm/src/block_manager/state.rs
  lib/llm/src/block_manager/storage.rs
  lib/llm/src/block_manager/storage/cuda.rs
Labels: size/XXL, feat

#1080 feat: Add ignore_eos/nvext support for legacy completions
  examples/tensorrt_llm/components/processor.py
Labels: size/S, feat

#1083 build: remove block-manager feature flag for runtime wheel
  lib/bindings/python/pyproject.toml
Labels: size/XS, build

#1092 fix: Fix default RouterMode value
  components/http/src/main.rs
  launch/dynamo-run/src/flags.rs
  launch/dynamo-run/src/input/common.rs
  launch/dynamo-run/src/input/http.rs
  launch/dynamo-run/src/lib.rs
  lib/llm/src/http/service/discovery.rs
  lib/llm/src/kv_router/metrics_aggregator.rs
  lib/llm/src/local_model.rs
  lib/runtime/src/pipeline/network/egress/push_router.rs
  lib/runtime/src/service.rs
Labels: size/L, fix

#1097 chore: Update default router mode from random to round-robin
  docs/guides/dynamo_run.md
  launch/dynamo-run/src/flags.rs
  lib/runtime/src/pipeline/network/egress/push_router.rs
Labels: size/XS, chore

#1103 chore: Prevent duplicate components with different models.
  launch/dynamo-run/src/input/common.rs
  lib/llm/src/http/service/discovery.rs
  lib/llm/src/local_model.rs
  lib/runtime/src/component.rs
Labels: size/M, chore

#1099 chore: Add example TRTLLM configs for Deepseek R1 (GB200)
  examples/tensorrt_llm/configs/deepseek_r1/agg.yaml
  examples/tensorrt_llm/configs/deepseek_r1/agg_llm_api_config.yaml
  examples/tensorrt_llm/configs/deepseek_r1/disagg.yaml
  examples/tensorrt_llm/configs/deepseek_r1/disagg_llm_api_config.yaml
Labels: size/L, chore

#1105 chore: Update TensorRT-LLM version to latest
  container/Dockerfile.tensorrt_llm
  container/build.sh
Labels: size/S, chore

#1013 feat: add vLLM V1 PD disagg example
  examples/vllm_v1/README.md
  examples/vllm_v1/components/frontend.py
  examples/vllm_v1/components/simple_load_balancer.py
  examples/vllm_v1/components/worker.py
  examples/vllm_v1/configs/agg.yaml
  examples/vllm_v1/configs/disagg.yaml
  examples/vllm_v1/graphs/agg.py
  examples/vllm_v1/graphs/disagg.py
  examples/vllm_v1/utils/args.py
  examples/vllm_v1/utils/protocol.py
Labels: size/XL, feat

#1102 test: Add doc tests to Rust CI
  .github/workflows/pre-merge-rust.yml
  launch/dynamo-run/src/subprocess.rs
  lib/bindings/python/Cargo.toml
  lib/runtime/examples/service_metrics/README.md
  lib/runtime/examples/service_metrics/src/bin/service_client.rs
  lib/runtime/examples/service_metrics/src/bin/service_server.rs
Labels: size/S, test

#1117 fix: remove lib.real from LD_LIBRARY_PATH
  container/Dockerfile.vllm
Labels: size/XS, fix

#1110 feat: Add OpenAI Embeddings interface in rust lib
  components/http/src/main.rs
  launch/dynamo-run/src/input/common.rs
  launch/llmctl/src/main.rs
  lib/bindings/python/rust/lib.rs
  lib/engines/mistralrs/src/lib.rs
  lib/llm/src/engines.rs
  lib/llm/src/http/service.rs
  lib/llm/src/http/service/discovery.rs
  lib/llm/src/http/service/metrics.rs
  lib/llm/src/http/service/openai.rs
  lib/llm/src/http/service/service_v2.rs
  lib/llm/src/model_type.rs
  lib/llm/src/protocols/openai.rs
  lib/llm/src/protocols/openai/embeddings.rs
  lib/llm/src/protocols/openai/embeddings/nvext.rs
  lib/llm/src/types.rs
  lib/llm/tests/http-service.rs
Labels: external-contribution, size/L, feat

#1022 feat: KV Block Manager Python bindings
  ATTRIBUTIONS-Rust.md
  lib/bindings/python/Cargo.lock
  lib/bindings/python/Cargo.toml
  lib/bindings/python/pyproject.toml
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/rust/llm.rs
  lib/bindings/python/rust/llm/block_manager.rs
  lib/bindings/python/rust/llm/block_manager/block.rs
  lib/bindings/python/rust/llm/block_manager/block_list.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/bindings/python/src/dynamo/llm/__init__.py
  lib/bindings/python/tests/test_block_manager.py
  lib/llm/src/block_manager/block.rs
Labels: size/XXL, feat

#1119 fix(sglang): allow for `disaggregation_bootstrap_port` for multinode deployment
  examples/sglang/utils/sglang.py
Labels: size/XS, fix

#1115 feat: Add support for SSD offloading in block manager
  Cargo.lock
  container/run.sh
  lib/bindings/python/Cargo.lock
  lib/llm/Cargo.toml
  lib/llm/src/block_manager.rs
  lib/llm/src/block_manager/block/transfer.rs
  lib/llm/src/block_manager/block/transfer/nixl.rs
  lib/llm/src/block_manager/block/transfer/strategy.rs
  lib/llm/src/block_manager/block/view.rs
  lib/llm/src/block_manager/config.rs
  lib/llm/src/block_manager/offload.rs
  lib/llm/src/block_manager/offload/pending.rs
  lib/llm/src/block_manager/offload/request.rs
  lib/llm/src/block_manager/state.rs
  lib/llm/src/block_manager/storage.rs
  lib/llm/src/block_manager/storage/disk.rs
  lib/llm/src/block_manager/storage/nixl.rs
Labels: size/XXL, feat

#1127 feat: Support multiple models on single ingress node
  components/http/src/main.rs
  components/metrics/src/main.rs
  components/planner/src/dynamo/planner/local_connector.py
  docs/guides/dynamo_run.md
  examples/hello_world/disagg_skeleton/components/kv_router.py
  examples/hello_world/disagg_skeleton/components/utils.py
  examples/llm/components/kv_router.py
  examples/llm/components/planner.py
  examples/llm/utils/check_worker.py
  examples/multimodal/utils/logging.py
  examples/tensorrt_llm/components/kv_router.py
  examples/tensorrt_llm/components/processor.py
  examples/tensorrt_llm/components/worker.py
  launch/dynamo-run/src/flags.rs
  launch/dynamo-run/src/input/batch.rs
  launch/dynamo-run/src/input/common.rs
  launch/dynamo-run/src/input/endpoint.rs
  launch/dynamo-run/src/input/http.rs
  launch/dynamo-run/src/input/text.rs
  launch/dynamo-run/src/lib.rs
  launch/dynamo-run/src/opt.rs
  launch/llmctl/src/main.rs
  lib/bindings/python/examples/error_handling/client.py
  lib/bindings/python/examples/hello_world/client.py
  lib/bindings/python/examples/hello_world/client_static.py
  lib/bindings/python/examples/hello_world/server_sglang.py
  lib/bindings/python/examples/hello_world/server_sglang_tok.py
  lib/bindings/python/examples/hello_world/server_vllm.py
  lib/bindings/python/examples/typed/client.py
  lib/bindings/python/rust/lib.rs
  lib/llm/src/http/service.rs
  lib/llm/src/http/service/discovery.rs
  lib/llm/src/key_value_store/etcd.rs
  lib/llm/src/kv_router.rs
  lib/llm/src/local_model.rs
  lib/llm/src/model_card.rs
  lib/llm/src/model_card/model.rs
  lib/runtime/examples/hello_world/src/bin/client.rs
  lib/runtime/examples/service_metrics/src/bin/service_client.rs
  lib/runtime/src/component.rs
  lib/runtime/src/component/client.rs
  lib/runtime/src/component/endpoint.rs
  lib/runtime/src/component/service.rs
  lib/runtime/src/pipeline/network/egress/push_router.rs
  lib/runtime/tests/soak.rs
Labels: size/XL, feat

#1128 fix: Disable block manager by default in Python bindings
  container/Dockerfile.vllm
  lib/bindings/python/pyproject.toml
  lib/bindings/python/src/dynamo/llm/__init__.py
Labels: size/S, fix

#1126 feat: adding outer dimension to isolate k/v blocks
  lib/bindings/python/rust/llm/block_manager.rs
  lib/bindings/python/tests/test_block_manager.py
  lib/llm/Cargo.toml
  lib/llm/src/block_manager.rs
  lib/llm/src/block_manager/block.rs
  lib/llm/src/block_manager/block/transfer/cuda.rs
  lib/llm/src/block_manager/block/transfer/memcpy.rs
  lib/llm/src/block_manager/block/transfer/nixl.rs
  lib/llm/src/block_manager/config.rs
  lib/llm/src/block_manager/layout.rs
  lib/llm/src/block_manager/layout/nixl.rs
  lib/llm/src/block_manager/offload.rs
  lib/llm/src/block_manager/pool/inactive.rs
  lib/llm/src/block_manager/state.rs
Labels: size/XL, feat

#1138 chore: Remove unused RouterType and ModelMetaData
  lib/runtime/src/protocols.rs
Labels: external-contribution, size/M, chore

#1137 fix: update attributions files for OSRB compliance
  ATTRIBUTIONS-Python.md
  ATTRIBUTIONS-Rust.md
  ATTRIBUTIONS.md
  container/build.sh
Labels: size/XXL, fix

#1114 feat: SLA Profiling and Recommending Parallelization Mapping
  container/deps/requirements.txt
  docs/images/h100_decode_performance.png
  docs/images/h100_prefill_performance.png
  docs/planner.md
  examples/llm/components/planner.py
  examples/llm/utils/profile_sla.py
Labels: size/XL, feat

#1129 fix: Incrementally decode token to reduce the overhead from Processor
  examples/tensorrt_llm/common/base_engine.py
  examples/tensorrt_llm/common/chat_processor.py
  examples/tensorrt_llm/common/parser.py
  examples/tensorrt_llm/common/protocol.py
Labels: size/L, fix

#1123 fix: set gpus as strings in config files
  examples/llm/configs/agg.yaml
  examples/llm/configs/agg_router.yaml
  examples/llm/configs/disagg_router.yaml
  examples/llm/configs/multinode-405b.yaml
  examples/llm/configs/multinode_agg_r1.yaml
  examples/llm/configs/mutinode_disagg_r1.yaml
Labels: size/S, fix

#1146 fix: Fix the protocol in the example
  examples/tensorrt_llm/common/protocol.py
Labels: size/S, fix

#1142 chore: Fix model removal on instance stop, refactor discovery
  components/http/src/main.rs
  launch/dynamo-run/src/input/common.rs
  launch/dynamo-run/src/input/http.rs
  launch/llmctl/src/main.rs
  lib/llm/src/discovery.rs
  lib/llm/src/discovery/model_entry.rs
  lib/llm/src/discovery/model_manager.rs
  lib/llm/src/discovery/watcher.rs
  lib/llm/src/http/service.rs
  lib/llm/src/http/service/error.rs
  lib/llm/src/http/service/metrics.rs
  lib/llm/src/http/service/openai.rs
  lib/llm/src/http/service/service_v2.rs
  lib/llm/src/lib.rs
  lib/llm/src/local_model.rs
  lib/llm/src/local_model/network_name.rs
  lib/llm/tests/http-service.rs
  lib/runtime/src/component.rs
  lib/runtime/src/component/client.rs
  lib/runtime/src/transports/etcd.rs
Labels: size/XXL, chore

#1144 fix: make component type a simple string
  deploy/sdk/src/dynamo/sdk/core/protocol/interface.py
Labels: size/XS, fix

#1150 fix(llmctl): Use ModelWatcher instead of direct etcd operations
  Cargo.lock
  components/http/src/main.rs
  docs/guides/dynamo_run.md
  launch/dynamo-run/src/input/common.rs
  launch/dynamo-run/src/input/http.rs
  launch/dynamo-run/src/lib.rs
  launch/dynamo-run/src/subprocess.rs
  launch/llmctl/Cargo.toml
  launch/llmctl/src/main.rs
  lib/bindings/python/rust/lib.rs
  lib/engines/mistralrs/src/lib.rs
  lib/llm/src/discovery/model_entry.rs
  lib/llm/src/discovery/model_manager.rs
  lib/llm/src/discovery/watcher.rs
  lib/llm/src/http/service/openai.rs
  lib/llm/src/lib.rs
  lib/llm/src/local_model.rs
  lib/llm/src/local_model/network_name.rs
  lib/llm/src/model_card/model.rs
Labels: size/L, fix

#1155 fix(dynamo-run): Don't exit interactive chat on error
  launch/dynamo-run/src/input/text.rs
Labels: size/XS, fix

#1158 fix(llmctl): Add back the model_type in remove
  launch/llmctl/src/main.rs
Labels: size/S, fix

#1156 feat: Revert channel size to 32 + cache dynamic instance sources
  lib/llm/src/kv_router.rs
  lib/runtime/src/component.rs
  lib/runtime/src/component/client.rs
  lib/runtime/src/distributed.rs
  lib/runtime/src/lib.rs
  lib/runtime/src/pipeline/network/egress/push_router.rs
  lib/runtime/src/transports/etcd.rs
Labels: size/L, feat

#1166 fix: Enable Dynamo HTTP servers to run on IPv6-only hosts
  lib/runtime/src/pipeline/network/tcp/server.rs
Labels: external-contribution, size/S, fix

#1157 feat(dynamo-run): Allow setting context-length
  docs/guides/dynamo_run.md
  launch/dynamo-run/src/flags.rs
  launch/dynamo-run/src/lib.rs
  launch/dynamo-run/src/main.rs
  launch/dynamo-run/src/subprocess.rs
  launch/dynamo-run/src/subprocess/sglang_inc.py
  launch/dynamo-run/src/subprocess/vllm_inc.py
  lib/engines/llamacpp/src/lib.rs
  lib/engines/mistralrs/src/lib.rs
  lib/llm/src/local_model.rs
  lib/runtime/src/pipeline/network/tcp/client.rs
Labels: size/L, feat

#1165 fix: typo in planner doc and log
  docs/guides/planner.md
  examples/llm/utils/profile_sla.py
Labels: size/S, fix

#1134 feat: Various KVBM improvements
  lib/llm/src/block_manager.rs
  lib/llm/src/block_manager/block.rs
  lib/llm/src/block_manager/block/transfer.rs
  lib/llm/src/block_manager/block/transfer/nixl.rs
  lib/llm/src/block_manager/offload.rs
  lib/llm/src/block_manager/offload/pending.rs
  lib/llm/src/block_manager/offload/request.rs
  lib/llm/src/block_manager/pool/inactive.rs
  lib/llm/src/block_manager/pool/state.rs
  lib/llm/src/block_manager/state.rs
  lib/llm/src/block_manager/storage/disk.rs
Labels: size/XL, feat

#1174 fix: Fix race condition in kv_router unit test
  .gitignore
  lib/llm/src/kv_router/indexer.rs
  lib/llm/tests/preprocessor.rs
  lib/llm/tests/snapshots/preprocessor__mulit_turn_with_system@meta-llama_llama-3_1-70b-instruct--1605565.snap
  lib/llm/tests/snapshots/preprocessor__mulit_turn_without_system@meta-llama_llama-3_1-70b-instruct--1605565.snap
  lib/llm/tests/snapshots/preprocessor__multi_turn_with_continuation@meta-llama_llama-3_1-70b-instruct--1605565.snap
  lib/llm/tests/snapshots/preprocessor__multi_turn_with_system_with_tools@meta-llama_llama-3_1-70b-instruct--1605565.snap
  lib/llm/tests/snapshots/preprocessor__single_turn@meta-llama_llama-3_1-70b-instruct--1605565.snap
  lib/llm/tests/snapshots/preprocessor__single_turn_with_tools@meta-llama_llama-3_1-70b-instruct--1605565.snap
Labels: size/L, fix

#1175 feat(dynamo-run): Allow setting KV cache block size
  docs/guides/dynamo_run.md
  launch/dynamo-run/src/flags.rs
  launch/dynamo-run/src/lib.rs
  launch/dynamo-run/src/main.rs
  launch/dynamo-run/src/subprocess.rs
  launch/dynamo-run/src/subprocess/sglang_inc.py
  launch/dynamo-run/src/subprocess/vllm_inc.py
  lib/bindings/python/rust/lib.rs
  lib/engines/llamacpp/src/lib.rs
  lib/engines/mistralrs/src/lib.rs
  lib/llm/src/discovery/model_manager.rs
  lib/llm/src/discovery/watcher.rs
  lib/llm/src/kv_router.rs
  lib/llm/src/lib.rs
  lib/llm/src/local_model.rs
  lib/llm/src/model_card/create.rs
  lib/llm/src/model_card/model.rs
  lib/llm/tests/data/sample-models/TinyLlama_v1.1/tokenizer_config.json
Labels: size/L, feat

#1162 feat: Add standalone script for TRTLLM integration into dynamo-run
  launch/dynamo-run/src/subprocess/trtllm.rs
  launch/dynamo-run/src/subprocess/trtllm_inc.py
Labels: size/L, feat

#1176 fix: add blocking mode for k8s connector in planner
  components/planner/src/dynamo/planner/kube.py
  components/planner/src/dynamo/planner/kubernetes_connector.py
  components/planner/test/kube.py
  components/planner/test/kubernetes_connector.py
Labels: size/L, fix

#1178 feat: adding arena allocator for storage objects
  Cargo.lock
  lib/bindings/python/Cargo.lock
  lib/llm/Cargo.toml
  lib/llm/src/block_manager/storage.rs
  lib/llm/src/block_manager/storage/arena.rs
  lib/llm/src/block_manager/storage/nixl.rs
Labels: size/XL, feat

#1104 feat: support k8s target in dynamo deploy command
  deploy/cloud/api-store/README.md
  deploy/cloud/api-store/ai_dynamo_store/api/components.py
  deploy/cloud/api-store/ai_dynamo_store/api/deployments.py
  deploy/cloud/api-store/ai_dynamo_store/api/dynamo.py
  deploy/cloud/api-store/ai_dynamo_store/api/k8s.py
  deploy/cloud/api-store/ai_dynamo_store/api/model.py
  deploy/cloud/api-store/ai_dynamo_store/models/schemas.py
  deploy/cloud/operator/api/dynamo/api_store_client/client.go
  deploy/cloud/operator/internal/controller/dynamocomponent_controller.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/sdk/src/dynamo/sdk/cli/deployment.py
  deploy/sdk/src/dynamo/sdk/core/deploy/__init__.py
  deploy/sdk/src/dynamo/sdk/core/deploy/bento_cloud.py
  deploy/sdk/src/dynamo/sdk/core/deploy/kubernetes.py
  deploy/sdk/src/dynamo/sdk/core/protocol/deployment.py
  deploy/sdk/src/dynamo/sdk/core/protocol/interface.py
  deploy/sdk/src/dynamo/sdk/core/runner/bentoml.py
  deploy/sdk/src/dynamo/sdk/core/runner/dynamo.py
  deploy/sdk/src/dynamo/sdk/lib/loader.py
Labels: size/XXL, feat

#688 feat: add dynamo operator overview doc
  docs/guides/dynamo_deploy/dynamo_cloud.md
  docs/guides/dynamo_deploy/dynamo_operator.md
Labels: size/L, feat

#1081 fix: etcd.rs - linear increasing watch with number of requests
  lib/llm/src/kv_router.rs
  lib/runtime/src/component.rs
  lib/runtime/src/component/client.rs
  lib/runtime/src/distributed.rs
  lib/runtime/src/lib.rs
  lib/runtime/src/pipeline/network/egress/push_router.rs
  lib/runtime/src/transports/etcd.rs
Labels: size/L, fix

#1189 chore: Upgrade Rust to 1.87
  Earthfile
  container/Dockerfile.none
  container/Dockerfile.tensorrt_llm
  container/Dockerfile.vllm
  lib/llm/src/block_manager/layout.rs
  lib/llm/src/recorder.rs
  lib/runtime/examples/rust-toolchain.toml
  rust-toolchain.toml
Labels: size/M, chore

#1190 chore: rm duplicate fwd pass metric
  lib/llm/src/protocols/common/kv_routing.rs
Labels: size/S, chore

#1194 chore: Add code owners for multimodal examples
  CODEOWNERS
Labels: size/XS, chore

#1191 feat: kvbm offload fixes and tests
  lib/llm/src/block_manager/block.rs
  lib/llm/src/block_manager/block/transfer.rs
  lib/llm/src/block_manager/block/transfer/nixl.rs
  lib/llm/src/block_manager/block/transfer/strategy.rs
  lib/llm/src/block_manager/offload.rs
  lib/llm/src/block_manager/offload/request.rs
Labels: size/L, feat

#1201 docs: Fix broken link to `support_matrix.md` in `README.md`
  README.md
Labels: external-contribution, size/XS, docs

#1192 feat: Add metrics and event publishers
  launch/dynamo-run/src/subprocess/trtllm/engine.py
  launch/dynamo-run/src/subprocess/trtllm/publishers.py
  launch/dynamo-run/src/subprocess/trtllm_inc.py
Labels: size/XL, feat

#1212 fix: ignore setuptools warning in pytest
  pyproject.toml
Labels: size/XS, fix

#1210 fix: Add block-size parameter to Router in the example
  examples/llm/configs/agg_router.yaml
  examples/llm/configs/disagg_router.yaml
Labels: external-contribution, size/XS, fix

#1187 fix: add liveness and readiness probes to Dynamo SDK
  deploy/cloud/operator/internal/consts/consts.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller.go
  deploy/sdk/src/dynamo/sdk/__init__.py
  deploy/sdk/src/dynamo/sdk/cli/serve.py
  deploy/sdk/src/dynamo/sdk/cli/serve_dynamo.py
  deploy/sdk/src/dynamo/sdk/cli/serving.py
  deploy/sdk/src/dynamo/sdk/core/lib.py
  deploy/sdk/src/dynamo/sdk/core/runner/bentoml.py
  deploy/sdk/src/dynamo/sdk/core/runner/dynamo.py
  deploy/sdk/src/dynamo/sdk/core/runner/health.py
  deploy/sdk/src/dynamo/sdk/lib/utils.py
  examples/hello_world/hello_world.py
Labels: size/L, fix

#1037 feat(http): add health check endpoint
  lib/llm/src/discovery/model_manager.rs
  lib/llm/src/http/service.rs
  lib/llm/src/http/service/health.rs
  lib/llm/src/http/service/service_v2.rs
Labels: size/M, feat

#1220 feat: fluxcd guide to managing custom resources
  docs/guides/dynamo_deploy/dynamo_operator.md
Labels: size/L, feat

#1219 chore: bump sglang version
  container/Dockerfile.sglang
  examples/sglang/README.md
  examples/sglang/configs/disagg-dp-attention.yaml
  pyproject.toml
Labels: size/M, chore

#1228 fix: devcontainer small qol fixes
  .devcontainer/post-create.sh
  container/Dockerfile.vllm
Labels: size/S, fix

#1237 fix: resolve regex library warnings
  docs/generate_docs.py
Labels: external-contribution, size/XS, fix

#1238 fix: update kv-router usage
  docs/guides/planner_benchmark/benchmark_planner.md
  docs/guides/planner_benchmark/disagg_1p1d.yml
  docs/guides/planner_benchmark/disagg_2p2d.yaml
Labels: size/S, fix

#1223 feat: Enable dynamo-run out=trtllm
  docs/guides/dynamo_run.md
  launch/dynamo-run/src/lib.rs
  launch/dynamo-run/src/opt.rs
  launch/dynamo-run/src/subprocess.rs
  launch/dynamo-run/src/subprocess/trtllm_inc.py
  lib/bindings/python/src/dynamo/llm/__init__.py
  lib/bindings/python/src/dynamo/llm/tensorrtllm/__init__.py
  lib/bindings/python/src/dynamo/llm/tensorrtllm/engine.py
  lib/bindings/python/src/dynamo/llm/tensorrtllm/publisher.py
  pyproject.toml
Labels: size/L, feat

#1243 fix: Fix async_on_start syntax
  examples/multimodal/components/encode_worker.py
Labels: size/XS, fix

#1216 feat(dynamo-llm): Remove bring-your-own-engine
  Cargo.lock
  Earthfile
  container/Dockerfile.none
  container/Dockerfile.tensorrt_llm
  container/Dockerfile.vllm
  launch/dynamo-run/Cargo.toml
  launch/dynamo-run/src/lib.rs
  launch/dynamo-run/src/main.rs
  launch/dynamo-run/src/opt.rs
  lib/bindings/python/Cargo.lock
  lib/bindings/python/Cargo.toml
  lib/bindings/python/rust/engine.rs
  lib/engines/python/Cargo.toml
  lib/engines/python/src/lib.rs
Labels: size/XL, feat

#1242 fix: replace residual usage of click with typer
  deploy/sdk/src/dynamo/sdk/cli/serve_dynamo.py
  deploy/sdk/src/dynamo/sdk/cli/utils.py
Labels: size/L, fix

#1247 feat: remove bento cloud deploy target, set deployment target to kubernetes by default
  deploy/sdk/src/dynamo/sdk/cli/deployment.py
  deploy/sdk/src/dynamo/sdk/core/deploy/bento_cloud.py
  deploy/sdk/src/dynamo/sdk/core/deploy/consts.py
Labels: size/L, feat

#1214 feat: Support OAI frontend format and add async image handing
  examples/multimodal/README.md
  examples/multimodal/components/decode_worker.py
  examples/multimodal/components/encode_worker.py
  examples/multimodal/components/frontend.py
  examples/multimodal/components/prefill_worker.py
  examples/multimodal/components/processor.py
  examples/multimodal/utils/chat_processor.py
  examples/multimodal/utils/protocol.py
Labels: size/L, feat

#1256 build: Fix 'uv: command not found' in TRTLLM build
  container/Dockerfile.tensorrt_llm
Labels: size/XS, build

#1257 chore: add rudy as codeowner
  CODEOWNERS
Labels: size/XS, chore

#1261 fix: Import json when using --engine-extra-args
  launch/dynamo-run/src/subprocess/sglang_inc.py
  launch/dynamo-run/src/subprocess/vllm_inc.py
Labels: size/XS, fix

#1058 build: fixes to enable vLLM slim runtime image
  container/Dockerfile.vllm
Labels: size/M, build

#1246 feat: expose estimated kv cache hit in dynamo-run
  deploy/sdk/src/dynamo/sdk/lib/config.py
  examples/llm/components/frontend.py
  examples/sglang/components/frontend.py
  examples/tensorrt_llm/components/frontend.py
  examples/vllm_v0/components/frontend.py
  examples/vllm_v0/components/worker.py
  examples/vllm_v0/configs/agg_kv.yaml
  examples/vllm_v0/configs/disagg_kv.yaml
  examples/vllm_v0/utils/protocol.py
  examples/vllm_v1/components/frontend.py
  lib/llm/src/kv_router.rs
  lib/llm/src/preprocessor.rs
  lib/llm/src/protocols/common/preprocessor.rs
Labels: size/L, feat

#1269 fix: resolve local dev container build issues
  .devcontainer/post-create.sh
  container/Dockerfile.vllm
Labels: external-contribution, size/XS, fix

#1141 feat: KVBM async Python bindings and Layer class
  lib/bindings/python/rust/llm/block_manager.rs
  lib/bindings/python/rust/llm/block_manager/block.rs
  lib/bindings/python/rust/llm/block_manager/block_list.rs
  lib/bindings/python/rust/llm/block_manager/dlpack.rs
  lib/bindings/python/rust/llm/block_manager/layer.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/bindings/python/tests/test_block_manager.py
Labels: size/XXL, feat

#1271 feat: Initial Granite support
  Cargo.lock
  lib/bindings/python/src/dynamo/llm/__init__.py
  lib/engines/llamacpp/Cargo.toml
  lib/llm/src/gguf.rs
  lib/llm/src/model_card/create.rs
  lib/llm/src/preprocessor/prompt/template/formatters.rs
  lib/llm/src/preprocessor/prompt/template/tokcfg.rs
Labels: size/M, feat

#1093 feat: Restructure kv manager block registration
  lib/llm/src/block_manager/block.rs
  lib/llm/src/block_manager/block/registry.rs
  lib/llm/src/block_manager/block/state.rs
  lib/llm/src/block_manager/offload.rs
  lib/llm/src/block_manager/offload/pending.rs
  lib/llm/src/block_manager/pool.rs
  lib/llm/src/block_manager/pool/inactive.rs
  lib/llm/src/block_manager/pool/state.rs
  lib/llm/src/block_manager/state.rs
Labels: size/L, feat

#1275 docs: Update Multimodal Example README
  examples/multimodal/README.md
Labels: documentation, size/L, docs

#1263 fix: Only check model name on etcd-registered endpoints
  lib/llm/src/local_model.rs
Labels: size/XS, fix

#1276 feat(dynamo-run): Use llama.cpp as the default engine for GGUF
  launch/dynamo-run/src/lib.rs
  launch/dynamo-run/src/main.rs
  launch/dynamo-run/src/opt.rs
  lib/llm/src/local_model.rs
  lib/llm/src/model_card/model.rs
Labels: size/L, feat

#1281 fix: remove sglang hash for pyproject
  pyproject.toml
Labels: size/XS, fix

#1258 feat: flatten out dynamo cloud helm chart
  deploy/cloud/helm/crds/Chart.yaml
  deploy/cloud/helm/crds/templates/nvidia.com_dynamocomponentdeployments.yaml
  deploy/cloud/helm/crds/templates/nvidia.com_dynamocomponents.yaml
  deploy/cloud/helm/crds/templates/nvidia.com_dynamographdeployments.yaml
  deploy/cloud/helm/deploy.sh
  deploy/cloud/helm/dynamo-platform-values.yaml
  deploy/cloud/helm/platform/Chart.yaml
  deploy/cloud/helm/platform/components/api-store/Chart.yaml
  deploy/cloud/helm/platform/components/api-store/templates/deployment.yaml
  deploy/cloud/helm/platform/components/api-store/values.yaml
  deploy/cloud/helm/platform/components/operator/Chart.yaml
  deploy/cloud/helm/platform/components/operator/values.yaml
  deploy/cloud/helm/platform/values.yaml
  docs/guides/dynamo_deploy/dynamo_cloud.md
Labels: size/L, feat

#1287 refactor: Refactor kv event publishers
  lib/bindings/c/src/lib.rs
  lib/bindings/python/rust/llm/kv.rs
  lib/llm/src/kv_router/publisher.rs
Labels: size/L, refactor

#1284 refactor: rename KvMetricsPublisher to WorkerMetricsPublisher
  components/metrics/README.md
  docs/architecture/kv_cache_routing.md
  docs/guides/backend.md
  examples/llm/components/worker.py
  examples/tensorrt_llm/common/base_engine.py
  examples/vllm_v0/components/worker.py
  launch/dynamo-run/src/subprocess/vllm_inc.py
  launch/dynamo-run/src/subprocess/vllm_v1_inc.py
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/rust/llm/kv.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/bindings/python/src/dynamo/llm/__init__.py
  lib/bindings/python/src/dynamo/llm/tensorrtllm/publisher.py
  lib/bindings/python/tests/test_kv_bindings.py
  lib/llm/src/kv_router/publisher.rs
Labels: size/M, refactor

#1292 chore: Send llama.cpp logs to tracing crate
  lib/engines/llamacpp/src/lib.rs
Labels: size/XS, chore

#1282 chore: remove sglang hash in pyproject
  pyproject.toml
Labels: size/XS, chore

#1294 perf: Create default sampling params only once during initialization
  examples/multimodal/components/processor.py
  examples/multimodal/utils/chat_processor.py
Labels: size/XS, perf
