Repository ai-dynamo/dynamo, pull requests merged in 2025-06, with the labels that each got.

#1328 fix: Allow building only llamacpp or only mistralrs engine.
  launch/dynamo-run/src/lib.rs
Labels: size/S, fix

#1329 fix: allow custom annotations in api-store service
  deploy/cloud/helm/platform/components/api-store/templates/service.yaml
  deploy/cloud/helm/platform/components/api-store/values.yaml
Labels: size/XS, fix

#1326 fix: Flatten pytorch_backend_config section to address breaking change to trtllm config
  examples/tensorrt_llm/configs/deepseek_r1/agg_llm_api_config.yaml
  examples/tensorrt_llm/configs/deepseek_r1/disagg_llm_api_config.yaml
  examples/tensorrt_llm/configs/llm_api_config.yaml
  examples/tensorrt_llm/configs/llm_api_config_disagg_router.yaml
  examples/tensorrt_llm/configs/llm_api_config_router.yaml
  examples/tensorrt_llm/configs/llmapi_disagg_configs/single_node_config.yaml
  examples/tensorrt_llm/configs/llmapi_disagg_router_configs/single_node_config.yaml
Labels: size/L, fix

#1325 feat: set env variables in Dynamo deployments from secrets
  deploy/cloud/api-store/ai_dynamo_store/models/schemas.py
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller.go
  deploy/sdk/src/dynamo/sdk/cli/deployment.py
  deploy/sdk/src/dynamo/sdk/core/protocol/deployment.py
  docs/guides/dynamo_deploy/operator_deployment.md
  examples/llm/README.md
  examples/llm/configs/disagg.yaml
Labels: size/L, feat

#1319 fix: resources naming (#1302)
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller_test.go
  deploy/sdk/src/dynamo/sdk/cli/build.py
  deploy/sdk/src/dynamo/sdk/cli/serve_dynamo.py
  deploy/sdk/src/dynamo/sdk/core/protocol/interface.py
  examples/hello_world/hello_world.py
  examples/llm/configs/disagg.yaml
Labels: size/M, fix

#1332 fix: Cherrypick fixed context length, and openmp dependency
  Cargo.lock
  docs/guides/dynamo_run.md
  launch/dynamo-run/Cargo.toml
  lib/bindings/python/src/dynamo/llm/__init__.py
  lib/engines/llamacpp/Cargo.toml
  lib/llm/src/gguf.rs
  lib/llm/src/model_card/create.rs
  lib/llm/src/preprocessor/prompt/template/formatters.rs
  lib/llm/src/preprocessor/prompt/template/tokcfg.rs
Labels: size/M, fix

#1345 docs: Update vLLM V1 installation docs
  examples/vllm_v1/README.md
Labels: size/XS, docs

#1336 fix: update profile script
  examples/common/profile_sla.py
Labels: size/M, fix

#1353 docs: Add documentation for verbosity flag in `dynamo-run`
  docs/guides/dynamo_run.md
  launch/dynamo-run/src/main.rs
Labels: size/S, docs

#1322 fix: Use min of max tokens or context length
  lib/engines/mistralrs/src/lib.rs
Labels: external-contribution, size/M, fix

#1349 fix: add ingress to llm example
  examples/llm/README.md
  examples/llm/components/frontend.py
Labels: size/S, fix

#1335 fix(dynamo-run): For internal comms use a random endpoint instead of hard coded
  Cargo.lock
  launch/dynamo-run/Cargo.toml
  launch/dynamo-run/src/lib.rs
Labels: size/M, fix

#1321 feat: Integrate KVBM with `CriticalTaskHandle`
  lib/llm/src/block_manager/offload.rs
  lib/llm/src/block_manager/offload/pending.rs
  lib/llm/src/block_manager/state.rs
  lib/runtime/src/utils/task.rs
Labels: size/L, feat

#1179 docs: fix sphinx errors admonitions adobe config
  docs/architecture/architecture.md
  docs/architecture/distributed_runtime.md
  docs/architecture/kvbm_components.md
  docs/architecture/planner.md
  docs/examples/disagg_skeleton.md
  docs/examples/hello_world.md
  docs/examples/llm_deployment.md
  docs/examples/trtllm.md
  docs/get_started.md
  docs/guides/cli_overview.md
  docs/guides/dynamo_deploy/dynamo_cloud.md
  docs/guides/dynamo_deploy/dynamo_operator.md
  docs/guides/dynamo_deploy/model_caching_with_fluid.md
  docs/guides/dynamo_deploy/operator_deployment.md
  docs/guides/dynamo_run.md
  docs/hidden_toctree.rst
  docs/index.rst
  lib/bindings/python/README.md
  pyproject.toml
Labels: size/XL, docs

#1290 feat: add implementation for embeddings
  launch/dynamo-run/src/input/http.rs
  launch/dynamo-run/src/subprocess/sglang_inc.py
  lib/llm/src/discovery/model_manager.rs
  lib/llm/src/http/service/openai.rs
  lib/llm/src/http/service/service_v2.rs
  lib/llm/src/protocols/openai/embeddings.rs
  lib/llm/src/protocols/openai/embeddings/aggregator.rs
Labels: external-contribution, size/L, feat

#1356 fix: add speculative decoding config to dynamo serve + trtllm
  examples/tensorrt_llm/common/parser.py
Labels: size/S, fix

#1377 fix: prefillqueue stream name in load-planner
  components/planner/src/dynamo/planner/defaults.py
  docs/architecture/planner.md
  docs/guides/planner_benchmark/benchmark_planner.md
  examples/llm/components/planner.py
Labels: size/S, fix

#1366 feat: set model specific prompt templates in the multimodal config files, add documentation for multimodal example deployment
  examples/llm/README.md
  examples/llm/configs/disagg.yaml
  examples/multimodal/README.md
  examples/multimodal/components/decode_worker.py
  examples/multimodal/components/prefill_worker.py
  examples/multimodal/components/processor.py
  examples/multimodal/configs/agg.yaml
  examples/multimodal/configs/disagg.yaml
  examples/multimodal/utils/vllm.py
Labels: size/L, feat

#1333 feat: Update container with better EFA/RDMA support
  README.md
  container/Dockerfile.vllm
  container/build.sh
Labels: size/M, feat

#1381 fix: cherry pick dockerhub fixes
  deploy/cloud/helm/deploy.sh
  deploy/cloud/helm/platform/components/operator/templates/_helpers.tpl
  deploy/cloud/operator/internal/controller/dynamocomponent_controller.go
Labels: size/S, fix

#1383 refactor: Rename CompletionRequest to NvCreateCompletionRequest
  launch/dynamo-run/src/input/common.rs
  launch/dynamo-run/src/input/http.rs
  lib/engines/mistralrs/src/lib.rs
  lib/llm/src/discovery/watcher.rs
  lib/llm/src/engines.rs
  lib/llm/src/http/service/openai.rs
  lib/llm/src/preprocessor.rs
  lib/llm/src/preprocessor/prompt/template/oai.rs
  lib/llm/src/protocols/openai/completions.rs
  lib/llm/src/protocols/openai/completions/delta.rs
  lib/llm/src/types.rs
  lib/llm/tests/http-service.rs
  lib/llm/tests/openai_completions.rs
Labels: size/L, refactor

#1376 fix: fix dynamo cloud helm chart
  deploy/cloud/helm/dynamo-platform-values.yaml
  deploy/cloud/helm/platform/components/api-store/templates/service.yaml
  deploy/cloud/helm/platform/components/api-store/templates/virtualservice.yaml
  deploy/cloud/helm/platform/templates/NOTES.txt
Labels: size/S, fix

#1390 fix: remove unused arg in planner
  examples/llm/components/planner_service.py
Labels: size/XS, fix

#1394 chore: rupei/datagen cleanups
  benchmarks/data_generator/graph_utils.py
  benchmarks/data_generator/hasher.py
  benchmarks/data_generator/synthesizer.py
Labels: size/M, chore

#924 feat: introduce abstract classes to dynamo services
  deploy/sdk/src/dynamo/sdk/__init__.py
  deploy/sdk/src/dynamo/sdk/cli/serving.py
  deploy/sdk/src/dynamo/sdk/core/decorators/endpoint.py
  deploy/sdk/src/dynamo/sdk/core/lib.py
  deploy/sdk/src/dynamo/sdk/core/protocol/interface.py
  deploy/sdk/src/dynamo/sdk/core/runner/dynamo.py
  examples/llm_hello_world/llm_hello_world.py
  examples/llm_hello_world/llm_types.py
Labels: size/L, feat

#1402 fix: enable block manager feature only for py3.12 build (#1393)
  container/Dockerfile.vllm
Labels: size/XS, fix

#1404 chore: update support matrix with kvbm changes
  docs/support_matrix.md
Labels: size/XS, chore

#1387 chore: Remove nats-py dependency
  container/deps/requirements.nats.txt
  examples/multimodal/utils/nats_queue.py
  lib/bindings/python/pyproject.toml
Labels: size/L, chore

#1421 docs: add aggregated example turning on MTP with DeepSeek R1
  examples/tensorrt_llm/README.md
  examples/tensorrt_llm/configs/deepseek_r1/mtp/mtp_agg.yaml
  examples/tensorrt_llm/configs/deepseek_r1/mtp/mtp_agg_llm_api_config.yaml
Labels: size/M, docs

#1320 docs: add image to front page readme
  README.md
  docs/images/frontpage-architecture.png
  docs/images/frontpage-banner.png
  docs/images/frontpage-gpu-evolution.png
  docs/images/frontpage-gpu-vertical.png
Labels: external-contribution, size/S, docs

#1428 chore: install datagen in vllm image and CI
  .github/workflows/pre-merge-python.yml
  container/Dockerfile.vllm
Labels: size/XS, chore

#1440 chore: enable checks for etcd in helm charts
  deploy/helm/dependencies/etcd-values.yaml
Labels: size/XS, chore

#1441 feat: group api
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/bindings/python/src/dynamo/runtime/__init__.py
Labels: external-contribution, size/M, feat

#1418 ci: Add args to run.sh
  container/run.sh
Labels: ci, size/S

#1423 docs: Add example etcd/nats commands to the container banner
  container/launch_message.txt
Labels: size/S, docs

#1425 feat: Improved offload queueing and block eviction ordering
  lib/llm/src/block_manager/block.rs
  lib/llm/src/block_manager/offload.rs
  lib/llm/src/block_manager/pool.rs
  lib/llm/src/block_manager/pool/active.rs
  lib/llm/src/block_manager/pool/inactive.rs
Labels: size/XL, feat

#1448 add more kvbm unit tests
  lib/bindings/python/tests/test_kvbm.py
Labels: size/M

#1415 chore(sglang): support dp attention routing
  container/Dockerfile.sglang
  examples/sglang/utils/protocol.py
Labels: size/XS, chore

#1446 fix: add blocking mode for k8s connector in planner
  components/planner/src/dynamo/planner/kubernetes_connector.py
  components/planner/test/kubernetes_connector.py
Labels: size/XS, fix

#1450 ci: add github workflow to close stale issues (bugs) and PRs
  .github/workflows/stale_cleaner.yml
Labels: ci, size/M

#1466 fix: Fix flaky test
  lib/llm/src/block_manager/pool.rs
Labels: size/XS, fix

#1458 feat: generate random texts from hashes using lorem ipsum
  benchmarks/README.md
  benchmarks/data_generator/README.md
  benchmarks/data_generator/example.py
  benchmarks/data_generator/hasher.py
  benchmarks/data_generator/logging_utils.py
  benchmarks/data_generator/prefix_analyzer.py
  benchmarks/data_generator/synthesizer.py
  benchmarks/data_generator/tests/test_hasher.py
Labels: size/L, feat

#1452 ci: Add time delays for server start up.
  tests/serve/test_dynamo_serve.py
Labels: ci, size/S

#1473 docs: MTP + TensorRT LLM + DS R1 disaggregated example
  container/build.sh
  examples/tensorrt_llm/README.md
  examples/tensorrt_llm/configs/deepseek_r1/mtp/mtp_agg_llm_api_config.yaml
  examples/tensorrt_llm/configs/deepseek_r1/mtp/mtp_disagg.yaml
  examples/tensorrt_llm/configs/deepseek_r1/mtp/mtp_disagg_llm_api_config.yaml
Labels: size/L, docs

#1475 docs: Add note about ignore_eos for MTP
  examples/tensorrt_llm/README.md
Labels: size/S, docs

#1451 build: enable vllm runtime container as default container for ci pipelines
  container/Dockerfile.vllm
  pyproject.toml
Labels: size/S, build

#1484 fix: dynamo-run change python subprocess from debug to info
  launch/dynamo-run/src/subprocess.rs
Labels: size/XS, fix

#1505 [KVBM] add kv cache stats report to show prefix cache hit
  lib/bindings/python/src/dynamo/llm/vllm_integration/kv_cache_manager.py
Labels: size/S

#1497 docs: add concurrency choice to the perf.sh
  benchmarks/llm/perf.sh
  examples/llm/benchmarks/README.md
Labels: size/M, docs

#1501 docs: fix the README link to the perf.sh file
  examples/llm/benchmarks/README.md
  examples/tensorrt_llm/README.md
Labels: size/XS, docs

#1510 docs: Update main readme with Deepwiki and new documentation and examples links
  README.md
Labels: size/XS, docs

#1357 docs: Cleanup & Standardize Guides
  docs/architecture/planner.md
  docs/get_started.md
  docs/guides/disagg_perf_tuning.md
  docs/guides/dynamo_build.md
  docs/guides/planner_benchmark/README.md
  docs/guides/planner_benchmark/planner_perf.png
  docs/images/planner_tensorboard.png
  docs/support_matrix.md
Labels: external-contribution, size/XL, docs

#1520 fix: Fix NATS_SERVER value, add details on customizing MOUNTS
  examples/tensorrt_llm/configs/deepseek_r1/multinode/README.md
  examples/tensorrt_llm/configs/deepseek_r1/multinode/srun_script.sh
Labels: size/S, fix

#1521 docs: Add GitHub Pages deployment to dynamo.github.io for release branches
  .github/workflows/generate-docs.yml
Labels: size/M, docs

#1503 docs: add trouble shooting section in benchmarking guide. Add known pitfall
  examples/llm/benchmarks/README.md
Labels: size/M, docs

#1517 chore: update dynamo and nixl versions for 0.3.1
  Cargo.lock
  Cargo.toml
  container/Dockerfile.vllm
  container/build.sh
  docs/support_matrix.md
  lib/bindings/python/Cargo.lock
  lib/bindings/python/Cargo.toml
  lib/runtime/examples/Cargo.lock
  lib/runtime/examples/Cargo.toml
  pyproject.toml
Labels: size/M, chore

#1524 fix: Improve dynamo.connect Error Reporting
  examples/multimodal/connect/__init__.py
Labels: bug, size/S, fix

#1514 docs: Wide EP instructions
  container/Dockerfile.vllm_v1
  container/build.sh
  examples/vllm_v1/README.md
  examples/vllm_v1/configs/deepseek_r1/agg_dp.yaml
  examples/vllm_v1/configs/deepseek_r1/disagg_dp.yaml
Labels: size/XL, docs

#1474 fix: enable GCP deployments
  deploy/cloud/operator/internal/consts/consts.go
  deploy/cloud/operator/internal/controller/common.go
  deploy/cloud/operator/internal/controller/dynamocomponent_controller.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller.go
  docs/guides/dynamo_deploy/dynamo_cloud.md
  docs/guides/dynamo_deploy/gke_setup.md
Labels: size/L, fix

#1424 feat: FT downed worker instance tracking and skipping
  lib/runtime/src/component/client.rs
  lib/runtime/src/pipeline/network/egress/push_router.rs
Labels: size/L, feat

#1513 feat: add VllmDpWorker for DP setup
  container/Dockerfile.vllm_v1
  container/build.sh
  examples/vllm_v1/README.md
  examples/vllm_v1/components/worker.py
  examples/vllm_v1/configs/deepseek_r1/agg_dp.yaml
  examples/vllm_v1/configs/deepseek_r1/disagg_dp.yaml
  examples/vllm_v1/utils/args.py
Labels: size/XL, feat

#1409 feat: Standalone Router
  examples/router_standalone/README.md
  examples/router_standalone/api.py
  examples/router_standalone/perf.sh
  examples/router_standalone/ping.sh
  examples/router_standalone/router.py
  examples/router_standalone/worker.py
  lib/bindings/python/Cargo.lock
  lib/bindings/python/Cargo.toml
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/rust/llm/kv.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/bindings/python/src/dynamo/llm/__init__.py
  lib/bindings/python/tests/test_kv_bindings.py
  lib/llm/src/kv_router/publisher.rs
Labels: size/XXL, feat

#1462 feat: Support new block layouts in KVBM
  lib/llm/src/block_manager/block.rs
  lib/llm/src/block_manager/block/view.rs
  lib/llm/src/block_manager/layout.rs
  lib/llm/src/block_manager/layout/nixl.rs
  lib/llm/src/block_manager/layout/utils.rs
  lib/llm/src/block_manager/offload.rs
  lib/llm/src/block_manager/state.rs
  lib/llm/src/block_manager/storage.rs
  lib/llm/src/block_manager/storage/cuda.rs
  lib/llm/src/block_manager/storage/torch.rs
Labels: size/XXL, feat

#1527 docs: Add GitHub Pages deployment to dynamo.github.io for release branches
  .github/workflows/generate-docs.yml
Labels: size/M, docs

#1525 build: DIS-148 use the tensorrt_llm public wheel from pypi by default in container build
  container/build.sh
  examples/tensorrt_llm/README.md
Labels: size/M, build

#1472 chore: disable auto incremental coderabbit review
  .coderabbit.yaml
Labels: size/XS, chore

#1546 fix: remove lib.real from LD_LIBRARY_PATH
  container/Dockerfile.tensorrt_llm
Labels: size/XS, fix

#1536 fix: handle error in port reserve and cleanup allocator
  deploy/sdk/src/dynamo/sdk/cli/allocator.py
  deploy/sdk/src/dynamo/sdk/cli/circus.py
  deploy/sdk/src/dynamo/sdk/cli/utils.py
  deploy/sdk/src/dynamo/sdk/lib/resource.py
Labels: size/L, fix

#1551 fix: update nixl build and keep wheels dir in vllm container (#1544)
  container/Dockerfile.vllm
Labels: size/M, fix

#1545 fix: Handle model not found error for multimodal example
  examples/multimodal/components/frontend.py
  examples/multimodal/components/video_frontend.py
  examples/multimodal/configs/agg-llava.yaml
  examples/multimodal/configs/agg-phi3v.yaml
  examples/multimodal/configs/agg-qwen.yaml
  examples/multimodal/configs/agg_video.yaml
  examples/multimodal/configs/disagg.yaml
  examples/multimodal/configs/disagg_video.yaml
Labels: size/M, fix

#1555 docs: add docs and example for inference gateway deployment (#1533)
  deploy/inference-gateway/example/README.md
  deploy/inference-gateway/example/resources/cluster-role-binding.yaml
  deploy/inference-gateway/example/resources/cluster-role.yaml
  deploy/inference-gateway/example/resources/dynamo-epp.yaml
  deploy/inference-gateway/example/resources/http-router.yaml
  deploy/inference-gateway/example/resources/inference-model.yaml
  deploy/inference-gateway/example/resources/inference-pool.yaml
  deploy/inference-gateway/example/resources/service.yaml
Labels: size/L, docs

#1554 fix: cleanup allocator (#1536)
  deploy/sdk/src/dynamo/sdk/cli/allocator.py
  deploy/sdk/src/dynamo/sdk/cli/circus.py
  deploy/sdk/src/dynamo/sdk/cli/utils.py
  deploy/sdk/src/dynamo/sdk/lib/resource.py
Labels: size/L, fix

#1120 feat(sglang): deepep sglang support in dynamo
  container/Dockerfile.sglang-deepep
  examples/sglang/README.md
  examples/sglang/configs/deepep/deepep.json
  examples/sglang/configs/deepep/dsr1.yaml
  examples/sglang/configs/deepep/warmup.sh
Labels: size/L, feat

#1553 fix: replace tabs with whitespaces in container/run.sh
  container/run.sh
Labels: external-contribution, size/L, fix

#1558 fix: Handle model not found error for multimodal example (#1545)
  examples/multimodal/components/frontend.py
  examples/multimodal/components/video_frontend.py
  examples/multimodal/configs/agg-llava.yaml
  examples/multimodal/configs/agg-phi3v.yaml
  examples/multimodal/configs/agg-qwen.yaml
  examples/multimodal/configs/agg_video.yaml
  examples/multimodal/configs/disagg.yaml
  examples/multimodal/configs/disagg_video.yaml
Labels: size/M, fix

#1396 feat: kubernetes overrides for the entrypoint and cmd
  ATTRIBUTIONS-Go.md
  deploy/cloud/helm/README.md
  deploy/cloud/helm/crds/templates/nvidia.com_dynamocomponentdeployments.yaml
  deploy/cloud/helm/crds/templates/nvidia.com_dynamocomponents.yaml
  deploy/cloud/helm/crds/templates/nvidia.com_dynamographdeployments.yaml
  deploy/cloud/operator/api/dynamo/common/common.go
  deploy/cloud/operator/api/dynamo/common/zz_generated.deepcopy.go
  deploy/cloud/operator/config/crd/bases/nvidia.com_dynamocomponentdeployments.yaml
  deploy/cloud/operator/config/crd/bases/nvidia.com_dynamocomponents.yaml
  deploy/cloud/operator/config/crd/bases/nvidia.com_dynamographdeployments.yaml
  deploy/cloud/operator/go.mod
  deploy/cloud/operator/go.sum
  deploy/cloud/operator/internal/controller/dynamocomponent_controller.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
  deploy/sdk/src/dynamo/sdk/cli/build.py
  deploy/sdk/src/dynamo/sdk/core/protocol/interface.py
  docs/examples/hello_world.md
  examples/hello_world/hello_world.py
Labels: size/XXL, feat

#1561 fix: Fix NIXL 0.3.1 build
  Cargo.lock
  lib/bindings/python/Cargo.lock
  lib/llm/Cargo.toml
  lib/llm/src/block_manager/block/transfer/nixl.rs
Labels: size/XS, fix

#1548 refactor: Update inhibited instance removal logic
  lib/runtime/src/component/client.rs
Labels: size/S, refactor

#1572 fix: Fix message truncation in disagg flow
  examples/tensorrt_llm/configs/llmapi_disagg_configs/single_node_config.yaml
  examples/tensorrt_llm/configs/llmapi_disagg_router_configs/single_node_config.yaml
Labels: size/S, fix

#1563 refactor: Log subprocess stderr as WARN
  launch/dynamo-run/src/subprocess.rs
Labels: size/XS, refactor

#1576 fix: Fix sample disagg config for trtllm standalone
  launch/dynamo-run/src/subprocess/trtllm_config/sample.yaml
Labels: size/XS, fix

#1582 chore: remove unneccssary line
  container/build.sh
Labels: external-contribution, size/XS, chore

#1586 [KVBM] proofread rustdoc
  lib/bindings/python/rust/llm/block_manager/vllm.rs
  lib/bindings/python/rust/llm/block_manager/vllm/slot.rs
  lib/llm/src/block_manager/pool/state.rs
Labels: size/S

#1588 refactor: break profile_sla into different files; feat: support vllm_v1
  benchmarks/profiler/profile_sla.py
  benchmarks/profiler/utils/config.py
  benchmarks/profiler/utils/defaults.py
  benchmarks/profiler/utils/genai_perf.py
  benchmarks/profiler/utils/plot.py
  benchmarks/profiler/utils/utils.py
  components/planner/src/dynamo/planner/defaults.py
  components/planner/src/dynamo/planner/local_connector.py
  docs/architecture/load_planner.md
  docs/architecture/sla_planner.md
Labels: size/XXL, refactor

#1575 test: Remove completions endpoint from vllm tests.
  tests/serve/test_dynamo_serve.py
Labels: size/S, test

#1488 feat: FT enable DCGM and optional Prometheus and Grafana, plus fixes
  deploy/metrics/README.md
  deploy/metrics/docker-compose.yml
  deploy/metrics/grafana-datasources.yml
  deploy/metrics/grafana1.png
  deploy/metrics/prometheus.yml
Labels: size/L, feat

#1599 docs: Update Discord invite link README.md
  README.md
Labels: size/XS, docs

#1610 chore: Fix failing doctests
  lib/runtime/src/engine.rs
Labels: size/XS, chore

#1615 fix: rename create_response_steam to create_response_stream
  lib/runtime/src/pipeline/network/ingress/push_handler.rs
  lib/runtime/src/pipeline/network/tcp.rs
  lib/runtime/src/pipeline/network/tcp/client.rs
Labels: external-contribution, size/XS, fix

#1434 chore: fix spelling
  lib/llm/src/block_manager/block.rs
  lib/llm/src/block_manager/block/registry.rs
  lib/llm/src/block_manager/pool/state.rs
Labels: external-contribution, size/S, chore

#1619 chore: update nixl to latest 0.3.1 commit
  Cargo.lock
  container/build.sh
  lib/bindings/python/Cargo.lock
  lib/llm/Cargo.toml
Labels: size/XS, chore

#1620 fix: pin SGL to side branch in order to work around descriptor ordering
  container/Dockerfile.sglang
Labels: size/S, fix

#1624 fix: Fix offload tests
  lib/llm/src/block_manager.rs
  lib/llm/src/block_manager/block.rs
  lib/llm/src/block_manager/block/collections.rs
  lib/llm/src/block_manager/block/data/local.rs
  lib/llm/src/block_manager/block/data/logical/lw_sharded.rs
  lib/llm/src/block_manager/block/data/view.rs
  lib/llm/src/block_manager/layout.rs
  lib/llm/src/block_manager/layout/nixl.rs
  lib/llm/src/block_manager/offload.rs
  lib/llm/src/block_manager/offload/pending.rs
  lib/llm/src/block_manager/state.rs
  lib/llm/src/block_manager/storage.rs
  lib/llm/src/block_manager/storage/disk.rs
  lib/llm/src/block_manager/storage/nixl.rs
  lib/llm/tests/block_manager.rs
Labels: size/L, fix

#1627 fix: pin versions on docs dockerfile
  container/Dockerfile.docs
  container/deps/requirements.docs.txt
  docs/conf.py
Labels: size/L, fix

#1631 fix: pin versions on docs dockerfile (#1627)
  container/Dockerfile.docs
  container/deps/requirements.docs.txt
  docs/conf.py
Labels: size/L, fix

#1632 chore: Add SERVED_MODEL_NAME for consistent model name regardless of MODEL_PATH
  examples/tensorrt_llm/configs/deepseek_r1/multinode/README.md
  examples/tensorrt_llm/configs/deepseek_r1/multinode/start_trtllm_worker.sh
Labels: size/S, chore

#1543 docs: updates for 0.3.1 release
  docs/architecture/planner.md
  docs/index.rst
Labels: size/S, docs

#1633 test: several fixes for e2e vllm tests
  components/planner/src/dynamo/planner/local_connector.py
  tests/serve/conftest.py
  tests/serve/test_dynamo_serve.py
Labels: size/M, test

#1596 feat: Add --version flag to dynamo-run
  Cargo.lock
  launch/dynamo-run/Cargo.toml
  launch/dynamo-run/build.rs
  launch/dynamo-run/src/main.rs
Labels: external-contribution, size/S, feat

#1639 fix: Disable NIXL backend for TRTLLM on ARM
  container/build_trtllm_wheel.sh
  examples/tensorrt_llm/README.md
Labels: size/S, fix

#1629 fix: remove http endpoint for clearing kv blocks
  launch/dynamo-run/src/input/http.rs
  lib/llm/src/http/service.rs
  lib/llm/src/http/service/clear_kv_blocks.rs
  lib/llm/src/http/service/service_v2.rs
Labels: size/M, fix

#1646 chore: Add rmccorm4 to sglang codeowners
  CODEOWNERS
Labels: size/XS, chore

#1641 test: no seed in e2e tests
  tests/serve/test_dynamo_serve.py
Labels: size/S, test

#1569 fix: rm curl from api-store image
  deploy/cloud/api-store/Earthfile
Labels: size/XS, fix

#1649 fix: fix usage.total_tokens count for OpenAI endpoints
  lib/llm/src/protocols/openai/chat_completions/delta.rs
  lib/llm/src/protocols/openai/completions/delta.rs
Labels: size/S, fix

#1653 feat: Dynamic ZMQ port selection + unit test for leader-worker block transfer
  lib/bindings/python/rust/llm/block_manager/distributed/leader.rs
  lib/bindings/python/rust/llm/block_manager/distributed/worker.rs
  lib/llm/src/block_manager/distributed.rs
  lib/llm/src/block_manager/distributed/leader.rs
  lib/llm/src/block_manager/distributed/utils.rs
  lib/llm/src/block_manager/distributed/worker.rs
  lib/llm/src/block_manager/distributed/zmq.rs
Labels: size/L, feat

#1637 fix: update sglang side branch for NIXL WAR
  container/Dockerfile.sglang
Labels: size/XS, fix

#1635 refactor: refactored using Choice and CompletionFinishReason
  lib/llm/src/engines.rs
  lib/llm/src/protocols/common.rs
  lib/llm/src/protocols/openai/chat_completions/delta.rs
  lib/llm/src/protocols/openai/completions.rs
  lib/llm/src/protocols/openai/completions/aggregator.rs
  lib/llm/src/protocols/openai/completions/delta.rs
Labels: size/L, refactor

#1662 feat: Set NIXL env vars in ci_minimum and dev images
  container/Dockerfile.vllm
Labels: size/XS, feat

#1652 feat: Add experimental WideEP + EPLB aggregated example for TRTLLM
  container/Dockerfile.tensorrt_llm
  container/build.sh
  examples/tensorrt_llm/common/parser.py
  examples/tensorrt_llm/configs/deepseek_r1/multinode/README.md
  examples/tensorrt_llm/configs/deepseek_r1/multinode/agg_DEP16_dsr1.yaml
  examples/tensorrt_llm/configs/deepseek_r1/multinode/agg_wide_ep.yaml
  examples/tensorrt_llm/configs/deepseek_r1/multinode/eplb.yaml
  examples/tensorrt_llm/configs/deepseek_r1/multinode/srun_script.sh
  launch/dynamo-run/src/subprocess/trtllm_inc.py
Labels: size/M, feat

#1654 refactor: Refactor the TRTLLM example components and improve UI
  examples/tensorrt_llm/README.md
  examples/tensorrt_llm/common/base_engine.py
  examples/tensorrt_llm/common/parser.py
  examples/tensorrt_llm/common/utils.py
  examples/tensorrt_llm/components/prefill_worker.py
  examples/tensorrt_llm/components/worker.py
  examples/tensorrt_llm/configs/agg.yaml
  examples/tensorrt_llm/configs/agg_router.yaml
  examples/tensorrt_llm/configs/deepseek_r1/agg.yaml
  examples/tensorrt_llm/configs/deepseek_r1/disagg.yaml
  examples/tensorrt_llm/configs/deepseek_r1/disagg_llm_api_config.yaml
  examples/tensorrt_llm/configs/deepseek_r1/engine_configs/agg_config.yaml
  examples/tensorrt_llm/configs/deepseek_r1/engine_configs/decode_config.yaml
  examples/tensorrt_llm/configs/deepseek_r1/engine_configs/prefill_config.yaml
  examples/tensorrt_llm/configs/deepseek_r1/mtp/engine_configs/agg_config.yaml
  examples/tensorrt_llm/configs/deepseek_r1/mtp/engine_configs/decode_config.yaml
  examples/tensorrt_llm/configs/deepseek_r1/mtp/engine_configs/prefill_config.yaml
  examples/tensorrt_llm/configs/deepseek_r1/mtp/mtp_agg.yaml
  examples/tensorrt_llm/configs/deepseek_r1/mtp/mtp_disagg.yaml
  examples/tensorrt_llm/configs/deepseek_r1/mtp/mtp_disagg_llm_api_config.yaml
  examples/tensorrt_llm/configs/disagg.yaml
  examples/tensorrt_llm/configs/disagg_router.yaml
  examples/tensorrt_llm/configs/engine_configs/agg_config.yaml
  examples/tensorrt_llm/configs/engine_configs/decode_config.yaml
  examples/tensorrt_llm/configs/engine_configs/prefill_config.yaml
  examples/tensorrt_llm/configs/llmapi_disagg_configs/single_node_config.yaml
  examples/tensorrt_llm/configs/llmapi_disagg_router_configs/single_node_config.yaml
  examples/tensorrt_llm/engines/trtllm_engine.py
  tests/serve/test_dynamo_serve.py
Labels: size/XXL, refactor

#1669 refactor: remove dead protocols code and organize imports idiomatically
  lib/llm/src/protocols.rs
  lib/llm/src/protocols/codec.rs
  lib/llm/src/protocols/common.rs
  lib/llm/src/protocols/common/llm_backend.rs
  lib/llm/src/protocols/openai.rs
  lib/llm/src/protocols/openai/chat_completions.rs
  lib/llm/src/protocols/openai/chat_completions/aggregator.rs
  lib/llm/src/protocols/openai/embeddings.rs
  lib/llm/src/protocols/openai/embeddings/aggregator.rs
Labels: size/XL, refactor

#1623 fix: add steps to install using published helm charts
  deploy/cloud/helm/dynamo-platform-values.yaml
  deploy/cloud/helm/platform/components/api-store/templates/rbac.yaml
  deploy/cloud/helm/platform/components/operator/templates/_helpers.tpl
  deploy/cloud/helm/platform/components/operator/templates/component-serviceaccount.yaml
  deploy/cloud/helm/platform/components/operator/templates/deployment.yaml
  deploy/cloud/helm/platform/components/operator/templates/planner.yaml
  deploy/cloud/helm/platform/components/operator/templates/proxy-rbac.yaml
  deploy/cloud/helm/platform/components/operator/templates/regcred-secret.yaml
  deploy/cloud/helm/platform/components/operator/templates/secret-env.yaml
  deploy/cloud/helm/platform/components/operator/values.yaml
  deploy/cloud/helm/platform/values.yaml
  docs/guides/dynamo_deploy/dynamo_cloud.md
Labels: size/L, fix

#1638 feat: Unnormalize waiting requests + predictive load updates for Python router (mirroring Rust) + softmax sampling to reduce thrashing
  examples/llm/components/kv_router.py
  examples/llm/components/processor.py
  examples/llm/configs/agg_router.yaml
  examples/llm/utils/protocol.py
  lib/bindings/python/rust/llm/kv.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/llm/src/kv_router.rs
  lib/llm/src/kv_router/scheduler.rs
Labels: enhancement, priority::high, size/XL, feat

#1677 fix: Little kv routing fix
  examples/llm/components/kv_router.py
  examples/llm/configs/agg_router.yaml
Labels: size/XS, fix

#1679 fix: fix the if statement for checking tllm_disagg_params.opaque_state is none
  examples/tensorrt_llm/common/protocol.py
Labels: size/XS, fix

#1673 fix: not raising error when the slot is not found with the request id
  lib/bindings/python/rust/llm/block_manager/vllm.rs
Labels: size/M, fix

#1583 docs: instructions to run DSR1 with SGLang wideep on 104+ GPUs
  container/Dockerfile.sglang
  container/Dockerfile.sglang-deepep
  examples/sglang/README.md
  examples/sglang/components/decode_worker.py
  examples/sglang/components/worker.py
  examples/sglang/configs/deepep/warmup.sh
  examples/sglang/configs/deepseek-r1-wideep/deepep.json
  examples/sglang/configs/deepseek-r1-wideep/dsr1-wideep.yaml
  examples/sglang/configs/dsr1.yaml
  examples/sglang/dsr1-wideep.md
  examples/sglang/utils/deepseek-r1-wideep/bench.sh
  examples/sglang/utils/deepseek-r1-wideep/generate_bench_data.py
  examples/sglang/utils/sgl_utils.py
Labels: size/XL, docs

#1657 feat: Parallelize tokenization during batch completion
  lib/llm/src/preprocessor.rs
Labels: external-contribution, size/S, feat

#1672 feat: Leader-worker integration with KVBM `write_to`
  lib/llm/src/block_manager.rs
  lib/llm/src/block_manager/block.rs
  lib/llm/src/block_manager/block/data.rs
  lib/llm/src/block_manager/block/data/local.rs
  lib/llm/src/block_manager/block/data/logical.rs
  lib/llm/src/block_manager/block/data/logical/distributed_leader_worker.rs
  lib/llm/src/block_manager/block/data/logical/null.rs
  lib/llm/src/block_manager/block/factory/logical.rs
  lib/llm/src/block_manager/block/locality.rs
  lib/llm/src/block_manager/block/transfer.rs
  lib/llm/src/block_manager/distributed.rs
  lib/llm/src/block_manager/distributed/leader.rs
  lib/llm/src/block_manager/distributed/transfer.rs
  lib/llm/src/block_manager/offload.rs
  lib/llm/src/block_manager/offload/pending.rs
  lib/llm/src/block_manager/state.rs
  lib/llm/src/block_manager/state/logical.rs
Labels: size/XL, feat

#1482 fix: docker compose command for sglang
  examples/sglang/README.md
Labels: external-contribution, size/XS, fix

#1605 feat: add kv router to sglang
  examples/sglang/README.md
  examples/sglang/components/frontend.py
  examples/sglang/components/worker.py
  examples/sglang/configs/agg.yaml
Labels: external-contribution, size/M, feat

#1542 docs: Add GitHub Pages deployment to dynamo.github.io for release branches
  .github/workflows/generate-docs.yml
Labels: size/M, docs

#1463 test: KVBM vLLM tests
  lib/bindings/python/tests/test_kvbm_vllm_integration.py
Labels: size/XL, test

#1570 fix: switch operator and api store to use approved distroless containers
  deploy/cloud/api-store/Earthfile
  deploy/cloud/operator/Earthfile
Labels: size/S, fix

#1687 chore(dynamo-run): Refactor to library
  Cargo.lock
  components/router/src/main.rs
  launch/dynamo-run/Cargo.toml
  launch/dynamo-run/src/flags.rs
  launch/dynamo-run/src/input.rs
  launch/dynamo-run/src/lib.rs
  launch/dynamo-run/src/main.rs
  launch/dynamo-run/src/opt.rs
  launch/dynamo-run/src/subprocess.rs
  launch/llmctl/src/main.rs
  lib/bindings/c/src/lib.rs
  lib/bindings/python/Cargo.lock
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/rust/llm/kv.rs
  lib/engines/llamacpp/src/lib.rs
  lib/engines/mistralrs/src/lib.rs
  lib/llm/Cargo.toml
  lib/llm/src/block_manager/block.rs
  lib/llm/src/block_manager/block/state.rs
  lib/llm/src/block_manager/pool/inactive.rs
  lib/llm/src/discovery/model_manager.rs
  lib/llm/src/entrypoint.rs
  lib/llm/src/entrypoint/input.rs
  lib/llm/src/entrypoint/input/batch.rs
  lib/llm/src/entrypoint/input/common.rs
  lib/llm/src/entrypoint/input/endpoint.rs
  lib/llm/src/entrypoint/input/http.rs
  lib/llm/src/entrypoint/input/text.rs
  lib/llm/src/kv_router.rs
  lib/llm/src/kv_router/indexer.rs
  lib/llm/src/kv_router/publisher.rs
  lib/llm/src/kv_router/scheduler.rs
  lib/llm/src/lib.rs
  lib/llm/src/local_model.rs
  lib/llm/src/mocker/kv_manager.rs
  lib/llm/src/mocker/scheduler.rs
  lib/llm/src/mocker/sequence.rs
  lib/llm/src/model_card/create.rs
  lib/llm/src/model_card/model.rs
  lib/llm/src/tokenizers/sp.rs
  lib/llm/src/tokens.rs
Labels: size/XXL, chore

#1696 fix: bump vLLM commit and revert side channel host change for DS R1 DEP deployment
  container/Dockerfile.vllm_v1
  examples/vllm_v1/components/worker.py
Labels: size/XS, fix
