Repository ai-dynamo/dynamo, pull requests merged in 2025-07, with the labels that each got.

#1711 feat: Misc. KVBM onboarding functionality
  lib/bindings/python/rust/llm/block_manager.rs
  lib/bindings/python/rust/llm/block_manager/distributed/leader.rs
  lib/bindings/python/rust/llm/block_manager/vllm.rs
  lib/bindings/python/rust/llm/block_manager/vllm/block_list.rs
  lib/bindings/python/src/dynamo/llm/vllm_integration/kv_cache_manager.py
  lib/llm/src/block_manager.rs
  lib/llm/src/block_manager/distributed.rs
  lib/llm/src/block_manager/distributed/leader.rs
  lib/llm/src/block_manager/distributed/zmq.rs
  lib/llm/src/block_manager/offload.rs
  lib/llm/src/block_manager/offload/pending.rs
  lib/llm/src/block_manager/offload/request.rs
  lib/llm/src/block_manager/state.rs
Labels: size/L, feat

#1636 feat: Approximate KV Routing
  examples/llm/components/kv_router.py
  examples/llm/components/processor.py
  examples/llm/components/worker.py
  examples/llm/utils/protocol.py
  examples/llm/utils/vllm.py
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/rust/llm/kv.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/bindings/python/src/dynamo/llm/__init__.py
  lib/bindings/python/tests/test_kv_bindings.py
  lib/llm/src/kv_router.rs
  lib/llm/src/kv_router/approx.rs
Labels: size/XL, feat

#1712 fix: Fix main
  lib/bindings/python/rust/llm/kv.rs
  lib/llm/src/kv_router/approx.rs
Labels: size/S, fix

#1716 fix(bindings): Default router config in bindings
  lib/bindings/python/examples/hello_world/server_sglang.py
  lib/bindings/python/examples/hello_world/server_vllm.py
  lib/llm/src/local_model.rs
Labels: size/S, fix

#1713 fix: default to None initialization of routing config
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/src/dynamo/_core.pyi
Labels: size/M, fix

#1719 chore: add sglang codeowners
  CODEOWNERS
Labels: size/XS, chore

#1701 feat: add grafana dcgm dashboard config file
  deploy/metrics/docker-compose.yml
  deploy/metrics/grafana-dcgm-dashboard.json
Labels: external-contribution, size/XL, feat

#1724 feat: Rough vLLM <-> KVBM block onboarding integration
  lib/bindings/python/rust/llm/block_manager/vllm.rs
  lib/bindings/python/rust/llm/block_manager/vllm/slot.rs
  lib/bindings/python/src/dynamo/llm/vllm_integration/kv_cache_manager.py
  lib/llm/src/block_manager.rs
  lib/llm/src/block_manager/distributed.rs
  lib/llm/src/block_manager/offload.rs
  lib/llm/src/block_manager/offload/request.rs
  lib/llm/src/block_manager/state.rs
Labels: size/L, feat

#1725 fix: Small fixes to KVBM <-> vLLM integration
  lib/bindings/python/src/dynamo/llm/vllm_integration/kv_cache_manager.py
  lib/bindings/python/src/dynamo/llm/vllm_integration/kv_cache_utils.py
Labels: size/S, fix

#1674 feat: Validation engine for validating OpenAI api request data
  lib/llm/src/engines.rs
  lib/llm/src/protocols/openai.rs
  lib/llm/src/protocols/openai/chat_completions.rs
  lib/llm/src/protocols/openai/completions.rs
  lib/llm/src/protocols/openai/validate.rs
  lib/llm/tests/openai_completions.rs
  lib/runtime/src/pipeline/context.rs
Labels: external-contribution, size/XL, feat

#1720 chore: fix typo for dynamo-run docs
  docs/guides/dynamo_run.md
Labels: size/S, chore

#1717 docs: Add GitHub Pages deployment to private website for release branches
  .github/workflows/generate-docs.yml
Labels: size/L, docs

#1726 fix: Add handling for ignore_eos sampling param in trtllm example base engine
  examples/tensorrt_llm/common/base_engine.py
Labels: size/XS, fix

#1721 feat: add dynamo components for sglang
  container/Dockerfile.sglang
  container/Dockerfile.sglang-deepep
  examples/sglang/README.md
  examples/sglang/components/decode_worker.py
  examples/sglang/components/frontend.py
  examples/sglang/components/worker.py
  examples/sglang/configs/agg.yaml
  examples/sglang/configs/deepseek-r1-wideep/dsr1-wideep.yaml
  examples/sglang/configs/deepseek_r1/wideep/deepep.json
  examples/sglang/configs/disagg-dp-attention.yaml
  examples/sglang/configs/disagg.yaml
  examples/sglang/configs/dsr1.yaml
  examples/sglang/dsr1-wideep.md
  examples/sglang/graphs/agg.py
  examples/sglang/graphs/disagg.py
  examples/sglang/launch/agg.sh
  examples/sglang/launch/agg_router.sh
  examples/sglang/launch/disagg.sh
  examples/sglang/launch/disagg_dp_attn.sh
  examples/sglang/multinode-examples.md
  examples/sglang/utils/benchmarking/bench.sh
  examples/sglang/utils/benchmarking/generate_bench_data.py
  examples/sglang/utils/clear_namespace.py
  examples/sglang/utils/gen_env_vars.sh
  examples/sglang/utils/sgl_utils.py
Labels: size/XXL, feat

#1741 chore: sgl container hash and python path bump
  container/Dockerfile.sglang
  container/Dockerfile.sglang-deepep
Labels: size/S, chore

#1767 chore(engines): Upgrade mistralrs to 0.6.0
  Cargo.lock
  Cargo.toml
  deny.toml
  lib/bindings/python/Cargo.lock
  lib/engines/mistralrs/Cargo.toml
  lib/engines/mistralrs/src/lib.rs
  lib/runtime/examples/Cargo.lock
Labels: size/M, chore

#1762 chore: update nixl to latest 0.3.1 commit
  Cargo.lock
  container/build.sh
  lib/bindings/python/Cargo.lock
  lib/llm/Cargo.toml
Labels: size/XS, chore

#1771 fix: not raising error when the slot is not found with the request id…
  lib/bindings/python/rust/llm/block_manager/vllm.rs
Labels: size/M, fix

#1730 feat: automate slurm handling in sglang example.
  examples/sglang/slurm_jobs/.gitignore
  examples/sglang/slurm_jobs/README.md
  examples/sglang/slurm_jobs/job_script_template.j2
  examples/sglang/slurm_jobs/scripts/monitor_gpu_utilization.sh
  examples/sglang/slurm_jobs/scripts/worker_setup.py
  examples/sglang/slurm_jobs/submit_job_script.py
Labels: external-contribution, size/XL, feat

#1769 feat: add flush_cache endpoint to sglang
  examples/sglang/components/decode_worker.py
  examples/sglang/components/worker.py
  examples/sglang/utils/sgl_http_server.py
Labels: size/L, feat

#1792 fix: add setuptools dependency
  pyproject.toml
Labels: size/XS, fix

#1793 chore: update versions for 0.3.2 release
  Cargo.lock
  Cargo.toml
  container/Dockerfile.vllm
  docs/support_matrix.md
  lib/bindings/python/Cargo.lock
  lib/bindings/python/Cargo.toml
  lib/runtime/examples/Cargo.lock
  lib/runtime/examples/Cargo.toml
  pyproject.toml
Labels: size/M, chore

#1802 docs: Remove the outdated limitation
  examples/tensorrt_llm/configs/deepseek_r1/multinode/README.md
Labels: size/XS, docs

#1803 fix: include load and sla planner doc
  docs/architecture/architecture.md
  docs/architecture/planner.md
  docs/architecture/planner_intro.rst
  docs/examples/llm_deployment.md
  docs/index.rst
Labels: size/L, fix

#1801 fix: for handling zombie process
  tests/utils/managed_process.py
Labels: size/M, fix

#1549 feat: vllm speculative decoding metrics
  components/metrics/src/bin/mock_worker.rs
  components/metrics/src/lib.rs
  container/deps/vllm/vllm_v0.8.4-dynamo-kv-disagg-patch.patch
  docs/guides/backend.md
  examples/llm/components/worker.py
  examples/sglang/components/worker.py
  launch/dynamo-run/src/subprocess/vllm_v1_inc.py
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/rust/llm/kv.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/bindings/python/src/dynamo/llm/__init__.py
  lib/bindings/python/src/dynamo/llm/tensorrtllm/publisher.py
  lib/bindings/python/tests/test_kv_bindings.py
  lib/llm/src/kv_router/protocols.rs
  lib/llm/src/kv_router/scheduler.rs
  lib/llm/src/kv_router/scoring.rs
  lib/llm/src/mocker/scheduler.rs
Labels: size/XL, feat

#1766 feat: add crds for vllm and llm examples
  examples/llm/deploy/agg.yaml
  examples/llm/deploy/agg_router.yaml
  examples/llm/deploy/disagg.yaml
  examples/llm/deploy/disagg_router.yaml
  examples/vllm_v0/deploy/agg.yaml
  examples/vllm_v0/deploy/disagg.yaml
  examples/vllm_v0/deploy/disagg_planner.yaml
  examples/vllm_v1/deploy/agg.yaml
  examples/vllm_v1/deploy/disagg.yaml
  examples/vllm_v1/deploy/disagg_planner.yaml
Labels: size/XXL, feat

#1744 ci: add sglang gpu based CI tests
  tests/serve/test_sglang.py
Labels: ci, size/L

#1742 feat: remove dynamo deployment from cli
  components/planner/README.md
  deploy/inference-gateway/example/README.md
  deploy/sdk/src/dynamo/sdk/cli/cli.py
  deploy/sdk/src/dynamo/sdk/cli/deployment.py
  deploy/sdk/src/dynamo/sdk/core/deploy/__init__.py
  deploy/sdk/src/dynamo/sdk/core/deploy/consts.py
  deploy/sdk/src/dynamo/sdk/core/deploy/kubernetes.py
  deploy/sdk/src/dynamo/sdk/core/protocol/deployment.py
  deploy/sdk/tests/test_deployment.sh
  docs/examples/hello_world.md
  docs/examples/llm_deployment.md
  docs/guides/cli_overview.md
  docs/guides/dynamo_deploy/operator_deployment.md
  examples/llm/README.md
  examples/multimodal/README.md
Labels: dynamo-deploy, size/XXL, feat

#1811 chore(CODEOWNERS): Make `*.rs` and `Cargo.toml` lists the same
  CODEOWNERS
Labels: size/XS, chore

#1812 fix: fix gpu resource spec in llm deployments
  examples/llm/deploy/agg.yaml
  examples/llm/deploy/agg_router.yaml
  examples/llm/deploy/disagg.yaml
  examples/llm/deploy/disagg_router.yaml
  examples/vllm_v0/deploy/agg.yaml
  examples/vllm_v0/deploy/disagg.yaml
  examples/vllm_v0/deploy/disagg_planner.yaml
  examples/vllm_v1/deploy/agg.yaml
  examples/vllm_v1/deploy/disagg.yaml
  examples/vllm_v1/deploy/disagg_planner.yaml
Labels: size/M, fix

#1813 feat: undo coderabbit requested changes
  examples/llm/deploy/agg.yaml
  examples/llm/deploy/agg_router.yaml
  examples/llm/deploy/disagg.yaml
  examples/llm/deploy/disagg_router.yaml
  examples/vllm_v0/deploy/agg.yaml
  examples/vllm_v0/deploy/disagg.yaml
  examples/vllm_v0/deploy/disagg_planner.yaml
  examples/vllm_v1/deploy/agg.yaml
  examples/vllm_v1/deploy/disagg.yaml
  examples/vllm_v1/deploy/disagg_planner.yaml
Labels: size/L, feat

#1779 feat: add a new dockerfile to build kvbm container | add KVBM guide
  container/Dockerfile.kvbm
  container/build.sh
  container/run.sh
  docs/guides/run_kvbm_in_vllm.md
Labels: size/XL, feat

#1818 chore: add `net-tools` to dockerfile for `ifconfig` usage in deployment
  container/Dockerfile.sglang
  container/Dockerfile.sglang-deepep
  container/Dockerfile.vllm_v1
Labels: size/XS, chore

#1817 chore(CODEOWNERS): Use Team alias for Rust code owners
  CODEOWNERS
Labels: size/XS, chore

#1799 feat(python): Python bindings for the Dynamo CLI tools
  Cargo.lock
  examples/cli/cli.py
  launch/dynamo-run/Cargo.toml
  launch/dynamo-run/src/lib.rs
  lib/bindings/python/Cargo.lock
  lib/bindings/python/Cargo.toml
  lib/bindings/python/README.md
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/rust/llm.rs
  lib/bindings/python/rust/llm/entrypoint.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/bindings/python/src/dynamo/llm/__init__.py
  lib/engines/llamacpp/Cargo.toml
  lib/llm/src/entrypoint.rs
  lib/llm/src/entrypoint/input.rs
  lib/llm/src/local_model.rs
Labels: size/L, feat

#1815 chore(cherry-pick): fix dsr1 multinode instructions
  examples/sglang/multinode-examples.md
Labels: size/M, chore

#1656 feat: Build DistributedRuntime-level HTTP server with /health /metrics
  Cargo.lock
  Cargo.toml
  lib/bindings/python/Cargo.lock
  lib/llm/Cargo.toml
  lib/runtime/Cargo.toml
  lib/runtime/examples/Cargo.lock
  lib/runtime/src/config.rs
  lib/runtime/src/distributed.rs
  lib/runtime/src/http_server.rs
  lib/runtime/src/lib.rs
  lib/runtime/src/worker.rs
Labels: size/L, feat

#1822 fix: update trtllm runtime build (#1810)
  container/Dockerfile.tensorrt_llm
Labels: size/S, fix

#1823 fix: updating test to not set port
  tests/serve/test_dynamo_serve.py
Labels: size/XS, fix

#1824 docs: clarify metrics visualization instructions. Removed unused file.
  deploy/metrics/README.md
  docs/runtime/README.md
  lib/runtime/docker-compose.yml
Labels: size/L, docs

#1820 feat: remove DYN_DEPLOYMENT_CONFIG in examples
  deploy/cloud/operator/internal/consts/consts.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller_test.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
  examples/vllm_v0/deploy/agg.yaml
  examples/vllm_v0/deploy/disagg.yaml
  examples/vllm_v0/deploy/disagg_planner.yaml
  examples/vllm_v1/deploy/agg.yaml
  examples/vllm_v1/deploy/disagg.yaml
  examples/vllm_v1/deploy/disagg_planner.yaml
Labels: size/M, feat

#1839 chore: add info about cache flush and bump version
  container/Dockerfile.sglang-deepep
  examples/sglang/dsr1-wideep.md
Labels: size/S, chore

#1826 fix: fix gpu resource spec in llm deployments #1812
  examples/llm/deploy/agg.yaml
  examples/llm/deploy/agg_router.yaml
  examples/llm/deploy/disagg.yaml
  examples/llm/deploy/disagg_router.yaml
  examples/vllm_v0/deploy/agg.yaml
  examples/vllm_v0/deploy/disagg.yaml
  examples/vllm_v0/deploy/disagg_planner.yaml
  examples/vllm_v1/deploy/agg.yaml
  examples/vllm_v1/deploy/disagg.yaml
  examples/vllm_v1/deploy/disagg_planner.yaml
Labels: size/M, fix

#1829 chore: small fix in dsr1 readme
  examples/sglang/multinode-examples.md
  examples/sglang/slurm_jobs/job_script_template.j2
Labels: size/XS, chore

#1831 feat: DSR1 launch script
  examples/vllm_v1/ds-r1-DEP.md
  examples/vllm_v1/launch/dsr1_dep.sh
Labels: size/L, feat

#1840 feat: remove DYN_DEPLOYMENT_CONFIG in examples (#1820)
  deploy/cloud/operator/internal/consts/consts.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller_test.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
  examples/vllm_v0/deploy/agg.yaml
  examples/vllm_v0/deploy/disagg.yaml
  examples/vllm_v0/deploy/disagg_planner.yaml
  examples/vllm_v1/deploy/agg.yaml
  examples/vllm_v1/deploy/disagg.yaml
  examples/vllm_v1/deploy/disagg_planner.yaml
Labels: size/M, feat

#1841 feat: remove minio dependency (#1833)
  deploy/cloud/helm/platform/Chart.yaml
  deploy/cloud/helm/platform/values.yaml
Labels: size/M, feat

#1848 feat: update active blocks in chunks only when necessary
  lib/llm/src/kv_router.rs
  lib/llm/src/kv_router/scheduler.rs
  lib/llm/src/kv_router/sequence.rs
Labels: size/L, feat

#1849 fix: update v1 docs
  examples/vllm_v1/README.md
Labels: size/S, fix

#1836 feat: add multimodal k8s deployment manifest
  examples/multimodal/README.md
  examples/multimodal/deploy/k8s/agg-llava.yaml
  examples/multimodal/deploy/k8s/agg-phi3v.yaml
  examples/multimodal/deploy/k8s/agg-qwen.yaml
  examples/multimodal/deploy/k8s/agg-video.yaml
  examples/multimodal/deploy/k8s/disagg-video.yaml
  examples/multimodal/deploy/k8s/disagg.yaml
  examples/multimodal/utils/model.py
Labels: size/XL, feat

#1858 perf(runtime): Use all available parallelism
  launch/dynamo-run/src/main.rs
  lib/runtime/src/config.rs
  lib/runtime/src/runtime.rs
Labels: size/M, perf

#1827 fix: KeyError in kv_router.py by Initializing active_blocks_dict for New Workers
  examples/llm/components/kv_router.py
Labels: external-contribution, size/XS, fix

#1861 fix: prevent null second token output & reduce time to second token l…
  examples/tensorrt_llm/common/base_engine.py
Labels: external-contribution, size/XS, fix

#1860 chore: update nixl to 0.4.0 release
  Cargo.lock
  container/build.sh
  docs/support_matrix.md
  lib/bindings/python/Cargo.lock
  lib/llm/Cargo.toml
Labels: size/S, chore

#1865 build: Upgrade nats & etcd version in all containers
  container/Dockerfile.sglang
  container/Dockerfile.sglang-deepep
  container/Dockerfile.tensorrt_llm
  container/Dockerfile.vllm
  container/Dockerfile.vllm_v1
Labels: size/M, build

#1866 feat: fix helm chart for graph deployment
  deploy/helm/README.md
  deploy/helm/chart/Chart.yaml
  deploy/helm/chart/templates/deployment.yaml
  deploy/helm/chart/templates/service.yaml
  deploy/helm/chart/values.yaml
  deploy/helm/dependencies/etcd-values.yaml
  deploy/helm/dependencies/nats-values.yaml
  deploy/helm/deploy.sh
Labels: size/L, feat

#1756 refactor: vllm v1 examples
  container/Dockerfile.vllm_v1
  examples/vllm_v1/README.md
  examples/vllm_v1/components/args.py
  examples/vllm_v1/components/frontend.py
  examples/vllm_v1/components/handlers.py
  examples/vllm_v1/components/main.py
  examples/vllm_v1/components/protocol.py
  examples/vllm_v1/components/publisher.py
  examples/vllm_v1/components/simple_load_balancer.py
  examples/vllm_v1/components/worker.py
  examples/vllm_v1/configs/agg.yaml
  examples/vllm_v1/configs/deepseek_r1/agg.yaml
  examples/vllm_v1/configs/deepseek_r1/agg_dp.yaml
  examples/vllm_v1/configs/deepseek_r1/disagg.yaml
  examples/vllm_v1/configs/deepseek_r1/disagg_dp.yaml
  examples/vllm_v1/configs/disagg.yaml
  examples/vllm_v1/configs/disagg_planner.yaml
  examples/vllm_v1/deepseek-r1.md
  examples/vllm_v1/graphs/agg.py
  examples/vllm_v1/graphs/disagg.py
  examples/vllm_v1/graphs/disagg_planner.py
  examples/vllm_v1/launch/agg.sh
  examples/vllm_v1/launch/agg_router.sh
  examples/vllm_v1/launch/dep.sh
  examples/vllm_v1/launch/disagg.sh
  examples/vllm_v1/launch/disagg_router.sh
  examples/vllm_v1/launch/dsr1_dep.sh
  examples/vllm_v1/multi-node.md
  examples/vllm_v1/utils/args.py
  examples/vllm_v1/utils/protocol.py
  lib/bindings/python/src/dynamo/_core.pyi
  lib/llm/src/kv_router/publisher.rs
  lib/llm/src/kv_router/scheduler.rs
Labels: size/XXL, refactor

#1868 perf(tokenizer): Make de-tokenize ~50% faster
  Cargo.lock
  lib/llm/Cargo.toml
  lib/llm/benches/tokenizer.rs
  lib/llm/src/backend.rs
  lib/llm/src/entrypoint/input/batch.rs
  lib/llm/src/preprocessor.rs
  lib/llm/src/tokenizers.rs
  lib/llm/src/tokenizers/hf.rs
  lib/llm/src/tokenizers/sp.rs
  lib/llm/tests/tokenizers.rs
Labels: size/L, perf

#1869 feat: allow using ApproxKvIndexer for routing via use_kv_events flag
  docs/guides/dynamo_run.md
  launch/dynamo-run/src/flags.rs
  lib/llm/src/discovery/model_manager.rs
  lib/llm/src/kv_router.rs
  lib/llm/src/kv_router/approx.rs
Labels: size/L, feat

#1847 wired up reset to vllm http; more tracing
  lib/bindings/python/rust/llm/block_manager/vllm.rs
  lib/bindings/python/rust/llm/block_manager/vllm/slot.rs
  lib/bindings/python/src/dynamo/llm/vllm_integration/kv_cache_manager.py
  lib/llm/src/block_manager/block.rs
Labels: size/XL

#1881 fix: add missing av dependency in contanier for multimodal examples
  container/deps/requirements.txt
  examples/multimodal/README.md
Labels: size/XS, fix

#1863 feat: undo coderabbit requested changes (#1813)
  examples/llm/deploy/agg.yaml
  examples/llm/deploy/agg_router.yaml
  examples/llm/deploy/disagg.yaml
  examples/llm/deploy/disagg_router.yaml
  examples/vllm_v0/deploy/agg.yaml
  examples/vllm_v0/deploy/disagg.yaml
  examples/vllm_v0/deploy/disagg_planner.yaml
  examples/vllm_v1/deploy/agg.yaml
  examples/vllm_v1/deploy/disagg.yaml
  examples/vllm_v1/deploy/disagg_planner.yaml
Labels: size/M, feat

#1872 feat: add hello world deployment example (#1854)
  examples/hello_world/config.yaml
  examples/hello_world/deploy/hello_world.yaml
Labels: size/L, feat

#1876 build: Upgrade nats & etcd version in all containers (#1865)
  container/Dockerfile.sglang
  container/Dockerfile.sglang-deepep
  container/Dockerfile.tensorrt_llm
  container/Dockerfile.vllm
  container/Dockerfile.vllm_v1
Labels: size/M, build

#1877 feat: fix helm chart for graph deployment (#1866)
  deploy/helm/README.md
  deploy/helm/chart/Chart.yaml
  deploy/helm/chart/templates/deployment.yaml
  deploy/helm/chart/templates/service.yaml
  deploy/helm/chart/values.yaml
  deploy/helm/dependencies/etcd-values.yaml
  deploy/helm/dependencies/nats-values.yaml
  deploy/helm/deploy.sh
Labels: size/L, feat

#1692 docs: Improve Dynamo Deploy Documentation
  deploy/CONTRIBUTING.md
  deploy/cloud/helm/README.md
  deploy/cloud/helm/deploy.sh
  docs/examples/README.md
  docs/examples/hello_world.md
  docs/examples/llm_deployment.md
  docs/guides/dynamo_build.md
  docs/guides/dynamo_deploy/README.md
  docs/guides/dynamo_deploy/dynamo_cloud.md
  docs/guides/dynamo_deploy/dynamo_operator.md
  docs/guides/dynamo_deploy/gke_setup.md
  docs/guides/dynamo_deploy/model_caching_with_fluid.md
  docs/guides/dynamo_deploy/operator_deployment.md
  docs/guides/dynamo_deploy/quickstart.md
  docs/index.rst
  examples/llm/README.md
Labels: size/XXL, docs

#1904 fix: add capi to pip and make it fallback
  deploy/sdk/src/dynamo/sdk/__init__.py
  deploy/sdk/src/dynamo/sdk/lib/utils.py
  hatch_build.py
  launch/dynamo-run/src/subprocess/vllm_inc.py
Labels: size/M, fix

#1891 chore: update nixl to 0.4.0 release (#1860) (#1886)
  Cargo.lock
  container/build.sh
  docs/support_matrix.md
  lib/bindings/python/Cargo.lock
  lib/llm/Cargo.toml
Labels: size/S, chore

#1770 build: Add support for sglang runtime image
  container/Dockerfile.sglang
Labels: size/M, build

#1912 feat: Python frontend / ingress node
  components/ingress/README
  components/ingress/src/dynamo/ingress/__init__.py
  components/ingress/src/dynamo/ingress/__main__.py
  components/ingress/src/dynamo/ingress/main.py
  pyproject.toml
  tests/serve/test_dynamo_serve.py
Labels: size/M, feat

#1918 feat: Shrink the ai-dynamo wheel by 35 MiB
  .devcontainer/post-create.sh
  Cargo.lock
  Cargo.toml
  Earthfile
  README.md
  components/http/Cargo.toml
  components/http/src/main.rs
  container/Dockerfile.none
  container/Dockerfile.sglang
  container/Dockerfile.sglang-deepep
  container/Dockerfile.tensorrt_llm
  container/Dockerfile.vllm
  container/Dockerfile.vllm_v1
  deploy/sdk/src/dynamo/sdk/cli/run_executable.py
  docs/get_started.md
  docs/guides/backend.md
  hatch_build.py
  launch/llmctl/Cargo.toml
  launch/llmctl/src/main.rs
  pyproject.toml
Labels: size/XL, feat

#1895 feat: prefill aware routing
  components/metrics/src/bin/mock_worker.rs
  components/metrics/src/main.rs
  docs/guides/dynamo_run.md
  launch/dynamo-run/src/flags.rs
  lib/llm/src/kv_router.rs
  lib/llm/src/kv_router/protocols.rs
  lib/llm/src/kv_router/scheduler.rs
  lib/llm/src/kv_router/sequence.rs
Labels: size/L, feat

#1778 refactor: remove dynamo build
  deploy/sdk/src/dynamo/sdk/cli/build.py
  deploy/sdk/src/dynamo/sdk/cli/cli.py
  docs/guides/cli_overview.md
Labels: size/XL, refactor

#1917 build: minor improvements to sglang dockerfile
  container/Dockerfile.sglang
Labels: size/M, build

#1925 feat(backends): Python llama.cpp engine
  components/backends/llama_cpp/README.md
  components/backends/llama_cpp/requirements.txt
  components/backends/llama_cpp/src/dynamo/llama_cpp/__init__.py
  components/backends/llama_cpp/src/dynamo/llama_cpp/__main__.py
  components/backends/llama_cpp/src/dynamo/llama_cpp/main.py
  pyproject.toml
Labels: size/L, feat

#1828 docs: TRTLLM Example of Llama4+Eagle3 (Speculative Decoding)
  examples/tensorrt_llm/README.md
  examples/tensorrt_llm/configs/llama4/eagle/eagle_agg.yaml
  examples/tensorrt_llm/configs/llama4/eagle/eagle_disagg.yaml
  examples/tensorrt_llm/configs/llama4/eagle/engine_configs/agg_config.yaml
  examples/tensorrt_llm/configs/llama4/eagle/engine_configs/decode_config.yaml
  examples/tensorrt_llm/configs/llama4/eagle/engine_configs/prefill_config.yaml
Labels: size/L, docs

#1924 build: Add support for sglang runtime container
  container/Dockerfile.sglang
Labels: size/M, build

#1910 docs: organize sglang readme
  README.md
  container/Dockerfile.sglang-wideep
  examples/sglang/README.md
  examples/sglang/docs/dsr1-wideep-h100.md
  examples/sglang/docs/multinode-examples.md
  examples/sglang/docs/sgl-http-server.md
Labels: size/L, docs

#1934 chore: metrics endpoint variables renamed from HTTP_SERVER->SYSTEM
  Cargo.lock
  lib/runtime/Cargo.toml
  lib/runtime/src/config.rs
  lib/runtime/src/distributed.rs
  lib/runtime/src/http_server.rs
Labels: size/L, chore, metrics

#1935 feat: add vllm e2e integration tests
  tests/serve/conftest.py
  tests/serve/test_vllm.py
  tests/utils/managed_process.py
Labels: size/L, feat

#1945 fix: Remove OpenSSL dependency, use Rust TLS
  Cargo.lock
  Cargo.toml
  lib/llm/Cargo.toml
  lib/runtime/Cargo.toml
  lib/runtime/src/http_server.rs
Labels: size/XS, fix

#1936 feat: allow helm upgrade using deploy script
  deploy/cloud/helm/deploy.sh
Labels: size/XS, feat

#1941 fix: update inference gateway deployment instructions #1940
  deploy/inference-gateway/example/README.md
  deploy/inference-gateway/example/resources/dynamo-epp.yaml
  deploy/inference-gateway/example/resources/inference-pool.yaml
Labels: size/M, fix

#1951 chore(multi-modal): Rename frontend.py to web.py
  examples/multimodal/components/web.py
  examples/multimodal/graphs/agg.py
  examples/multimodal/graphs/disagg.py
Labels: size/XS, chore

#1943 feat: add bitnami helm chart attribution
  ATTRIBUTIONS.md
Labels: size/L, feat

#1926 feat: update CODEOWNERS
  CODEOWNERS
Labels: size/XS, feat

#1942 fix: vllm router examples
  examples/vllm/deploy/agg_router.yaml
  examples/vllm/deploy/disagg_router.yaml
Labels: size/S, fix

#1964 docs: add notes in docs to deprecate local connector (#1959)
  docs/architecture/load_planner.md
  docs/architecture/sla_planner.md
  docs/guides/planner_benchmark/README.md
Labels: size/XS, docs

#1927 feat: integrate mocker with dynamo-run and python cli
  components/backends/mocker/README.md
  components/backends/mocker/src/dynamo/mocker/__init__.py
  components/backends/mocker/src/dynamo/mocker/__main__.py
  components/backends/mocker/src/dynamo/mocker/main.py
  docs/guides/dynamo_run.md
  launch/dynamo-run/src/flags.rs
  launch/dynamo-run/src/lib.rs
  launch/dynamo-run/src/opt.rs
  lib/bindings/python/rust/llm/entrypoint.rs
  lib/llm/src/mocker/engine.rs
  lib/llm/src/mocker/protocols.rs
  pyproject.toml
Labels: size/L, feat

#1970 chore(bindings): Remove mistralrs / llama.cpp
  lib/bindings/python/Cargo.lock
  lib/bindings/python/Cargo.toml
  lib/bindings/python/README.md
  lib/bindings/python/examples/cli/cli.py
  lib/bindings/python/rust/llm/entrypoint.rs
  lib/runtime/src/runtime.rs
Labels: size/M, chore

#1973 build: Removing shell configuration violations. It's bad practice to hardcod…
  container/Dockerfile.sglang
  container/Dockerfile.tensorrt_llm
  container/Dockerfile.vllm
  container/Dockerfile.vllm_v1
Labels: size/XS, build

#1977 fix: handling slot not found in get_block_ids
  lib/bindings/python/rust/llm/block_manager/vllm.rs
Labels: size/S, fix

#1975 feat: add Kubernetes service account configuration for SLA profiling jobs
  benchmarks/profiler/utils/dynamo_deployment.py
  examples/vllm/deploy/profile_sla_binding.yaml
  examples/vllm/deploy/profile_sla_rbac.yaml
  examples/vllm/deploy/profile_sla_sa.yaml
Labels: size/M, feat

#1980 chore: add port reservation to utils
  examples/sglang/utils/sgl_utils.py
Labels: size/S, chore

#1853 feat: support separate chat_template.jinja file
  lib/llm/src/model_card/create.rs
  lib/llm/src/model_card/model.rs
  lib/llm/src/preprocessor/prompt/template.rs
Labels: size/M, feat

#1986 feat(runtime): Support tokio-console
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  docs/guides/dynamo_run.md
  launch/dynamo-run/Cargo.toml
  launch/dynamo-run/src/main.rs
  lib/runtime/Cargo.toml
  lib/runtime/src/logging.rs
Labels: size/L, feat

#1988 test: Add trtllm kv router tests
  tests/serve/test_trtllm.py
Labels: size/M, backend::tensorrt-llm, test

#1844 fix: Working Arm Build Dockerfile for Vllm_v1
  container/Dockerfile.vllm
  container/build.sh
Labels: external-contribution, size/M, fix

#1997 fix: Fix syntax for tokio-console
  lib/runtime/src/logging.rs
Labels: size/XS, fix

#1992 ci: Update trtllm gitlab triggers for new components directory and test script
  .github/workflows/trigger_ci.yml
Labels: ci, size/XS

#2000 fix: incorrect helm upgrade command
  deploy/cloud/helm/deploy.sh
Labels: size/XS, fix

#1991 chore: update cmake and gap installation in wideep container
  container/Dockerfile.sglang-wideep
  examples/sglang/docs/dsr1-wideep-h100.md
Labels: size/M, chore

#1998 chore: loosed python requirement versions
  pyproject.toml
Labels: size/S, chore

#1933 feat: Create a convenience script to uninstall Dynamo Deploy CRDs
  deploy/cloud/helm/uninstall.sh
  docs/guides/dynamo_deploy/quickstart.md
Labels: size/M, feat

#1989 feat: Metrics for KVBM transfer bw
  lib/llm/src/block_manager/block/data/logical.rs
  lib/llm/src/block_manager/block/data/logical/distributed_leader_worker.rs
  lib/llm/src/block_manager/block/data/logical/null.rs
  lib/llm/src/block_manager/block/locality.rs
  lib/llm/src/block_manager/block/transfer.rs
  lib/llm/src/block_manager/distributed/transfer.rs
  lib/llm/src/block_manager/offload.rs
  lib/llm/src/block_manager/offload/pending.rs
Labels: size/L, feat

#2009 chore: Move NIXL repo clone to Dockerfiles
  container/Dockerfile.sglang
  container/Dockerfile.tensorrt_llm
  container/Dockerfile.vllm
  container/build.sh
Labels: size/L, chore

#2003 refactor: Migrate to new UX2 for python launch
  components/backends/trtllm/launch/agg.sh
  components/backends/trtllm/launch/agg_router.sh
  components/backends/trtllm/launch/disagg.sh
  components/backends/trtllm/launch/disagg_router.sh
  components/backends/trtllm/multinode/start_frontend_services.sh
  components/backends/trtllm/multinode/start_trtllm_worker.sh
  components/backends/trtllm/src/dynamo/trtllm/__init__.py
  components/backends/trtllm/src/dynamo/trtllm/__main__.py
  components/backends/trtllm/src/dynamo/trtllm/main.py
  components/backends/trtllm/src/dynamo/trtllm/utils/disagg_utils.py
  components/backends/trtllm/src/dynamo/trtllm/utils/request_handlers/handler_base.py
  components/backends/trtllm/src/dynamo/trtllm/utils/request_handlers/handlers.py
  components/backends/trtllm/src/dynamo/trtllm/utils/trtllm_utils.py
  pyproject.toml
Labels: size/L, refactor

#2015 feat: enable / disable chunked prefill for mockers
  components/backends/mocker/README.md
  docs/guides/dynamo_run.md
  lib/llm/src/mocker/kv_manager.rs
  lib/llm/src/mocker/protocols.rs
  lib/llm/src/mocker/scheduler.rs
  lib/llm/src/mocker/sequence.rs
Labels: size/L, feat

#1955 fix: Don't detokenize twice in TRT-LLM examples
  components/backends/trtllm/src/dynamo/trtllm/main.py
Labels: size/XS, fix

#2017 fix: Revert "feat: add vLLM v1 multi-modal example. Add llama4 Maverick ex…
  container/Dockerfile.vllm
  examples/multimodal_v1/README.md
  examples/multimodal_v1/backup_README.md
  examples/multimodal_v1/components/direct_processor.py
  examples/multimodal_v1/components/encode_worker.py
  examples/multimodal_v1/components/processor.py
  examples/multimodal_v1/components/web.py
  examples/multimodal_v1/components/worker.py
  examples/multimodal_v1/configs/agg-llava.yaml
  examples/multimodal_v1/configs/agg-phi3v.yaml
  examples/multimodal_v1/configs/agg-qwen.yaml
  examples/multimodal_v1/configs/disagg.yaml
  examples/multimodal_v1/configs/llama.yaml
  examples/multimodal_v1/connect/README.md
  examples/multimodal_v1/connect/__init__.py
  examples/multimodal_v1/graphs/agg.py
  examples/multimodal_v1/graphs/disagg.py
  examples/multimodal_v1/utils/args.py
  examples/multimodal_v1/utils/chat_processor.py
  examples/multimodal_v1/utils/image_loader.py
  examples/multimodal_v1/utils/logging.py
  examples/multimodal_v1/utils/model.py
  examples/multimodal_v1/utils/protocol.py
Labels: size/XXL, fix

#2018 feat: Restructure KVBM init to broadcast num device blocks to leader
  lib/bindings/python/rust/llm/block_manager.rs
  lib/llm/src/block_manager/distributed/leader.rs
  lib/llm/src/block_manager/distributed/worker.rs
Labels: size/M, feat

#2033 docs: fix helm chart urls
  docs/guides/dynamo_deploy/quickstart.md
Labels: size/XS, docs

#2034 refactor: support for turning prefix cache off
  examples/vllm/components/args.py
  examples/vllm/components/main.py
  examples/vllm/launch/agg.sh
  tests/serve/test_vllm.py
Labels: size/M, refactor

#2039 fix: never sleep on the eos
  examples/vllm/components/handlers.py
Labels: size/S, fix

#2044 feat: use atomic transactions when creating etcd kv
  lib/runtime/src/storage/key_value_store/etcd.rs
Labels: size/L, feat

#2046 chore(sglang): Move examples/sglang to components/backends/sglang
  components/backends/sglang/README.md
  components/backends/sglang/configs/deepseek_r1/wideep/deepep.json
  components/backends/sglang/docs/dsr1-wideep-h100.md
  components/backends/sglang/docs/multinode-examples.md
  components/backends/sglang/docs/sgl-http-server.md
  components/backends/sglang/launch/agg.sh
  components/backends/sglang/launch/agg_router.sh
  components/backends/sglang/launch/disagg.sh
  components/backends/sglang/launch/disagg_dp_attn.sh
  components/backends/sglang/requirements.txt
  components/backends/sglang/slurm_jobs/.gitignore
  components/backends/sglang/slurm_jobs/README.md
  components/backends/sglang/slurm_jobs/job_script_template.j2
  components/backends/sglang/slurm_jobs/scripts/monitor_gpu_utilization.sh
  components/backends/sglang/slurm_jobs/scripts/worker_setup.py
  components/backends/sglang/slurm_jobs/submit_job_script.py
  components/backends/sglang/src/dynamo/sglang/__init__.py
  components/backends/sglang/src/dynamo/sglang/decode_worker/__init__.py
  components/backends/sglang/src/dynamo/sglang/decode_worker/__main__.py
  components/backends/sglang/src/dynamo/sglang/decode_worker/main.py
  components/backends/sglang/src/dynamo/sglang/utils/benchmarking/bench.sh
  components/backends/sglang/src/dynamo/sglang/utils/benchmarking/generate_bench_data.py
  components/backends/sglang/src/dynamo/sglang/utils/clear_namespace.py
  components/backends/sglang/src/dynamo/sglang/utils/gen_env_vars.sh
  components/backends/sglang/src/dynamo/sglang/utils/protocol.py
  components/backends/sglang/src/dynamo/sglang/utils/sgl_http_server.py
  components/backends/sglang/src/dynamo/sglang/utils/sgl_utils.py
  components/backends/sglang/src/dynamo/sglang/worker/__init__.py
  components/backends/sglang/src/dynamo/sglang/worker/__main__.py
  components/backends/sglang/src/dynamo/sglang/worker/main.py
  pyproject.toml
Labels: size/L, chore

#2053 chore: cleanup, add doc
  benchmarks/profiler/deploy/profile_sla_binding.yaml
  benchmarks/profiler/deploy/profile_sla_job.yaml
  benchmarks/profiler/deploy/profile_sla_rbac.yaml
  benchmarks/profiler/deploy/profile_sla_sa.yaml
  benchmarks/profiler/deploy/profiling_pvc.yaml
  benchmarks/profiler/profile_sla.py
  benchmarks/profiler/utils/config.py
  benchmarks/profiler/utils/defaults.py
  benchmarks/profiler/utils/dynamo_deployment.py
  docs/architecture/load_planner.md
  docs/architecture/planner_intro.rst
  docs/architecture/pre_deployment_profiling.md
  docs/architecture/sla_planner.md
  examples/vllm/deploy/README.md
Labels: size/L, chore

#2048 fix: correct Nixl plugin paths in Dockerfile.
  container/Dockerfile.sglang
  container/Dockerfile.tensorrt_llm
  container/Dockerfile.vllm
Labels: external-contribution, size/L, fix

#2007 docs: Cleanup index.rst
  docs/guides/cli_overview.md
  docs/guides/dynamo_deploy/quickstart.md
  docs/guides/dynamo_run.md
  docs/guides/dynamo_serve.md
  docs/index.rst
Labels: size/L, docs

#2052 chore: Remove unused portion of kv bindings test
  lib/bindings/python/tests/test_kv_bindings.py
Labels: size/M, chore

#1983 refactor: vLLM to new Python UX
  components/backends/vllm/README.md
  components/backends/vllm/deepseek-r1.md
  components/backends/vllm/deploy/agg.yaml
  components/backends/vllm/deploy/agg_router.yaml
  components/backends/vllm/deploy/disagg.yaml
  components/backends/vllm/deploy/disagg_planner.yaml
  components/backends/vllm/deploy/disagg_router.yaml
  components/backends/vllm/launch/agg.sh
  components/backends/vllm/launch/agg_router.sh
  components/backends/vllm/launch/dep.sh
  components/backends/vllm/launch/disagg.sh
  components/backends/vllm/launch/disagg_router.sh
  components/backends/vllm/launch/dsr1_dep.sh
  components/backends/vllm/multi-node.md
  components/backends/vllm/requirements.txt
  components/backends/vllm/src/dynamo/vllm/__init__.py
  components/backends/vllm/src/dynamo/vllm/__main__.py
  components/backends/vllm/src/dynamo/vllm/args.py
  components/backends/vllm/src/dynamo/vllm/handlers.py
  components/backends/vllm/src/dynamo/vllm/main.py
  components/backends/vllm/src/dynamo/vllm/protocol.py
  components/backends/vllm/src/dynamo/vllm/publisher.py
  examples/vllm/launch/agg_router.sh
  pyproject.toml
  tests/serve/test_vllm.py
Labels: size/L, refactor

#2051 chore: Bump genai-perf to v0.0.15
  container/deps/requirements.txt
Labels: size/XS, chore

#2055 chore: Change vllm K8s from dynamo-run to python -m dynamo.frontend
  components/backends/vllm/deploy/agg.yaml
  components/backends/vllm/deploy/agg_router.yaml
  components/backends/vllm/deploy/disagg.yaml
  components/backends/vllm/deploy/disagg_planner.yaml
  components/backends/vllm/deploy/disagg_router.yaml
Labels: size/M, chore

#1996 feat: health check changes based on endpoint served
  Cargo.lock
  lib/runtime/Cargo.toml
  lib/runtime/src/component.rs
  lib/runtime/src/component/endpoint.rs
  lib/runtime/src/config.rs
  lib/runtime/src/distributed.rs
  lib/runtime/src/http_server.rs
  lib/runtime/src/lib.rs
  lib/runtime/src/pipeline/network/ingress/push_endpoint.rs
Labels: size/L, feat

#2020 build: Fixes for vLLM Blackwell Builds
  container/Dockerfile.vllm
  container/deps/vllm/install_vllm.sh
Labels: external-contribution, size/S, build

#2063 fix: Removed hardcoded bytes_per_block in favor of static vllm apis
  lib/bindings/python/src/dynamo/llm/vllm_integration/connector/connector.py
Labels: size/M, fix

#1478 feat: Connect Library
  docs/API/nixl_connect/README.md
  docs/API/nixl_connect/connector.md
  docs/API/nixl_connect/descriptor.md
  docs/API/nixl_connect/device.md
  docs/API/nixl_connect/device_kind.md
  docs/API/nixl_connect/operation_status.md
  docs/API/nixl_connect/rdma_metadata.md
  docs/API/nixl_connect/read_operation.md
  docs/API/nixl_connect/readable_operation.md
  docs/API/nixl_connect/writable_operation.md
  docs/API/nixl_connect/write_operation.md
  docs/index.rst
  examples/multimodal/components/prefill_worker.py
  lib/bindings/python/src/dynamo/nixl_connect/__init__.py
Labels: enhancement, language::python, nixl, size/XXL, feat

#2071 fix: endpoint changes should be prioritized over new requests in kv scheduler
  lib/llm/src/kv_router/scheduler.rs
Labels: size/S, fix

#2056 docs: Adjust the path to examples
  README.md
  deploy/helm/README.md
  deploy/inference-gateway/example/README.md
  docs/examples/README.md
  docs/get_started.md
  docs/guides/dynamo_deploy/quickstart.md
Labels: size/M, docs

#2072 fix: updates versions and adds ahashmap to BPE
  Cargo.lock
  Cargo.toml
  lib/bindings/python/Cargo.lock
  lib/engines/mistralrs/Cargo.toml
  lib/llm/Cargo.toml
  lib/llm/src/gguf/gguf_tokenizer.rs
Labels: size/S, fix

#2075 fix: github ci triggers
  .github/workflows/trigger_ci.yml
Labels: size/XS, fix

#1787 feat: query instance_id based on routing strategy
  lib/llm/src/kv_router.rs
  lib/llm/src/preprocessor.rs
Labels: size/L, feat

#1920 chore(dynamo-run): Remove out=sglang|vllm|trtllm
  launch/dynamo-run/src/flags.rs
  launch/dynamo-run/src/lib.rs
  launch/dynamo-run/src/main.rs
  launch/dynamo-run/src/opt.rs
  launch/dynamo-run/src/subprocess.rs
  launch/dynamo-run/src/subprocess/sglang.rs
  launch/dynamo-run/src/subprocess/sglang_inc.py
  launch/dynamo-run/src/subprocess/trtllm.rs
  launch/dynamo-run/src/subprocess/trtllm_config/sample.yaml
  launch/dynamo-run/src/subprocess/trtllm_inc.py
  launch/dynamo-run/src/subprocess/vllm.rs
  launch/dynamo-run/src/subprocess/vllm_inc.py
  launch/dynamo-run/src/subprocess/vllm_v1_inc.py
  lib/bindings/python/examples/cli/cli.py
  lib/bindings/python/examples/cli/sglang_inc.py
  lib/bindings/python/examples/cli/trtllm_inc.py
  lib/bindings/python/examples/cli/vllm_inc.py
  lib/llm/src/entrypoint/input/endpoint.rs
Labels: size/XXL, chore

#2012 feat: add initial Grove support
  components/backends/vllm/deploy/agg.yaml
  components/backends/vllm/deploy/agg_router.yaml
  components/backends/vllm/deploy/disagg.yaml
  components/backends/vllm/deploy/disagg_planner.yaml
  components/backends/vllm/deploy/disagg_router.yaml
  deploy/cloud/helm/crds/templates/nvidia.com_dynamocomponentdeployments.yaml
  deploy/cloud/helm/crds/templates/nvidia.com_dynamographdeployments.yaml
  deploy/cloud/helm/deploy.sh
  deploy/cloud/helm/dynamo-platform-values.yaml
  deploy/cloud/helm/platform/Chart.yaml
  deploy/cloud/helm/platform/components/operator/Chart.yaml
  deploy/cloud/helm/platform/components/operator/templates/deployment.yaml
  deploy/cloud/helm/platform/components/operator/templates/manager-rbac.yaml
  deploy/cloud/helm/platform/components/operator/values.yaml
  deploy/cloud/helm/platform/values.yaml
  deploy/cloud/operator/api/v1alpha1/dynamocomponentdeployment_types.go
  deploy/cloud/operator/api/v1alpha1/dynamographdeployment_types.go
  deploy/cloud/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/cloud/operator/cmd/main.go
  deploy/cloud/operator/config/crd/bases/nvidia.com_dynamocomponentdeployments.yaml
  deploy/cloud/operator/config/crd/bases/nvidia.com_dynamographdeployments.yaml
  deploy/cloud/operator/config/rbac/role.yaml
  deploy/cloud/operator/go.mod
  deploy/cloud/operator/go.sum
  deploy/cloud/operator/internal/consts/consts.go
  deploy/cloud/operator/internal/controller/common.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller_test.go
  deploy/cloud/operator/internal/controller/dynamographdeployment_controller.go
  deploy/cloud/operator/internal/controller_common/predicate.go
  deploy/cloud/operator/internal/controller_common/resource.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
  deploy/helm/chart/templates/deployment.yaml
Labels: size/XXL, feat

#2060 feat: add nixl benchmark deployment instructions
  benchmarks/nixl/README.md
  benchmarks/nixl/nixl-benchmark-deployment.yaml
Labels: size/M, feat

#2057 feat: dump radix tree as router events
  lib/llm/src/kv_router/approx.rs
  lib/llm/src/kv_router/indexer.rs
Labels: size/L, feat

#2096 fix: Merge env vars correctly
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller_test.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
Labels: size/M, fix

#1999 docs: Create a guide for writing dynamo deployments CR
  components/backends/vllm/README.md
  deploy/cloud/helm/README.md
  docs/examples/README.md
  docs/guides/dynamo_deploy/create_deployment.md
  docs/guides/dynamo_deploy/quickstart.md
Labels: size/L, docs

#2078 fix: Allow for more selectivity with KVBM block offloading
  lib/bindings/python/rust/llm/block_manager.rs
  lib/llm/src/block_manager.rs
  lib/llm/src/block_manager/block/factory.rs
  lib/llm/src/block_manager/block/factory/local.rs
  lib/llm/src/block_manager/block/factory/logical.rs
  lib/llm/src/block_manager/config.rs
  lib/llm/src/block_manager/controller.rs
  lib/llm/src/block_manager/offload.rs
  lib/llm/src/block_manager/offload/filter.rs
  lib/llm/src/block_manager/state.rs
  lib/llm/src/block_manager/state/local.rs
  lib/llm/src/block_manager/state/logical.rs
Labels: size/L, fix

#2054 feat: update python packaging for new dynamo UX
  Earthfile
  components/backends/llama_cpp/requirements.gpu.txt
  components/backends/sglang/requirements.txt
  components/backends/vllm/requirements.txt
  container/Dockerfile.sglang
  container/Dockerfile.tensorrt_llm
  container/Dockerfile.vllm
  deploy/sdk/src/dynamo/sdk/tests/test_e2e_args.py
  deploy/sdk/src/dynamo/sdk/tests/test_e2e_config.py
  deploy/sdk/src/dynamo/sdk/tests/test_link.py
  deploy/sdk/src/dynamo/sdk/tests/test_resources.py
  hatch_build.py
  pyproject.toml
Labels: size/L, feat

#2103 feat: k8s connector scaling P/D in one call
  benchmarks/profiler/utils/config.py
  benchmarks/profiler/utils/dynamo_deployment.py
  components/planner/src/dynamo/planner/kube.py
  components/planner/src/dynamo/planner/kubernetes_connector.py
  components/planner/src/dynamo/planner/utils/planner_core.py
  components/planner/test/kube.py
  components/planner/test/kubernetes_connector.py
Labels: size/L, feat

#2109 fix: rm enforce eager from vllm deploy - prefer perf over pod launch time
  components/backends/vllm/deploy/agg.yaml
  components/backends/vllm/deploy/agg_router.yaml
  components/backends/vllm/deploy/disagg.yaml
  components/backends/vllm/deploy/disagg_planner.yaml
  components/backends/vllm/deploy/disagg_router.yaml
Labels: size/S, fix

#2113 build: Add TensorRT-LLM to optional dependency and corresponding instructions
  README.md
  container/build.sh
  pyproject.toml
Labels: size/M, build

#2123 fix: agg router test
  tests/serve/test_vllm.py
Labels: size/XS, fix

#2119 Moving all logic to dynamo
  lib/bindings/python/src/dynamo/llm/vllm_integration/__init__.py
  lib/bindings/python/src/dynamo/llm/vllm_integration/connector/__init__.py
  lib/bindings/python/src/dynamo/llm/vllm_integration/connector/dynamo_connector.py
Labels: size/L

#2099 chore: remove vLLM v0 multimodal example
  examples/multimodal/README.md
  examples/multimodal/__init__.py
  examples/multimodal/components/decode_worker.py
  examples/multimodal/components/disagg_router.py
  examples/multimodal/components/encode_worker.py
  examples/multimodal/components/prefill_worker.py
  examples/multimodal/components/processor.py
  examples/multimodal/components/video_decode_worker.py
  examples/multimodal/components/video_encode_worker.py
  examples/multimodal/components/video_frontend.py
  examples/multimodal/components/video_prefill_worker.py
  examples/multimodal/components/video_processor.py
  examples/multimodal/components/web.py
  examples/multimodal/configs/agg-llava.yaml
  examples/multimodal/configs/agg-phi3v.yaml
  examples/multimodal/configs/agg-qwen.yaml
  examples/multimodal/configs/agg_video.yaml
  examples/multimodal/configs/disagg.yaml
  examples/multimodal/configs/disagg_video.yaml
  examples/multimodal/connect/README.md
  examples/multimodal/connect/__init__.py
  examples/multimodal/deploy/k8s/agg-llava.yaml
  examples/multimodal/deploy/k8s/agg-phi3v.yaml
  examples/multimodal/deploy/k8s/agg-qwen.yaml
  examples/multimodal/deploy/k8s/agg-video.yaml
  examples/multimodal/deploy/k8s/disagg-video.yaml
  examples/multimodal/deploy/k8s/disagg.yaml
  examples/multimodal/graphs/__init__.py
  examples/multimodal/graphs/agg.py
  examples/multimodal/graphs/agg_video.py
  examples/multimodal/graphs/disagg.py
  examples/multimodal/graphs/disagg_video.py
  examples/multimodal/utils/chat_processor.py
  examples/multimodal/utils/logging.py
  examples/multimodal/utils/model.py
  examples/multimodal/utils/nats_queue.py
  examples/multimodal/utils/nixl.py
  examples/multimodal/utils/prefill_queue.py
  examples/multimodal/utils/protocol.py
  examples/multimodal/utils/vllm.py
Labels: size/XXL, chore

#2126 Leader / Worker integration from John's branch + small fixes
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader.rs
  lib/bindings/python/src/dynamo/llm/vllm_integration/connector/dynamo_connector.py
  lib/bindings/python/src/dynamo/llm/vllm_integration/connector_leader.py
  lib/bindings/python/src/dynamo/llm/vllm_integration/connector_worker.py
Labels: size/M

#2129 disabling device pool on BlockManager
  lib/bindings/python/rust/llm/block_manager.rs
  lib/bindings/python/src/dynamo/llm/vllm_integration/connector_leader.py
Labels: size/S

#2128 refactor: Move engine and publisher from dynamo.llm.tensorrt_llm to dynamo.trtllm
  components/backends/trtllm/src/dynamo/trtllm/engine.py
  components/backends/trtllm/src/dynamo/trtllm/main.py
  components/backends/trtllm/src/dynamo/trtllm/publisher.py
  components/backends/trtllm/src/dynamo/trtllm/request_handlers/handler_base.py
  components/backends/trtllm/src/dynamo/trtllm/request_handlers/handlers.py
  components/backends/trtllm/src/dynamo/trtllm/utils/trtllm_utils.py
  lib/bindings/python/src/dynamo/llm/__init__.py
  lib/bindings/python/src/dynamo/llm/tensorrtllm/__init__.py
Labels: size/M, refactor
