Repository ai-dynamo/dynamo, pull requests merged in 2025-03, with the labels that each got.

#282 chore: Update dynamo.code-workspace
  dynamo.code-workspace
Labels: external-contribution

#314 docs: fix typo in dynamo_serve.md
  docs/guides/dynamo_serve.md
Labels: external-contribution

#342 chore: Clarified docs, added more informative error prints
  docs/guides/dynamo_run.md
  launch/dynamo-run/src/lib.rs
Labels: documentation, dynamo-run

#346 docs: fix grammar in architecture support note
  support_matrix.md
Labels: external-contribution

#368 feat: Allow passing any arguments to vllm and sglang engines
  docs/guides/dynamo_run.md
  launch/dynamo-run/src/flags.rs
  launch/dynamo-run/src/lib.rs
  launch/dynamo-run/src/main.rs
  lib/llm/src/engines/sglang.rs
  lib/llm/src/engines/sglang/engine.rs
  lib/llm/src/engines/sglang/sglang_inc.py
  lib/llm/src/engines/sglang/subprocess.rs
  lib/llm/src/engines/sglang/worker.rs
  lib/llm/src/engines/vllm.rs
  lib/llm/src/engines/vllm/engine.rs
  lib/llm/src/engines/vllm/subprocess.rs
  lib/llm/src/engines/vllm/vllm_inc.py
  lib/llm/src/engines/vllm/worker.rs
  pyproject.toml
Labels: enhancement

#442 fix: prefill queue handler async task should not silently error
  examples/llm/components/prefill_worker.py
Labels: external-contribution

#420 fix: potential out-of-bound
  lib/llm/src/kv_router/scheduler.rs
  lib/llm/src/kv_router/scoring.rs
Labels: external-contribution
