Repository ai-dynamo/dynamo, pull requests merged in 2025-04, with the labels that each got.

#447 fix: sglang worker log extraction error
  lib/llm/src/engines/sglang/worker.rs
Labels: external-contribution

#472 feat: unified logging
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/runtime/src/config.rs
  lib/runtime/src/logging.rs
Labels: language::python

#436 feat: improve serve commands and expose `DYNAMO_HOME` env var
  container/Dockerfile.none
  container/Dockerfile.tensorrt_llm
  container/Dockerfile.vllm
  examples/llm/README.md
Labels: external-contribution

#535 docs: update close-deployment in dynamo_serve.md
  docs/guides/dynamo_serve.md
  examples/llm/README.md
  examples/tensorrt_llm/README.md
Labels: external-contribution

#555 docs: Updated dynamo run instructions
  docs/guides/dynamo_run.md
Labels: external-contribution

#509 docs: Guides for single node benchmarking
  examples/llm/benchmarks/README.md
  examples/llm/benchmarks/__init__.py
  examples/llm/benchmarks/disagg.py
  examples/llm/benchmarks/disagg.yaml
  examples/llm/benchmarks/nginx.conf
  examples/llm/benchmarks/perf.sh
Labels: documentation

#434 feat: Extract Common Configs + Log Configs on Init + Add `test_` to `sdk/tests` filenames required for pytest
  deploy/dynamo/sdk/src/dynamo/sdk/cli/serve.py
  deploy/dynamo/sdk/src/dynamo/sdk/lib/config.py
  deploy/dynamo/sdk/src/dynamo/sdk/tests/pipeline.py
  deploy/dynamo/sdk/src/dynamo/sdk/tests/test_config.py
  deploy/dynamo/sdk/src/dynamo/sdk/tests/test_e2e.py
  deploy/dynamo/sdk/src/dynamo/sdk/tests/test_link.py
  docs/guides/dynamo_serve.md
  examples/llm/components/kv_router.py
  examples/llm/configs/agg.yaml
  examples/llm/configs/agg_router.yaml
  examples/llm/configs/disagg.yaml
  examples/llm/configs/disagg_router.yaml
  lib/llm/src/model_card/model.rs
Labels: external-contribution

#298 fix: shellcheck errors
  container/build.sh
  container/run.sh
Labels: external-contribution

#595 fix: correct framework validation logic
  container/run.sh
Labels: external-contribution

#478 docs: update README with instructions for build & install in a conda env
  README.md
Labels: external-contribution

#640 fix: serviceArgs in config was not getting set for workers
  deploy/dynamo/sdk/src/dynamo/sdk/lib/config.py
  deploy/dynamo/sdk/src/dynamo/sdk/lib/service.py
Labels: bug, dynamo-serve

#646 fix: dynamo build should work with link syntax
  deploy/dynamo/sdk/docs/cli/README.md
  deploy/dynamo/sdk/src/dynamo/sdk/cli/bentos.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/cli.py
  deploy/dynamo/sdk/src/dynamo/sdk/lib/bento.py
Labels: dynamo-deploy

#626 fix: deploy command should support passing config
  deploy/dynamo/api-store/ai_dynamo_store/api/deployments.py
  deploy/dynamo/api-store/ai_dynamo_store/api/k8s.py
  deploy/dynamo/helm/platform/components/operator/charts/dynamo-crds/crds/nvidia.com_dynamodeployments.yaml
  deploy/dynamo/operator/api/v1alpha1/dynamodeployment_types.go
  deploy/dynamo/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/dynamo/operator/config/crd/bases/nvidia.com_dynamodeployments.yaml
  deploy/dynamo/operator/internal/controller/dynamodeployment_controller.go
  deploy/dynamo/operator/internal/controller/dynamodeployment_controller_test.go
  deploy/dynamo/sdk/src/dynamo/sdk/cli/deployment.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/serve.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/utils.py
  examples/hello_world/config.yaml
  examples/hello_world/hello_world.py
  pyproject.toml
Labels: dynamo-deploy

#664 feat(dynamo-run): improve available engines list in --help
  launch/dynamo-run/src/main.rs
Labels: external-contribution

#623 feat: add dynamoDeployment CR finalizer
  deploy/dynamo/helm/platform/Chart.yaml
  deploy/dynamo/helm/platform/components/operator/Chart.yaml
  deploy/dynamo/helm/platform/components/operator/charts/dynamo-crds/Chart.yaml
  deploy/dynamo/helm/platform/components/operator/charts/dynamo-crds/crds/nvidia.com_dynamodeployments.yaml
  deploy/dynamo/helm/platform/components/operator/charts/dynamo-crds/crds/nvidia.com_dynamonimdeployments.yaml
  deploy/dynamo/operator/api/v1alpha1/dynamodeployment_types.go
  deploy/dynamo/operator/api/v1alpha1/dynamoinimdeployment_types.go
  deploy/dynamo/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/dynamo/operator/cmd/main.go
  deploy/dynamo/operator/config/crd/bases/nvidia.com_dynamodeployments.yaml
  deploy/dynamo/operator/config/crd/bases/nvidia.com_dynamonimdeployments.yaml
  deploy/dynamo/operator/go.mod
  deploy/dynamo/operator/go.sum
  deploy/dynamo/operator/internal/controller/dynamodeployment_controller.go
  deploy/dynamo/operator/internal/controller/dynamonimdeployment_controller.go
  deploy/dynamo/operator/internal/controller/dynamonimdeployment_controller_test.go
  deploy/dynamo/operator/internal/controller_common/finalizer.go
  deploy/dynamo/operator/internal/controller_common/finalizer_test.go
  deploy/dynamo/operator/internal/etcd/etcd.go
  deploy/dynamo/operator/internal/nim/nim.go
  deploy/dynamo/operator/internal/nim/nim_test.go
Labels: size/XXL

#671 fix: set correct parent_hash for each kv block when publish kv events
  examples/tensorrt_llm/common/base_engine.py
Labels: size/XS

#670 docs: Use the same term for dynamo base image across code snippets and text
  docs/guides/dynamo_deploy.md
Labels: size/XS

#674 docs: move deploy docs to docs/guides
  README.md
  deploy/dynamo/helm/README.md
  docs/guides/README.md
  docs/guides/dynamo_deploy/README.md
  docs/guides/dynamo_deploy/dynamo_cloud.md
  docs/guides/dynamo_deploy/manual_helm_deployment.md
  docs/guides/dynamo_deploy/operator_deployment.md
  examples/hello_world/README.md
  examples/llm/README.md
Labels: size/L

#687 fix: check for resource in pipeline helm chart
  deploy/Kubernetes/pipeline/chart/templates/deployment.yaml
Labels: size/XS

#693 fix: set correct parent_hash for each kv block when publish kv events…
  examples/tensorrt_llm/common/base_engine.py
Labels: size/XS

#694 fix: change trtllm kv_router default block_size to 32 (#642)
  examples/tensorrt_llm/components/kv_router.py
Labels: size/XS

#692 fix: ensure `VLLM_LOGGING_LEVEL=xyz` follows`DYN_LOG=xyz`
  deploy/dynamo/sdk/src/dynamo/sdk/lib/logging.py
Labels: size/M

#696 feat: replace dynamo server with dynamo cloud
  deploy/dynamo/sdk/src/dynamo/sdk/cli/cli.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/cloud.py
  deploy/dynamo/tests/test_deployment.sh
  docs/guides/README.md
  docs/guides/dynamo_deploy/dynamo_cloud.md
  docs/guides/dynamo_deploy/operator_deployment.md
  examples/hello_world/README.md
  examples/llm/README.md
Labels: size/M

#691 docs: Update support matrix
  support_matrix.md
Labels: size/XS

#658 feat: base Dynamo docker image improvements and fixes
  Earthfile
Labels: size/L

#698 fix: fix pipeline helm chart
  deploy/Kubernetes/pipeline/chart/templates/deployment.yaml
Labels: size/S

#678 docs: Benchmarking guide updates
  examples/llm/benchmarks/README.md
  examples/llm/benchmarks/disagg.yaml
  examples/llm/benchmarks/disagg_multinode.yaml
Labels: documentation, size/M

#699 docs: Benchmarking guide updates (#678)
  examples/llm/benchmarks/README.md
  examples/llm/benchmarks/disagg.yaml
  examples/llm/benchmarks/disagg_multinode.yaml
Labels: size/M

#708 docs: add NIXL snippets to custom backends docs
  docs/backend.md
Labels: size/M

#712 fix: allow for an empty dynamo config file
  deploy/Kubernetes/pipeline/deploy.sh
Labels: size/XS

#716 fix: cli version
  deploy/dynamo/sdk/src/dynamo/sdk/cli/cli.py
Labels: size/XS

#719 docs: Remove outdated python-wheels directory reference
  lib/bindings/python/README.md
Labels: size/XS

#718 feat: adding dynamo-tokens crate
  Cargo.lock
  Cargo.toml
  lib/tokens/Cargo.toml
  lib/tokens/src/lib.rs
Labels: size/XL

#724 fix: bump GAP to r25.03
  container/Dockerfile.tensorrt_llm
  container/Dockerfile.vllm
Labels: size/XS

#725 fix: add missing distro dep for ai-dynamo package
  pyproject.toml
Labels: size/XS

#717 feat: make ingress configurable in operator
  deploy/dynamo/helm/dynamo-platform-values.yaml
  deploy/dynamo/helm/platform/Chart.yaml
  deploy/dynamo/helm/platform/components/operator/Chart.yaml
  deploy/dynamo/helm/platform/components/operator/templates/deployment.yaml
  deploy/dynamo/helm/platform/components/operator/templates/manager-rbac.yaml
  deploy/dynamo/operator/cmd/main.go
  deploy/dynamo/operator/go.mod
  deploy/dynamo/operator/go.sum
  deploy/dynamo/operator/internal/controller/dynamonimdeployment_controller.go
  deploy/dynamo/operator/internal/controller/dynamonimdeployment_controller_test.go
  deploy/dynamo/operator/internal/nim/nim.go
  deploy/dynamo/operator/internal/nim/nim_test.go
Labels: size/L

#654 feat: configure logger with detail info
  deploy/dynamo/sdk/src/dynamo/sdk/cli/serve.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/serve_dynamo.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/serving.py
  deploy/dynamo/sdk/src/dynamo/sdk/lib/bento.py
  deploy/dynamo/sdk/src/dynamo/sdk/lib/logging.py
  examples/hello_world/hello_world.py
  lib/bindings/python/src/dynamo/runtime/logging.py
Labels: external-contribution, size/M

#727 fix: dynamo deploy helm chart cleanup
  Earthfile
  deploy/dynamo/api-store/Earthfile
  deploy/dynamo/helm/README.md
  deploy/dynamo/helm/deploy.sh
  deploy/dynamo/helm/dynamo-platform-values.yaml
  deploy/dynamo/helm/platform/components/operator/templates/buildkit.yaml
  deploy/dynamo/helm/platform/values.yaml
  deploy/dynamo/operator/Earthfile
  docs/guides/dynamo_deploy/dynamo_cloud.md
Labels: size/L

#735 docs: add dedicated minikube guide
  deploy/dynamo/helm/README.md
  docs/guides/dynamo_deploy/dynamo_cloud.md
  docs/guides/dynamo_deploy/minikube.md
Labels: size/L

#728 feat(dynamo-engine-vllm): vllm 0.8.X support
  Cargo.lock
  docs/guides/dynamo_run.md
  launch/dynamo-run/Cargo.toml
  launch/dynamo-run/src/lib.rs
  launch/dynamo-run/src/main.rs
  launch/dynamo-run/src/opt.rs
  lib/engines/vllm0_7/Cargo.toml
  lib/engines/vllm0_7/src/engine.rs
  lib/engines/vllm0_7/src/lib.rs
  lib/engines/vllm0_7/src/ray.rs
  lib/engines/vllm0_7/src/subprocess.rs
  lib/engines/vllm0_7/src/vllm_inc.py
  lib/engines/vllm0_7/src/worker.rs
  lib/engines/vllm0_8/Cargo.toml
  lib/engines/vllm0_8/src/lib.rs
  lib/engines/vllm0_8/src/vllm_inc.py
Labels: size/XL

#738 fix: Add missing deps for '--framework none' build
  container/Dockerfile.none
Labels: size/XS

#747 chore: Remove TRT-LLM C++ engine in favor of Python one
  Cargo.lock
  docs/guides/dynamo_run.md
  launch/dynamo-run/Cargo.toml
  launch/dynamo-run/src/flags.rs
  launch/dynamo-run/src/lib.rs
  launch/dynamo-run/src/opt.rs
  lib/bindings/cpp/nvllm-trt/.clang-format
  lib/bindings/cpp/nvllm-trt/CMakeLists.txt
  lib/bindings/cpp/nvllm-trt/cmake/find_library_create_target.cmake
  lib/bindings/cpp/nvllm-trt/cmake/modules/set_ifndef.cmake
  lib/bindings/cpp/nvllm-trt/include/nvidia/nvllm/nvllm_trt.h
  lib/bindings/cpp/nvllm-trt/nvllmConfig.cmake.in
  lib/bindings/cpp/nvllm-trt/src/api/engine.hpp
  lib/bindings/cpp/nvllm-trt/src/engine_stub/engine.cpp
  lib/bindings/cpp/nvllm-trt/src/engine_stub/tensorrt_llm.cpp
  lib/bindings/cpp/nvllm-trt/src/engine_trt/config.cpp
  lib/bindings/cpp/nvllm-trt/src/engine_trt/config.hpp
  lib/bindings/cpp/nvllm-trt/src/engine_trt/engine.cpp
  lib/bindings/cpp/nvllm-trt/src/engine_trt/kv_event.cpp
  lib/bindings/cpp/nvllm-trt/src/engine_trt/kv_event.hpp
  lib/bindings/cpp/nvllm-trt/src/engine_trt/request.cpp
  lib/bindings/cpp/nvllm-trt/src/engine_trt/request.hpp
  lib/bindings/cpp/nvllm-trt/src/engine_trt/response.cpp
  lib/bindings/cpp/nvllm-trt/src/engine_trt/response.hpp
  lib/bindings/cpp/nvllm-trt/src/engine_trt/stats.cpp
  lib/bindings/cpp/nvllm-trt/src/engine_trt/stats.hpp
  lib/bindings/cpp/nvllm-trt/src/nvllm_trt.cpp
  lib/engines/trtllm/Cargo.toml
  lib/engines/trtllm/build.rs
  lib/engines/trtllm/src/executor.rs
  lib/engines/trtllm/src/executor/config.rs
  lib/engines/trtllm/src/executor/cpp.rs
  lib/engines/trtllm/src/executor/engine.rs
  lib/engines/trtllm/src/executor/processors.rs
  lib/engines/trtllm/src/executor/processors/iteration.rs
  lib/engines/trtllm/src/executor/processors/kv.rs
  lib/engines/trtllm/src/executor/processors/response.rs
  lib/engines/trtllm/src/executor/protocols.rs
  lib/engines/trtllm/src/executor/protocols/kv.rs
  lib/engines/trtllm/src/executor/protocols/outputs.rs
  lib/engines/trtllm/src/executor/protocols/stats.rs
  lib/engines/trtllm/src/lib.rs
Labels: size/XXL

#736 docs: Support matrix post release.
  support_matrix.md
Labels: size/S

#713 docs: add aggregated deployment guide for multi-node sized model
  examples/llm/configs/multinode_agg_r1.yaml
  examples/llm/multinode-examples.md
Labels: size/L

#749 feat: make the model name to be the same as the HF repo name for dynamo-run
  launch/dynamo-run/src/lib.rs
Labels: external-contribution, size/XS

#752 feat: add additional packages to log filters
  lib/runtime/src/logging.rs
Labels: external-contribution, size/XS

#759 chore(dynamo-run): Fix echo_core for EOS tokens
  docs/guides/dynamo_run.md
  launch/dynamo-run/src/input/text.rs
  lib/llm/src/http/service/openai.rs
Labels: size/S

#748 feat: add custom lease to worker components
  deploy/dynamo/sdk/src/dynamo/sdk/cli/serve_dynamo.py
  deploy/dynamo/sdk/src/dynamo/sdk/lib/service.py
  examples/llm/components/worker.py
  launch/dynamo-run/src/lib.rs
  lib/bindings/python/examples/hello_world/server.py
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/rust/llm/kv.rs
  lib/llm/src/kv_router/publisher.rs
Labels: size/L

#763 chore: Add roadmap to main README.md
  README.md
Labels: size/XS

#765 fix: Fix cancellation flow in python component graph
  lib/bindings/python/rust/lib.rs
Labels: external-contribution, size/XS

#767 fix: give the user ownership permissions of /opt/dynamo/venv
  container/Dockerfile.vllm
Labels: size/XS

#753 docs: deployment docs improvements
  deploy/dynamo/helm/README.md
  deploy/dynamo/helm/dynamo-platform-values.yaml
  examples/llm/README.md
Labels: size/S

#744 feat: add option to configure separate docker registry for pipelines docker images
  deploy/dynamo/helm/deploy.sh
  deploy/dynamo/helm/dynamo-platform-values.yaml
  deploy/dynamo/helm/platform/components/operator/templates/_helpers.tpl
  deploy/dynamo/helm/platform/components/operator/values.yaml
  deploy/dynamo/helm/platform/values.yaml
  docs/guides/dynamo_deploy/dynamo_cloud.md
  docs/guides/dynamo_deploy/operator_deployment.md
Labels: size/M

#779 feat: add LIST deployments API, add GET, LIST, DELETE to deploy SDK/CLI
  deploy/dynamo/api-store/ai_dynamo_store/api/deployments.py
  deploy/dynamo/api-store/ai_dynamo_store/api/k8s.py
  deploy/dynamo/api-store/ai_dynamo_store/models/schemas.py
  deploy/dynamo/helm/platform/components/operator/templates/deployment.yaml
  deploy/dynamo/sdk/src/dynamo/sdk/cli/deployment.py
  docs/guides/dynamo_deploy/dynamo_cloud.md
  docs/guides/dynamo_deploy/operator_deployment.md
  examples/hello_world/README.md
  examples/llm/README.md
Labels: size/L

#720 docs: R1 disaggregation guide
  examples/llm/configs/mutinode_disagg_r1.yaml
  examples/llm/multinode-examples.md
Labels: size/M

#761 feat: allow to CRUD dynamo pipelines
  deploy/dynamo/api-store/ai_dynamo_store/api/deployments.py
  deploy/dynamo/api-store/ai_dynamo_store/api/k8s.py
  deploy/dynamo/api-store/ai_dynamo_store/api/test_deployments.py
  deploy/dynamo/api-store/ai_dynamo_store/models/schemas.py
  deploy/dynamo/helm/dynamo-platform-values.yaml
  deploy/dynamo/helm/platform/Chart.yaml
  deploy/dynamo/helm/platform/components/operator/Chart.yaml
  deploy/dynamo/helm/platform/components/operator/charts/dynamo-crds/Chart.yaml
  deploy/dynamo/helm/platform/components/operator/charts/dynamo-crds/crds/nvidia.com_dynamodeployments.yaml
  deploy/dynamo/helm/platform/components/operator/charts/dynamo-crds/crds/nvidia.com_dynamonimdeployments.yaml
  deploy/dynamo/helm/platform/components/operator/templates/deployment.yaml
  deploy/dynamo/operator/api/v1alpha1/dynamodeployment_types.go
  deploy/dynamo/operator/api/v1alpha1/dynamoinimdeployment_types.go
  deploy/dynamo/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/dynamo/operator/cmd/main.go
  deploy/dynamo/operator/config/crd/bases/nvidia.com_dynamodeployments.yaml
  deploy/dynamo/operator/config/crd/bases/nvidia.com_dynamonimdeployments.yaml
  deploy/dynamo/operator/internal/controller/common.go
  deploy/dynamo/operator/internal/controller/dynamodeployment_controller.go
  deploy/dynamo/operator/internal/controller/dynamonimdeployment_controller.go
  deploy/dynamo/operator/internal/controller/dynamonimdeployment_controller_test.go
  deploy/dynamo/operator/internal/nim/nim.go
  deploy/dynamo/operator/internal/nim/nim_test.go
  deploy/dynamo/sdk/src/dynamo/sdk/cli/deployment.py
  docs/guides/dynamo_deploy/dynamo_cloud.md
  docs/guides/dynamo_deploy/operator_deployment.md
  examples/hello_world/README.md
  examples/llm/README.md
Labels: size/XXL

#608 docs: Custom Backend/Worker Guide
  deploy/dynamo/sdk/docs/sdk/README.md
  docs/backend.md
Labels: size/XL

#770 chore: fix arg name in example
  examples/llm/configs/multinode-405b.yaml
Labels: external-contribution, size/XS

#783 build: add rust binaries in manylinux image
  container/Dockerfile.tensorrt_llm
  container/Dockerfile.vllm
Labels: size/L

#782 feat: remove bento/yatai references
  deploy/dynamo/helm/platform/components/operator/templates/_helpers.tpl
  deploy/dynamo/helm/platform/components/operator/templates/buildkit.yaml
  deploy/dynamo/helm/platform/components/operator/templates/regcred-secret.yaml
  deploy/dynamo/helm/platform/components/operator/templates/secret-env.yaml
  deploy/dynamo/helm/platform/components/operator/templates/yatai-regcred-secret.yaml
  deploy/dynamo/helm/platform/components/operator/values.yaml
  deploy/dynamo/helm/platform/values.yaml
  deploy/dynamo/operator/api/dynamo/api_store_client/client.go
  deploy/dynamo/operator/api/dynamo/api_store_client/http.go
  deploy/dynamo/operator/api/dynamo/schemas/schemas.go
  deploy/dynamo/operator/api/dynamo/yatai-client/client.go
  deploy/dynamo/operator/cmd/main.go
  deploy/dynamo/operator/internal/config/config.go
  deploy/dynamo/operator/internal/consts/consts.go
  deploy/dynamo/operator/internal/controller/dynamodeployment_controller.go
  deploy/dynamo/operator/internal/controller/dynamonimdeployment_controller.go
  deploy/dynamo/operator/internal/controller/dynamonimrequest_controller.go
  deploy/dynamo/operator/internal/dynamo/graph.go
  deploy/dynamo/operator/internal/dynamo/graph_test.go
Labels: size/XXL

#793 docs: add note to use release branch examples
  README.md
Labels: size/XS

#780 feat: Add log verbosity level flag to dynamo-run cli
  launch/dynamo-run/src/flags.rs
  launch/dynamo-run/src/main.rs
Labels: external-contribution, size/XS

#795 feat: rename operator CRDs
  deploy/dynamo/api-store/ai_dynamo_store/api/deployments.py
  deploy/dynamo/api-store/ai_dynamo_store/api/k8s.py
  deploy/dynamo/helm/platform/Chart.yaml
  deploy/dynamo/helm/platform/components/api-store/templates/rbac.yaml
  deploy/dynamo/helm/platform/components/operator/Chart.yaml
  deploy/dynamo/helm/platform/components/operator/charts/dynamo-crds/Chart.yaml
  deploy/dynamo/helm/platform/components/operator/charts/dynamo-crds/crds/nvidia.com_dynamocomponentdeployments.yaml
  deploy/dynamo/helm/platform/components/operator/charts/dynamo-crds/crds/nvidia.com_dynamocomponentrequests.yaml
  deploy/dynamo/helm/platform/components/operator/charts/dynamo-crds/crds/nvidia.com_dynamocomponents.yaml
  deploy/dynamo/helm/platform/components/operator/charts/dynamo-crds/crds/nvidia.com_dynamographdeployments.yaml
  deploy/dynamo/helm/platform/components/operator/templates/manager-rbac.yaml
  deploy/dynamo/operator/.gitignore
  deploy/dynamo/operator/PROJECT
  deploy/dynamo/operator/README.md
  deploy/dynamo/operator/api/dynamo/schemas/schemas.go
  deploy/dynamo/operator/api/v1alpha1/dynamocomponent_types.go
  deploy/dynamo/operator/api/v1alpha1/dynamocomponentdeployment_types.go
  deploy/dynamo/operator/api/v1alpha1/dynamocomponentrequest_types.go
  deploy/dynamo/operator/api/v1alpha1/dynamographdeployment_types.go
  deploy/dynamo/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/dynamo/operator/cmd/main.go
  deploy/dynamo/operator/config/crd/bases/nvidia.com_dynamocomponentdeployments.yaml
  deploy/dynamo/operator/config/crd/bases/nvidia.com_dynamocomponentrequests.yaml
  deploy/dynamo/operator/config/crd/bases/nvidia.com_dynamocomponents.yaml
  deploy/dynamo/operator/config/crd/bases/nvidia.com_dynamographdeployments.yaml
  deploy/dynamo/operator/config/crd/kustomization.yaml
  deploy/dynamo/operator/config/rbac/dynamonim_editor_role.yaml
  deploy/dynamo/operator/config/rbac/dynamonim_viewer_role.yaml
  deploy/dynamo/operator/config/rbac/dynamonimdeployment_editor_role.yaml
  deploy/dynamo/operator/config/rbac/dynamonimrequest_editor_role.yaml
  deploy/dynamo/operator/config/rbac/kustomization.yaml
  deploy/dynamo/operator/config/rbac/role.yaml
  deploy/dynamo/operator/config/samples/kustomization.yaml
  deploy/dynamo/operator/config/samples/nvidia.com_v1alpha1_dynamocomponentdeployment.yaml
  deploy/dynamo/operator/config/samples/nvidia.com_v1alpha1_dynamocomponentrequest.yaml
  deploy/dynamo/operator/config/samples/nvidia.com_v1alpha1_dynamographdeployment.yaml
  deploy/dynamo/operator/config/samples/nvidia.com_v1alpha1_dynamonimdeployment.yaml
  deploy/dynamo/operator/config/samples/nvidia.com_v1alpha_dynamocomponent.yaml
  deploy/dynamo/operator/config/samples/nvidia.com_v1alpha_dynamonim.yaml
  deploy/dynamo/operator/internal/consts/consts.go
  deploy/dynamo/operator/internal/controller/common.go
  deploy/dynamo/operator/internal/controller/dynamocomponentdeployment_controller.go
  deploy/dynamo/operator/internal/controller/dynamocomponentdeployment_controller_test.go
  deploy/dynamo/operator/internal/controller/dynamocomponentrequest_controller.go
  deploy/dynamo/operator/internal/controller/dynamographdeployment_controller.go
  deploy/dynamo/operator/internal/controller/dynamographdeployment_controller_test.go
  deploy/dynamo/operator/internal/dynamo/graph.go
  deploy/dynamo/operator/internal/dynamo/graph_test.go
Labels: size/XXL

#802 feat: Add linux aarch64 support to dynamo-run build
  launch/dynamo-run/Cargo.toml
Labels: size/XS

#804 fix: Update TRTLLM version and fix disagg workflow
  container/Dockerfile.tensorrt_llm
  container/build.sh
  container/build_trtllm_base_image.sh
  examples/tensorrt_llm/README.md
  examples/tensorrt_llm/common/base_engine.py
  examples/tensorrt_llm/common/chat_processor.py
Labels: size/M

#807 chore: Increase sleep times from 2s -> 30s for startup logs
  examples/tensorrt_llm/components/kv_router.py
  examples/tensorrt_llm/components/processor.py
  examples/tensorrt_llm/components/worker.py
Labels: size/XS

#796 feat: Warm‑up mistral.rs engine to reduce latency on subsequent requests
  lib/engines/mistralrs/src/lib.rs
Labels: external-contribution, size/M

#798 feat: improve dynamo deployment CLI
  deploy/dynamo/api-store/ai_dynamo_store/api/deployments.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/cli.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/deployment.py
  examples/hello_world/README.md
Labels: size/L

#803 feat: Add unified x86 / aarch64 (ARM) build for TRTLLM image
  container/Dockerfile.tensorrt_llm
  container/build.sh
Labels: size/M

#806 refactor: planner
  components/planner/README.md
  components/planner/src/dynamo/planner/circusd.py
  components/planner/src/dynamo/planner/local_connector.py
  components/planner/src/dynamo/test/controller.py
  components/planner/src/dynamo/test/load_test.sh
  deploy/dynamo/sdk/src/dynamo/sdk/cli/allocator.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/serve_dynamo.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/serving.py
  docs/guides/planner_benchmark/benchmark_planner.md
  docs/guides/planner_benchmark/sin_synth.py
  examples/llm/components/planner.py
  examples/llm/components/prefill_worker.py
  examples/llm/components/processor.py
  examples/llm/components/worker.py
Labels: size/XL

#801 feat: remove old bento images
  deploy/dynamo/helm/dynamo-platform-values.yaml
  deploy/dynamo/helm/platform/Chart.yaml
  deploy/dynamo/helm/platform/components/operator/Chart.yaml
  deploy/dynamo/helm/platform/components/operator/charts/dynamo-crds/Chart.yaml
  deploy/dynamo/helm/platform/components/operator/charts/dynamo-crds/crds/nvidia.com_dynamocomponentdeployments.yaml
  deploy/dynamo/helm/platform/components/operator/charts/dynamo-crds/crds/nvidia.com_dynamographdeployments.yaml
  deploy/dynamo/helm/platform/components/operator/templates/secret-env.yaml
  deploy/dynamo/helm/platform/components/operator/values.yaml
  deploy/dynamo/helm/platform/values.yaml
  deploy/dynamo/operator/api/dynamo/common/common.go
  deploy/dynamo/operator/api/dynamo/common/zz_generated.deepcopy.go
  deploy/dynamo/operator/api/v1alpha1/dynamocomponentdeployment_types.go
  deploy/dynamo/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/dynamo/operator/config/crd/bases/nvidia.com_dynamocomponentdeployments.yaml
  deploy/dynamo/operator/config/crd/bases/nvidia.com_dynamographdeployments.yaml
  deploy/dynamo/operator/go.mod
  deploy/dynamo/operator/go.sum
  deploy/dynamo/operator/internal/config/config.go
  deploy/dynamo/operator/internal/consts/consts.go
  deploy/dynamo/operator/internal/controller/dynamocomponentdeployment_controller.go
  deploy/dynamo/operator/internal/controller/dynamocomponentrequest_controller.go
  deploy/dynamo/operator/internal/envoy/envoy.go
Labels: size/XXL

#703 refactor: transition CLI to use typer for UX and testing
  deploy/dynamo/sdk/src/dynamo/sdk/cli/bentos.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/cli.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/cloud.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/deploy.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/deployment.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/env.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/pipeline.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/run.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/serve.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/utils.py
  deploy/dynamo/sdk/src/dynamo/sdk/tests/test_e2e.py
  deploy/dynamo/tests/test_deployment.sh
  docs/guides/dynamo_deploy/operator_deployment.md
  examples/hello_world/README.md
  examples/llm/README.md
  pyproject.toml
Labels: size/XXL

#821 docs: Update README.md
  .devcontainer/README.md
Labels: size/XS

#822 feat: remove proxy side car
  deploy/dynamo/helm/platform/components/operator/templates/secret-env.yaml
  deploy/dynamo/helm/platform/components/operator/values.yaml
  deploy/dynamo/helm/platform/values.yaml
  deploy/dynamo/operator/internal/controller/dynamocomponentdeployment_controller.go
  deploy/dynamo/operator/internal/envoy/envoy.go
Labels: size/L

#799 chore: Publish Model Deployment Card to NATS
  Cargo.lock
  Cargo.toml
  launch/dynamo-run/src/input/common.rs
  launch/dynamo-run/src/input/endpoint.rs
  launch/dynamo-run/src/lib.rs
  lib/bindings/python/Cargo.lock
  lib/llm/Cargo.toml
  lib/llm/src/backend.rs
  lib/llm/src/key_value_store.rs
  lib/llm/src/key_value_store/mem.rs
  lib/llm/src/key_value_store/nats.rs
  lib/llm/src/lib.rs
  lib/llm/src/model_card.rs
  lib/llm/src/model_card/create.rs
  lib/llm/src/model_card/model.rs
  lib/llm/src/preprocessor.rs
  lib/llm/tests/backend.rs
  lib/llm/tests/model_card.rs
  lib/runtime/Cargo.toml
  lib/runtime/examples/Cargo.lock
  lib/runtime/src/slug.rs
  lib/runtime/src/transports/nats.rs
Labels: size/XXL

#815 build: update cudarc dependency to crate version
  Cargo.lock
  Cargo.toml
  lib/llm/Cargo.toml
  lib/llm/src/kv/storage.rs
Labels: size/S

#832 fix: add VLLM_KV_CAPI_PATH to vllm dockerfile to make kv routing working
  container/Dockerfile.vllm
Labels: size/XS

#828 chore: update vllm wheel dependency version
  pyproject.toml
Labels: size/XS

#833 fix: wrong lease_id
  examples/llm/components/worker.py
Labels: size/XS

#836 chore: bump NIXL version and package versions
  Cargo.lock
  Cargo.toml
  container/build.sh
  lib/bindings/python/Cargo.lock
  lib/bindings/python/Cargo.toml
  lib/bindings/python/pyproject.toml
  lib/runtime/examples/Cargo.lock
  lib/runtime/examples/Cargo.toml
  pyproject.toml
Labels: size/S

#714 docs: add docs for dynamo build
  docs/guides/dynamo_build.md
Labels: size/L

#845 feat: Add vllm build from source for aarch64
  container/Dockerfile.vllm
Labels: size/M

#859 docs: fix typo in disagg perf tuning guide
  docs/guides/disagg_perf_tuning.md
Labels: size/XS

#777 feat: Adding completions endpoint support to `dynamo run in=http`
  launch/dynamo-run/src/input/common.rs
  launch/dynamo-run/src/input/endpoint.rs
  launch/dynamo-run/src/input/http.rs
  launch/dynamo-run/src/lib.rs
  lib/engines/mistralrs/src/lib.rs
  lib/engines/python/src/lib.rs
  lib/llm/src/engines.rs
  lib/llm/src/preprocessor/prompt/template/oai.rs
Labels: size/L

#861 chore: add docs around how runtime reconfiguration works
  docs/disagg_serving.md
Labels: size/M

#864 docs: fix typo in planner documentation
  docs/planner.md
Labels: size/XS

#839 feat: Add unified x86 / aarch64 (ARM) build for VLLM image
  README.md
  container/Dockerfile.vllm
  container/build.sh
  examples/llm/README.md
  examples/tensorrt_llm/README.md
Labels: size/L

#863 refactor: move logging config to runtime
  components/planner/src/dynamo/planner/circusd.py
  components/planner/src/dynamo/planner/local_connector.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/deployment.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/serve.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/serve_dynamo.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/serving.py
  deploy/dynamo/sdk/src/dynamo/sdk/cli/utils.py
  deploy/dynamo/sdk/src/dynamo/sdk/lib/logging.py
  examples/hello_world/hello_world.py
  examples/llm/components/planner.py
  lib/bindings/python/src/dynamo/runtime/logging.py
Labels: size/L

#872 build: Add Olga as a Rust reviewer
  CODEOWNERS
Labels: size/XS

#865 fix: change the processor number to 5 to reduce the tokenization bottleneck
  examples/tensorrt_llm/configs/agg.yaml
  examples/tensorrt_llm/configs/agg_router.yaml
  examples/tensorrt_llm/configs/disagg.yaml
  examples/tensorrt_llm/configs/disagg_router.yaml
Labels: size/XS

#871 feat: Add unified x86 / aarch64 (ARM) build for VLLM image (#839)
  README.md
  container/Dockerfile.vllm
  container/build.sh
  examples/llm/README.md
  examples/tensorrt_llm/README.md
Labels: size/L

#866 refactor: change trtllm example kv routing use python bindings | deal with trtllm partial blocks | trtllm event change
  container/Dockerfile.tensorrt_llm
  examples/tensorrt_llm/README.md
  examples/tensorrt_llm/common/base_engine.py
  examples/tensorrt_llm/common/kv_cache_event_publisher.py
Labels: size/L

#877 refactor: change trtllm example kv routing use python bindings | deal with trtllm partial blocks | trtllm event change (#866)
  container/Dockerfile.tensorrt_llm
  examples/tensorrt_llm/README.md
  examples/tensorrt_llm/common/base_engine.py
  examples/tensorrt_llm/common/kv_cache_event_publisher.py
Labels: size/L

#878 chore: bump nixl commit to 0.2.0 rc1
  container/build.sh
Labels: size/XS

#817 chore: Split PushRouter from Client
  Cargo.lock
  Cargo.toml
  components/metrics/src/main.rs
  launch/dynamo-run/src/flags.rs
  launch/dynamo-run/src/input/common.rs
  launch/dynamo-run/src/input/endpoint.rs
  launch/dynamo-run/src/lib.rs
  lib/bindings/python/Cargo.lock
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/rust/llm/preprocessor.rs
  lib/llm/Cargo.toml
  lib/llm/src/http/service/discovery.rs
  lib/llm/src/key_value_store.rs
  lib/llm/src/key_value_store/etcd.rs
  lib/llm/src/model_card.rs
  lib/llm/src/model_card/create.rs
  lib/llm/src/model_card/model.rs
  lib/runtime/Cargo.toml
  lib/runtime/examples/hello_world/src/bin/client.rs
  lib/runtime/examples/service_metrics/src/bin/client.rs
  lib/runtime/src/component.rs
  lib/runtime/src/component/client.rs
  lib/runtime/src/pipeline.rs
  lib/runtime/src/pipeline/network/egress.rs
  lib/runtime/src/pipeline/network/egress/addressed_router.rs
  lib/runtime/src/pipeline/network/egress/push_router.rs
  lib/runtime/src/pipeline/network/tcp/server.rs
  lib/runtime/src/slug.rs
  lib/runtime/src/transports/etcd.rs
Labels: size/XXL

#890 docs: update pythonpath for starting planner
  components/planner/README.md
  docs/guides/planner_benchmark/benchmark_planner.md
  docs/planner.md
Labels: size/XS

#891 fix(http): Make ModelDeploymentCard optional
  lib/llm/src/http/service/discovery.rs
Labels: size/S

#841 feat: Add request template support for default inference parameters
  launch/dynamo-run/src/flags.rs
  launch/dynamo-run/src/input/batch.rs
  launch/dynamo-run/src/input/http.rs
  launch/dynamo-run/src/input/text.rs
  launch/dynamo-run/src/lib.rs
  lib/llm/src/http/service/openai.rs
  lib/llm/src/http/service/service_v2.rs
  lib/llm/src/lib.rs
  lib/llm/src/request_template.rs
Labels: external-contribution, size/L

#852 fix: endless map in nixl.py
  container/deps/vllm/vllm_v0.8.4-dynamo-kv-disagg-patch.patch
Labels: external-contribution, size/XS

#898 fix: add fastapi depenedncy in pyproject.toml cherry-pick of #888
  pyproject.toml
Labels: size/XS

#902 docs: Fixes to dynamo deploy docs
  docs/guides/dynamo_deploy/operator_deployment.md
  examples/hello_world/README.md
  examples/llm/README.md
Labels: size/L

#880 chore: update support matrix
  support_matrix.md
Labels: size/S

#907 docs: cherry pick docs fixes for dynamo deploy
  docs/guides/dynamo_deploy/operator_deployment.md
  examples/hello_world/README.md
  examples/llm/README.md
Labels: size/L

#906 fix: cherry pick fix for VLLM_KV_CAPI_PATH
  container/Dockerfile.vllm
Labels: size/XS

#901 feat: label component CR for planner
  deploy/dynamo/operator/internal/consts/consts.go
  deploy/dynamo/operator/internal/dynamo/graph.go
  deploy/dynamo/operator/internal/dynamo/graph_test.go
Labels: size/M

#908 docs: update pythonpath for starting planner (cherry-pick #890)
  components/planner/README.md
  docs/guides/planner_benchmark/benchmark_planner.md
  docs/planner.md
Labels: size/XS

#862 feat: allow users to add env vars to dynamo deployment
  deploy/dynamo/sdk/src/dynamo/sdk/cli/deployment.py
Labels: size/S

#912 chore: unified logging, added informative warnings for KV router example
  examples/llm/components/kv_router.py
Labels: size/S

#915 docs: add an example on how to use `--service-name` flag to spin up a standalone service
  examples/llm/multinode-examples.md
Labels: size/S
