Repository ai-dynamo/dynamo, pull requests merged in 2025-08, with the labels that each got.

#2190 fix: handle groveTerminationDelay and auto-detect grove installation
  deploy/cloud/helm/deploy.sh
  deploy/cloud/helm/dynamo-platform-values.yaml
  deploy/cloud/helm/platform/components/operator/templates/deployment.yaml
  deploy/cloud/helm/platform/components/operator/templates/manager-rbac.yaml
  deploy/cloud/helm/platform/components/operator/values.yaml
  deploy/cloud/helm/platform/values.yaml
  deploy/cloud/operator/cmd/main.go
  deploy/cloud/operator/internal/consts/consts.go
  deploy/cloud/operator/internal/controller/dynamographdeployment_controller.go
  deploy/cloud/operator/internal/controller_common/predicate.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
Labels: size/L, fix

#2182 feat: reduce / revert routing overheads, do not consider output tokens
  lib/llm/src/kv_router.rs
  lib/llm/src/kv_router/approx.rs
  lib/llm/src/kv_router/indexer.rs
  lib/llm/src/kv_router/scheduler.rs
  lib/llm/src/kv_router/sequence.rs
  lib/llm/src/kv_router/worker.rs
Labels: size/XL, feat

#2238 feat: add sgl deploy readme
  components/backends/sglang/README.md
  components/backends/sglang/deploy/README.md
Labels: size/L, feat

#2235 fix: drop cuda graph bs (batch size) on dsr1 h100 sgl
  components/backends/sglang/docs/dsr1-wideep-h100.md
Labels: size/S, fix

#2237 fix: handle groveTerminationDelay and auto-detect grove installation (#2190)
  deploy/cloud/helm/deploy.sh
  deploy/cloud/helm/dynamo-platform-values.yaml
  deploy/cloud/helm/platform/components/operator/templates/deployment.yaml
  deploy/cloud/helm/platform/components/operator/templates/manager-rbac.yaml
  deploy/cloud/helm/platform/components/operator/values.yaml
  deploy/cloud/helm/platform/values.yaml
  deploy/cloud/operator/cmd/main.go
  deploy/cloud/operator/internal/consts/consts.go
  deploy/cloud/operator/internal/controller/dynamographdeployment_controller.go
  deploy/cloud/operator/internal/controller_common/predicate.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
Labels: size/L, fix

#2233 fix: Locked triton==3.3.1 since triton 3.4.0 breaks tensorrt-llm 1.0.0rc4
  container/Dockerfile.tensorrt_llm
  pyproject.toml
Labels: size/S, fix

#2245 fix: sgl instructions point to new frontend
  components/backends/sglang/docs/dsr1-wideep-h100.md
  components/backends/sglang/docs/multinode-examples.md
  components/backends/sglang/docs/sgl-http-server.md
Labels: size/S, fix

#2177 test: Request Migration Docs and E2E vLLM Tests
  components/backends/llama_cpp/README.md
  components/backends/sglang/README.md
  components/backends/trtllm/README.md
  components/backends/vllm/README.md
  components/backends/vllm/src/dynamo/vllm/handlers.py
  docs/architecture/request_migration.md
  docs/guides/backend.md
  docs/guides/dynamo_run.md
  tests/fault_tolerance/README.md
  tests/fault_tolerance/test_request_migration.py
Labels: size/XL, test

#2247 docs: Dyn 591
  components/backends/trtllm/deploy/README.md
  components/backends/vllm/deploy/README.md
  docs/examples/README.md
  docs/guides/dynamo_deploy/README.md
Labels: size/M, docs

#2236 fix: Update README.md for examples
  examples/README.md
Labels: size/XS, fix

#2254 fix: fixed broken links
  docs/guides/dynamo_deploy/README.md
Labels: size/XS, fix

#2249 Fixing edge case
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader/slot.rs
Labels: size/S

#2272 chore: sglang k8s health/live, update doc
  components/backends/sglang/README.md
  components/backends/sglang/deploy/agg.yaml
  components/backends/sglang/deploy/agg_router.yaml
  components/backends/sglang/deploy/disagg.yaml
Labels: size/L, chore

#2275 ci: fix sglang paths for nightly
  .github/workflows/trigger_ci.yml
  components/backends/sglang/docs/multinode-examples.md
  tests/serve/test_sglang.py
Labels: ci, size/S

#2279 fix: Add common and test dependencies to sglang runtime build
  container/Dockerfile.sglang
Labels: size/S, fix

#2278 fix: Update disagg configs for trtllm 1.0.0rc4 changes (release/0.4.0)
  components/backends/trtllm/engine_configs/decode.yaml
  components/backends/trtllm/engine_configs/deepseek_r1/mtp/mtp_decode.yaml
  components/backends/trtllm/engine_configs/deepseek_r1/mtp/mtp_prefill.yaml
  components/backends/trtllm/engine_configs/deepseek_r1/simple/decode.yaml
  components/backends/trtllm/engine_configs/deepseek_r1/simple/prefill.yaml
  components/backends/trtllm/engine_configs/deepseek_r1/wide_ep/wide_ep_decode.yaml
  components/backends/trtllm/engine_configs/deepseek_r1/wide_ep/wide_ep_prefill.yaml
  components/backends/trtllm/engine_configs/llama4/eagle/eagle_decode.yaml
  components/backends/trtllm/engine_configs/llama4/eagle/eagle_prefill.yaml
  components/backends/trtllm/engine_configs/llama4/eagle_one_model/eagle_decode.yaml
  components/backends/trtllm/engine_configs/llama4/eagle_one_model/eagle_prefill.yaml
Labels: size/M, fix

#2283 fix: Update eagle_one configs with speculative_model_dir field
  components/backends/trtllm/engine_configs/llama4/eagle_one_model/eagle_agg.yml
  components/backends/trtllm/engine_configs/llama4/eagle_one_model/eagle_decode.yaml
  components/backends/trtllm/engine_configs/llama4/eagle_one_model/eagle_prefill.yaml
Labels: size/XS, fix

#2251 docs: Backport: Dyn 591 (#2247) to 0.4.0
  components/backends/trtllm/deploy/README.md
  components/backends/vllm/deploy/README.md
  docs/examples/README.md
  docs/guides/dynamo_deploy/README.md
Labels: size/M, docs

#2288 fix: Adjust frontEnd thresholds
  components/backends/sglang/deploy/agg.yaml
  components/backends/sglang/deploy/agg_router.yaml
  components/backends/sglang/deploy/disagg.yaml
  components/backends/vllm/deploy/agg.yaml
  components/backends/vllm/deploy/agg_router.yaml
  components/backends/vllm/deploy/disagg.yaml
  components/backends/vllm/deploy/disagg_planner.yaml
  components/backends/vllm/deploy/disagg_router.yaml
Labels: size/M, fix

#2285 fix: Update the NIXL TRTLLM commit version to rc4
  container/build.sh
Labels: size/XS, fix

#2286 feat: Pass user_data to register_llm for LoRA support
  docs/guides/backend.md
  docs/guides/dynamo_run.md
  lib/bindings/python/rust/lib.rs
  lib/llm/src/local_model.rs
  lib/llm/src/model_card/create.rs
  lib/llm/src/model_card/model.rs
Labels: external-contribution, size/M, feat

#2297 docs: add GPT-OSS deployment guide
  README.md
  components/backends/trtllm/engine_configs/gpt_oss/decode.yaml
  components/backends/trtllm/engine_configs/gpt_oss/prefill.yaml
  components/backends/trtllm/gpt-oss.md
  components/backends/trtllm/launch/gpt_oss_disagg.sh
  container/Dockerfile.tensorrt_llm_prebuilt
  container/build.sh
  container/build_trtllm_wheel.sh
Labels: size/XL, docs

#2011 feat(health): extend /health endpoint to include instances (#1312)
  lib/llm/src/entrypoint/input/http.rs
  lib/llm/src/http/service/health.rs
  lib/llm/src/http/service/service_v2.rs
  lib/runtime/src/instances.rs
  lib/runtime/src/lib.rs
Labels: external-contribution, size/M, fault tolerance, feat

#2270 feat: Allow Python Engine to end stream before final
  docs/guides/backend.md
  lib/bindings/python/rust/engine.rs
  lib/runtime/src/pipeline/network/ingress/push_handler.rs
Labels: size/M, feat

#2299 fix: fix nil pointer deref in dynamo controller (#2293)
  deploy/cloud/operator/internal/dynamo/graph.go
Labels: size/XS, fix

#2280 feat: migrate requests when planner shutdown decode engine (vllm)
  components/backends/vllm/deploy/disagg_planner.yaml
  components/backends/vllm/src/dynamo/vllm/handlers.py
  components/backends/vllm/src/dynamo/vllm/main.py
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/src/dynamo/_core.pyi
  lib/runtime/src/component/endpoint.rs
  lib/runtime/src/pipeline/network/ingress/push_endpoint.rs
Labels: size/L, feat

#2253 ci: Improve caching on pre-merge-rust
  .github/workflows/pre-merge-rust.yml
  lib/runtime/src/pipeline/error.rs
  lib/runtime/src/pipeline/network/egress/addressed_router.rs
  lib/runtime/src/pipeline/nodes/sources.rs
  lib/runtime/src/pipeline/nodes/sources/base.rs
Labels: ci, size/M

#2313 docs: use prebuilt gpt-oss container
  components/backends/trtllm/gpt-oss.md
Labels: size/S, docs

#2306 docs: update deploy readme
  docs/guides/dynamo_deploy/README.md
Labels: size/S, docs

#2322 fix: Add common and test dependencies to sglang runtime build (#2279)
  container/Dockerfile.sglang
Labels: size/S, fix

#2324 test: e2e test of two Router replicas with mockers
  tests/router/test_router_e2e_with_mockers.py
Labels: size/L, test

#2195 feat: Multimodal support for dynamo with trtllm backend
  components/backends/trtllm/README.md
  components/backends/trtllm/engine_configs/multimodal/agg.yaml
  components/backends/trtllm/engine_configs/multimodal/decode.yaml
  components/backends/trtllm/engine_configs/multimodal/llama4/decode.yaml
  components/backends/trtllm/engine_configs/multimodal/llama4/prefill.yaml
  components/backends/trtllm/engine_configs/multimodal/prefill.yaml
  components/backends/trtllm/launch/agg.sh
  components/backends/trtllm/launch/disagg.sh
  components/backends/trtllm/multinode/multinode-multimodal-example.md
  components/backends/trtllm/multinode/start_trtllm_worker.sh
  components/backends/trtllm/src/dynamo/trtllm/main.py
  components/backends/trtllm/src/dynamo/trtllm/multimodal_processor.py
  components/backends/trtllm/src/dynamo/trtllm/request_handlers/handler_base.py
  components/backends/trtllm/src/dynamo/trtllm/request_handlers/handlers.py
  components/backends/trtllm/src/dynamo/trtllm/utils/trtllm_utils.py
Labels: size/XL, feat

#2316 fix: Move register_llm_block down
  components/backends/vllm/src/dynamo/vllm/main.py
Labels: external-contribution, size/S, fix

#2327 feat: recorder graceful drop
  lib/llm/src/recorder.rs
Labels: size/S, feat

#2312 Enforced kv layer ordering
  lib/bindings/python/rust/llm/block_manager/vllm/connector/worker.rs
  lib/bindings/python/src/dynamo/llm/vllm_integration/connector_worker.py
Labels: size/M

#2332 docs(dynamo-run): Remove vllm/sglang/trtllm engines from dynamo-run docs
  docs/guides/dynamo_run.md
  launch/dynamo-run/src/flags.rs
  launch/dynamo-run/src/main.rs
Labels: size/L, docs

#2334 docs: Final fixes to links reported by QA
  components/backends/sglang/deploy/README.md
  components/backends/sglang/slurm_jobs/README.md
  components/backends/trtllm/README.md
  components/backends/vllm/README.md
  deploy/inference-gateway/README.md
  docs/API/nixl_connect/README.md
  docs/index.rst
  examples/README.md
  examples/runtime/hello_world/README.md
Labels: size/M, docs

#2317 fix: upgrade axum to 0.8 and etcd-client to 0.16
  Cargo.lock
  Cargo.toml
  components/metrics/Cargo.toml
  components/metrics/src/lib.rs
  lib/bindings/python/Cargo.lock
Labels: external-contribution, size/S, fix

#2342 fix: Restore running single-process without etcd
  lib/llm/src/entrypoint/input/http.rs
Labels: size/S, fix

#2241 feat: DIS-323 [trtllm backend publisher] only publish kv event with the biggest window size to support kv routing with variable sliding window attention
  components/backends/trtllm/engine_configs/gemma3/vswa_agg.yaml
  components/backends/trtllm/engine_configs/gemma3/vswa_decode.yaml
  components/backends/trtllm/engine_configs/gemma3/vswa_prefill.yaml
  components/backends/trtllm/gemma3_sliding_window_attention.md
  components/backends/trtllm/src/dynamo/trtllm/publisher.py
Labels: size/M, feat

#2318 refactor: Rename HTTP server to metrics server in worker process
  lib/runtime/examples/system_metrics/README.md
  lib/runtime/examples/system_metrics/tests/integration_test.rs
  lib/runtime/src/distributed.rs
  lib/runtime/src/lib.rs
  lib/runtime/src/metrics_server.rs
Labels: size/L, refactor

#2351 docs: Address vincent issue with trtllm symlink
  components/backends/trtllm/README.md
  docs/components/backends/trtllm/README.md
Labels: size/L, docs

#2321 fix: improve HF token handling in preprocessor tests
  lib/llm/tests/preprocessor.rs
Labels: size/M, fix

#2307 fix: chunked prefill update
  lib/bindings/python/Cargo.lock
  lib/bindings/python/Cargo.toml
  lib/bindings/python/rust/llm/block_manager.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader/slot.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/worker.rs
  lib/bindings/python/src/dynamo/llm/vllm_integration/connector_worker.py
  lib/llm/src/block_manager/connector/scheduler.rs
  lib/llm/src/block_manager/distributed/transfer.rs
Labels: size/L, fix

#2344 refactor: separate pyo3 from rust in vllm connector worker leader
  lib/bindings/python/rust/llm/block_manager/vllm.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader/recorder.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/worker.rs
  lib/bindings/python/src/dynamo/llm/vllm_integration/rust.py
Labels: size/L, refactor

#2349 chore: Remove service_name from ModelDeploymentCard
  lib/bindings/python/rust/llm/model_card.rs
  lib/llm/src/backend.rs
  lib/llm/src/local_model.rs
  lib/llm/src/migration.rs
  lib/llm/src/model_card.rs
  lib/llm/src/model_card/create.rs
  lib/llm/src/model_card/model.rs
  lib/llm/src/preprocessor.rs
  lib/llm/src/preprocessor/prompt/template.rs
  lib/llm/tests/backend.rs
  lib/llm/tests/model_card.rs
  lib/llm/tests/preprocessor.rs
  lib/runtime/src/slug.rs
Labels: size/XXL, chore

#2264 feat: Router replicas with state-sharing
  Cargo.lock
  components/frontend/src/dynamo/frontend/main.py
  components/metrics/src/lib.rs
  components/router/src/main.rs
  docs/architecture/kv_cache_routing.md
  launch/dynamo-run/src/flags.rs
  lib/bindings/python/Cargo.lock
  lib/bindings/python/rust/llm/entrypoint.rs
  lib/llm/Cargo.toml
  lib/llm/src/discovery/model_manager.rs
  lib/llm/src/kv_router.rs
  lib/llm/src/kv_router/metrics_aggregator.rs
  lib/llm/src/kv_router/prefill_counter.rs
  lib/llm/src/kv_router/protocols.rs
  lib/llm/src/kv_router/publisher.rs
  lib/llm/src/kv_router/scheduler.rs
  lib/llm/src/kv_router/scoring.rs
  lib/llm/src/kv_router/sequence.rs
Labels: size/XXL, fault tolerance, feat

#2361 docs: fix lowest cost mistake in doc
  docs/architecture/kv_cache_routing.md
  docs/components/router/README.md
Labels: size/M, docs

#2355 chore: ATTRIBUTIONS-Go.md
  ATTRIBUTIONS-Go.md
Labels: size/L, chore

#2301 fix: Copy cuda libraries from devel to runtime stage
  container/Dockerfile.sglang
Labels: size/S, fix

#2375 fix: use wheel files for installation in trtllm build (#2372)
  container/Dockerfile.tensorrt_llm
Labels: size/XS, fix

#2379 fix(build): Pin cuda-python>=12,<13 to avoid trtllm breakage
  container/Dockerfile.tensorrt_llm
Labels: size/XS, fix

#2388 docs: add sglang hicache example and guide
  components/backends/sglang/README.md
  components/backends/sglang/docs/sgl-hicache-example.md
Labels: external-contribution, size/M, docs

#2376 fix: use default batch_size for decode
  components/backends/trtllm/engine_configs/gpt_oss/decode.yaml
  components/backends/trtllm/gpt-oss.md
  components/backends/trtllm/launch/gpt_oss_disagg.sh
Labels: size/XS, fix

#2269 feat: add grove multinode support
  deploy/cloud/helm/crds/Chart.yaml
  deploy/cloud/helm/crds/templates/nvidia.com_dynamocomponentdeployments.yaml
  deploy/cloud/helm/crds/templates/nvidia.com_dynamographdeployments.yaml
  deploy/cloud/operator/api/dynamo/common/common.go
  deploy/cloud/operator/api/v1alpha1/dynamocomponentdeployment_types.go
  deploy/cloud/operator/api/v1alpha1/dynamographdeployment_types.go
  deploy/cloud/operator/config/crd/bases/nvidia.com_dynamocomponentdeployments.yaml
  deploy/cloud/operator/config/crd/bases/nvidia.com_dynamographdeployments.yaml
  deploy/cloud/operator/go.mod
  deploy/cloud/operator/go.sum
  deploy/cloud/operator/internal/consts/consts.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller_test.go
  deploy/cloud/operator/internal/controller/dynamographdeployment_controller.go
  deploy/cloud/operator/internal/dynamo/backend_common.go
  deploy/cloud/operator/internal/dynamo/backend_sglang.go
  deploy/cloud/operator/internal/dynamo/backend_sglang_test.go
  deploy/cloud/operator/internal/dynamo/backend_trtllm.go
  deploy/cloud/operator/internal/dynamo/backend_trtllm_test.go
  deploy/cloud/operator/internal/dynamo/backend_vllm.go
  deploy/cloud/operator/internal/dynamo/backend_vllm_test.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
Labels: size/XXL, feat

#2386 feat: standalone profiling script for a given endpoint
  benchmarks/profiler/profile_endpoint.py
  benchmarks/profiler/profile_sla.py
  benchmarks/profiler/utils/plot.py
  benchmarks/profiler/utils/profile_decode.py
  benchmarks/profiler/utils/profile_prefill.py
Labels: size/L, feat

#2359 fix: Pinned PyTorch version for vLLM container
  container/deps/vllm/install_vllm.sh
Labels: size/XS, fix

#2380 feat: Add frontend support for `min_tokens` and `ignore_eos` (outside of `nvext`) and Structured Output / Guided Decoding
  lib/llm/src/entrypoint/input/batch.rs
  lib/llm/src/entrypoint/input/text.rs
  lib/llm/src/http/service/openai.rs
  lib/llm/src/protocols/openai.rs
  lib/llm/src/protocols/openai/chat_completions.rs
  lib/llm/src/protocols/openai/common_ext.rs
  lib/llm/src/protocols/openai/completions.rs
  lib/llm/src/protocols/openai/responses.rs
  lib/llm/tests/http-service.rs
  lib/llm/tests/openai_completions.rs
  lib/llm/tests/preprocessor.rs
  lib/llm/tests/test_common_ext.rs
Labels: size/XL, feat

#2396 fix(build): Pin cuda-python>=12,<13 to avoid trtllm breakage (#2379)
  container/Dockerfile.tensorrt_llm
Labels: size/XS, fix

#2387 feat: Add performance sweeps for DeepSeek R1 on GB200
  components/backends/trtllm/README.md
  components/backends/trtllm/performance_sweeps/README.md
  components/backends/trtllm/performance_sweeps/benchmark.slurm
  components/backends/trtllm/performance_sweeps/benchmark_agg.slurm
  components/backends/trtllm/performance_sweeps/plot_performance_comparison.py
  components/backends/trtllm/performance_sweeps/post_process.py
  components/backends/trtllm/performance_sweeps/scripts/bench.sh
  components/backends/trtllm/performance_sweeps/scripts/gen_yaml.py
  components/backends/trtllm/performance_sweeps/scripts/start_agg_worker.sh
  components/backends/trtllm/performance_sweeps/scripts/start_frontend.sh
  components/backends/trtllm/performance_sweeps/scripts/start_worker.sh
  components/backends/trtllm/performance_sweeps/set_clock.sh
  components/backends/trtllm/performance_sweeps/submit.sh
  components/backends/trtllm/performance_sweeps/submit_agg.sh
Labels: size/XXL, feat

#2040 feat: multi-modal example with vLLM v1 and UX v2
  container/Dockerfile.vllm
  container/deps/vllm/install_vllm.sh
  examples/deployments/router_standalone/worker.py
  examples/multimodal_v1/README.md
  examples/multimodal_v1/components/encode_worker.py
  examples/multimodal_v1/components/processor.py
  examples/multimodal_v1/components/publisher.py
  examples/multimodal_v1/components/worker.py
  examples/multimodal_v1/connect/README.md
  examples/multimodal_v1/connect/__init__.py
  examples/multimodal_v1/launch/agg.sh
  examples/multimodal_v1/launch/agg_llama.sh
  examples/multimodal_v1/launch/disagg.sh
  examples/multimodal_v1/launch/disagg_llama.sh
  examples/multimodal_v1/utils/args.py
  examples/multimodal_v1/utils/chat_processor.py
  examples/multimodal_v1/utils/image_loader.py
  examples/multimodal_v1/utils/model.py
  examples/multimodal_v1/utils/protocol.py
  lib/bindings/python/src/dynamo/runtime/__init__.py
Labels: size/XXL, feat

#2407 handling skipping and request abortion logic
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader/slot.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/worker.rs
  lib/llm/src/block_manager/connector/scheduler.rs
Labels: size/L

#2422 chore: update wideep dockerfile for sgl to newest rel
  components/backends/sglang/docs/dsr1-wideep-gb200.md
  container/Dockerfile.sglang-wideep
Labels: size/XS, chore

#2418 feat: Allow an endpoint to serve multiple models
  components/metrics/src/main.rs
  lib/bindings/python/rust/lib.rs
  lib/llm/src/local_model.rs
  lib/llm/src/local_model/network_name.rs
  lib/runtime/examples/Cargo.lock
  lib/runtime/src/component/endpoint.rs
  lib/runtime/src/transports/etcd.rs
  lib/runtime/src/utils/leader_worker_barrier.rs
Labels: size/L, feat

#2427 feat: LLM metrics for non-streaming requests in frontend
  lib/llm/src/http/service/openai.rs
Labels: size/S, feat

#2424 test: add kv routing test for sglang
  components/backends/sglang/README.md
  components/backends/sglang/launch/agg_router.sh
  components/backends/sglang/src/dynamo/sglang/worker/main.py
  tests/README.md
  tests/serve/test_sglang.py
Labels: size/L, test

#2432 feat: enable custom metrics prefix
  Cargo.lock
  components/frontend/src/dynamo/frontend/main.py
  lib/llm/Cargo.toml
  lib/llm/src/http/service/metrics.rs
  lib/llm/tests/http_metrics.rs
Labels: size/L, feat

#2384 fix: Fix ETCD and NATS starvation under massive request concurrency
  lib/runtime/src/distributed.rs
  lib/runtime/src/transports.rs
  lib/runtime/src/transports/etcd.rs
  lib/runtime/src/transports/nats.rs
  lib/runtime/src/transports/utils.rs
Labels: size/L, fix

#2429 feat: Add vars to multi-node trtllm slurm scripts to support xP yD deployments
  components/backends/trtllm/multinode/multinode-examples.md
  components/backends/trtllm/multinode/srun_disaggregated.sh
Labels: size/M, feat

#2433 fix(ci): Reduce the free gpu memory fraction
  components/backends/trtllm/engine_configs/agg.yaml
  components/backends/trtllm/engine_configs/decode.yaml
  components/backends/trtllm/engine_configs/prefill.yaml
Labels: ci, size/XS, backend::trtllm, fix

#2419 feat: add dynamo environment checker script
  deploy/dynamo_check.py
Labels: size/XXL, feat

#2442 chore: Upgrade volcano dependency version
  deploy/cloud/operator/go.mod
  deploy/cloud/operator/go.sum
Labels: external-contribution, size/XS, chore

#2439 chore: deprecate sentencepiece tokenizer in lib/llm
  Cargo.lock
  lib/llm/Cargo.toml
  lib/llm/src/tokenizers.rs
  lib/llm/src/tokenizers/README.md
  lib/llm/src/tokenizers/sp.rs
Labels: external-contribution, size/L, chore

#2430 build: Pin torch versions and skip lmcache installation for ARM build
  container/deps/vllm/install_vllm.sh
Labels: size/S, build

#2257 fix: add instruction to deploy model with inference gateway
  components/backends/sglang/deploy/README.md
  components/backends/trtllm/README.md
  components/backends/trtllm/deploy/README.md
  components/backends/vllm/README.md
  components/backends/vllm/deploy/README.md
  deploy/inference-gateway/README.md
  examples/deployments/EKS/Deploy_VLLM_example.md
Labels: size/XL, fix

#2446 perf: Only compute checksums on debug builds
  lib/runtime/src/pipeline/network/codec/two_part.rs
Labels: size/M, perf

#2398 fix: operator defaults
  components/backends/sglang/deploy/agg.yaml
  components/backends/sglang/deploy/agg_router.yaml
  components/backends/sglang/deploy/disagg.yaml
  components/backends/sglang/deploy/disagg_planner.yaml
  components/backends/trtllm/deploy/agg.yaml
  components/backends/trtllm/deploy/agg_router.yaml
  components/backends/trtllm/deploy/disagg.yaml
  components/backends/trtllm/deploy/disagg_router.yaml
  components/backends/vllm/deploy/agg.yaml
  components/backends/vllm/deploy/agg_router.yaml
  components/backends/vllm/deploy/disagg.yaml
  components/backends/vllm/deploy/disagg_planner.yaml
  components/backends/vllm/deploy/disagg_router.yaml
  deploy/cloud/operator/api/v1alpha1/dynamocomponentdeployment_types.go
  deploy/cloud/operator/api/v1alpha1/dynamocomponentdeployment_types_test.go
  deploy/cloud/operator/internal/consts/consts.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller_test.go
  deploy/cloud/operator/internal/controller/dynamographdeployment_controller.go
  deploy/cloud/operator/internal/dynamo/component_common.go
  deploy/cloud/operator/internal/dynamo/component_frontend.go
  deploy/cloud/operator/internal/dynamo/component_planner.go
  deploy/cloud/operator/internal/dynamo/component_worker.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
  examples/runtime/hello_world/deploy/hello_world.yaml
Labels: size/XXL, fix

#2447 fix: add fields documentation in CRDs
  deploy/cloud/helm/crds/templates/nvidia.com_dynamocomponentdeployments.yaml
  deploy/cloud/helm/crds/templates/nvidia.com_dynamographdeployments.yaml
  deploy/cloud/operator/Makefile
  deploy/cloud/operator/api/dynamo/common/common.go
  deploy/cloud/operator/api/v1alpha1/dynamocomponentdeployment_types.go
  deploy/cloud/operator/api/v1alpha1/dynamographdeployment_types.go
  deploy/cloud/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/cloud/operator/config/crd/bases/nvidia.com_dynamocomponentdeployments.yaml
  deploy/cloud/operator/config/crd/bases/nvidia.com_dynamographdeployments.yaml
Labels: size/XXL, fix

#2292 feat(metrics): add NATS client metrics to prometheus_metrics_fmt
  components/metrics/src/main.rs
  lib/bindings/python/rust/lib.rs
  lib/llm/src/discovery/watcher.rs
  lib/llm/src/entrypoint/input/common.rs
  lib/llm/src/entrypoint/input/endpoint.rs
  lib/runtime/examples/hello_world/src/bin/client.rs
  lib/runtime/examples/hello_world/src/bin/server.rs
  lib/runtime/examples/service_metrics/src/bin/service_client.rs
  lib/runtime/examples/service_metrics/src/bin/service_server.rs
  lib/runtime/examples/system_metrics/src/lib.rs
  lib/runtime/src/component.rs
  lib/runtime/src/component/namespace.rs
  lib/runtime/src/distributed.rs
  lib/runtime/src/lib.rs
  lib/runtime/src/metrics.rs
  lib/runtime/src/metrics/prometheus_names.rs
  lib/runtime/src/service.rs
  lib/runtime/src/system_status_server.rs
  lib/runtime/src/transports/etcd.rs
  lib/runtime/src/transports/nats.rs
Labels: size/XXL, feat

#2405 feat: extract deploymentType as interface
  components/backends/sglang/deploy/disagg-multinode.yaml
  deploy/cloud/helm/crds/templates/nvidia.com_dynamocomponentdeployments.yaml
  deploy/cloud/helm/crds/templates/nvidia.com_dynamographdeployments.yaml
  deploy/cloud/operator/Makefile
  deploy/cloud/operator/api/dynamo/common/common.go
  deploy/cloud/operator/api/v1alpha1/dynamocomponentdeployment_types.go
  deploy/cloud/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/cloud/operator/config/crd/bases/nvidia.com_dynamocomponentdeployments.yaml
  deploy/cloud/operator/config/crd/bases/nvidia.com_dynamographdeployments.yaml
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller_test.go
  deploy/cloud/operator/internal/dynamo/backend_common.go
  deploy/cloud/operator/internal/dynamo/backend_sglang.go
  deploy/cloud/operator/internal/dynamo/backend_sglang_test.go
  deploy/cloud/operator/internal/dynamo/backend_trtllm.go
  deploy/cloud/operator/internal/dynamo/backend_trtllm_test.go
  deploy/cloud/operator/internal/dynamo/backend_vllm.go
  deploy/cloud/operator/internal/dynamo/backend_vllm_test.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
  deploy/cloud/operator/internal/dynamo/grove.go
  deploy/cloud/operator/internal/dynamo/lws.go
  docs/guides/dynamo_deploy/multinode-deployment.md
Labels: size/XXL, feat

#2458 fix: remove add_labels in Component
  components/backends/vllm/src/dynamo/vllm/main.py
Labels: size/S, fix

#2449 feat: Support `python -m dynamo.frontend --version`
  .gitignore
  components/backends/llama_cpp/src/dynamo/llama_cpp/__init__.py
  components/backends/llama_cpp/src/dynamo/llama_cpp/main.py
  components/backends/mocker/src/dynamo/mocker/__init__.py
  components/backends/mocker/src/dynamo/mocker/main.py
  components/backends/sglang/src/dynamo/sglang/__init__.py
  components/backends/trtllm/src/dynamo/trtllm/__init__.py
  components/backends/trtllm/src/dynamo/trtllm/utils/trtllm_utils.py
  components/backends/vllm/src/dynamo/vllm/__init__.py
  components/backends/vllm/src/dynamo/vllm/args.py
  components/frontend/src/dynamo/frontend/__init__.py
  components/frontend/src/dynamo/frontend/main.py
  components/planner/src/dynamo/planner/__init__.py
  components/planner/src/dynamo/planner/config.py
  components/planner/src/dynamo/planner/utils/planner_core.py
  container/Dockerfile
  container/Dockerfile.sglang
  container/Dockerfile.trtllm
  container/Dockerfile.vllm
  hatch_build.py
  pyproject.toml
Labels: size/L, feat

#2381 build: add zmq lib to support trtllm's UCX connection establishment with zmq
  container/Dockerfile.trtllm
Labels: size/XS, build

#2463 chore(sglang): Warn if --skip-tokenizer-init missing
  components/backends/sglang/src/dynamo/sglang/common/sgl_utils.py
Labels: size/S, chore

#2454 chore: bug fixes in pre-deployment sweeping and vllm_v1 planner; expose num_d/p to k8s metrics
  benchmarks/profiler/inject_disagg_config.py
  benchmarks/profiler/profile_endpoint.py
  benchmarks/profiler/profile_sla.py
  benchmarks/profiler/utils/kubernetes.py
  components/backends/sglang/deploy/disagg_planner.yaml
  components/backends/vllm/deploy/disagg_planner.yaml
  components/planner/src/dynamo/planner/defaults.py
  components/planner/src/dynamo/planner/planner_sla.py
  components/planner/src/dynamo/planner/utils/planner_core.py
  deploy/metrics/k8s/planner-podmonitor.yaml
  docs/architecture/pre_deployment_profiling.md
  docs/guides/deploy/k8s_metrics.md
Labels: size/L, chore

#2489 chore: updating to use pinned precompiled version
  container/deps/vllm/install_vllm.sh
Labels: size/S, chore

#2509 build: Bump vllm and deepgemm version
  container/Dockerfile.vllm
  container/deps/vllm/install_vllm.sh
Labels: size/XS, build

#2510 feat: add mistral and phi4 tool parser
  lib/llm/src/postprocessor/tool_calling/json_parser.rs
  lib/llm/src/postprocessor/tool_calling/parsers.rs
Labels: size/L, feat

#2524 docs: update support matrix with links to ngc
  docs/support_matrix.md
Labels: size/XS, docs

#2511 feat: add a knob to turn off correction factor in sla planner
  components/planner/src/dynamo/planner/defaults.py
  components/planner/src/dynamo/planner/planner_sla.py
  components/planner/src/dynamo/planner/utils/planner_core.py
Labels: size/L, feat

#2532 ci: run gitlab triggers on runner group
  .github/workflows/trigger_ci.yml
Labels: ci, size/XS

#2528 chore: Finish vllm upgrade to 0.10.1 + cleanup
  components/backends/vllm/src/dynamo/vllm/args.py
  container/Dockerfile.vllm
  container/deps/vllm/install_vllm.sh
  pyproject.toml
Labels: size/M, chore

#2535 docs: Add note for LMCache ARM support
  components/backends/vllm/LMCache_Integration.md
Labels: external-contribution, size/XS, docs

#2529 chore: add hhzhang16 to py codeowner
  CODEOWNERS
Labels: size/XS, chore

#2515 feat: Rename dynamo_component_concurrent_requests
  deploy/metrics/README.md
  lib/runtime/examples/system_metrics/README.md
  lib/runtime/examples/system_metrics/tests/integration_test.rs
  lib/runtime/src/metrics.rs
  lib/runtime/src/metrics/prometheus_names.rs
  lib/runtime/src/pipeline/network/ingress/push_handler.rs
  tests/router/test_router_e2e_with_mockers.py
Labels: size/M, feat

#2423 feat: Use health check and improve instructions for perf sweeps
  components/backends/trtllm/performance_sweeps/README.md
  components/backends/trtllm/performance_sweeps/benchmark_agg.slurm
  components/backends/trtllm/performance_sweeps/benchmark_disagg.slurm
  components/backends/trtllm/performance_sweeps/scripts/bench.sh
  components/backends/trtllm/performance_sweeps/scripts/start_agg_worker.sh
  components/backends/trtllm/performance_sweeps/scripts/start_disagg_worker.sh
  components/backends/trtllm/performance_sweeps/scripts/start_frontend.sh
  components/backends/trtllm/performance_sweeps/scripts/start_worker.sh
  components/backends/trtllm/performance_sweeps/submit_disagg.sh
Labels: size/L, feat

#2539 fix: Fix KVBM Guide
  docs/guides/run_kvbm_in_vllm.md
Labels: size/XS, fix

#2538 docs: update grove ref to new url
  docs/guides/dynamo_deploy/multinode-deployment.md
Labels: size/XS, docs

#2543 chore: remove flatten for chat response types, add reasoning_content
  .github/workflows/docs-link-check.yml
  lib/async-openai/src/types/chat.rs
  lib/engines/mistralrs/src/lib.rs
  lib/llm/src/engines.rs
  lib/llm/src/entrypoint/input/batch.rs
  lib/llm/src/entrypoint/input/text.rs
  lib/llm/src/http/service/openai.rs
  lib/llm/src/perf/logprobs.rs
  lib/llm/src/protocols/openai/chat_completions.rs
  lib/llm/src/protocols/openai/chat_completions/aggregator.rs
  lib/llm/src/protocols/openai/chat_completions/delta.rs
  lib/llm/src/protocols/openai/responses.rs
  lib/llm/tests/aggregators.rs
  lib/llm/tests/http-service.rs
  lib/llm/tests/logprob_analysis_integration.rs
Labels: size/L, chore

#2537 fix: Dockerfile.sglang - Fixed sglang and dynamo wheels installaiton in ru…
  container/Dockerfile.sglang
  lib/bindings/python/pyproject.toml
Labels: size/XS, fix

#2534 test: Add deepep test for vllm
  components/backends/vllm/launch/dsr1_dep.sh
  pyproject.toml
  tests/serve/test_vllm.py
Labels: size/M, test

#2255 feat: enhance devcontainer configuration and documentation
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Labels: size/L, feat

#2158 feat(request cancellation): pycontext, propagating the `is_stopped` into python land.
  Cargo.lock
  examples/runtime/hello_world/hello_world.py
  lib/bindings/python/rust/context.rs
  lib/bindings/python/rust/engine.rs
  lib/bindings/python/rust/lib.rs
  lib/bindings/python/src/dynamo/runtime/__init__.py
Labels: external-contribution, size/L, fault tolerance, feat

#2560 fix: resources in wrong location in vllm disag_router example (#2558)
  components/backends/vllm/deploy/agg_router.yaml
Labels: size/XS, fix

#2557 test: add dryrun mode for sla planner
  benchmarks/README.md
  benchmarks/prefix_data_generator/README.md
  benchmarks/prefix_data_generator/__init__.py
  benchmarks/prefix_data_generator/cli.py
  benchmarks/prefix_data_generator/example.py
  benchmarks/prefix_data_generator/graph_utils.py
  benchmarks/prefix_data_generator/hasher.py
  benchmarks/prefix_data_generator/logging_utils.py
  benchmarks/prefix_data_generator/prefix_analyzer.py
  benchmarks/prefix_data_generator/protocols.py
  benchmarks/prefix_data_generator/sampler.py
  benchmarks/prefix_data_generator/synthesizer.py
  benchmarks/prefix_data_generator/tests/test_hasher.py
  benchmarks/prefix_data_generator/tests/test_sampler.py
  benchmarks/prefix_data_generator/tests/test_synthesizer.py
  benchmarks/pyproject.toml
  benchmarks/sin_load_generator/README.md
  benchmarks/sin_load_generator/sin_synth.py
  components/planner/src/dynamo/planner/planner_sla.py
  components/planner/src/dynamo/planner/utils/argparse.py
  components/planner/src/dynamo/planner/utils/dryrun_plot_utils.py
  components/planner/src/dynamo/planner/utils/load_predictor.py
  components/planner/src/dynamo/planner/utils/planner_core.py
  components/planner/src/dynamo/planner/utils/trace_data_extractor.py
  components/planner/test/planner_sla_dryrun.py
  tests/planner/README.md
  tests/planner/figures/dryrun_plot.png
Labels: size/XXL, test

#2536 feat: Added CudaEvent interface
  lib/bindings/python/rust/lib.rs
  lib/llm/src/cuda.rs
  lib/llm/src/cuda/external.rs
  lib/llm/src/cuda/safe.rs
Labels: size/L, feat

#2566 fix(hub): Download faster from Hugging Face
  lib/llm/src/hub.rs
Labels: size/XS, fix

#2572 fix: Increase timeout for deepep test
  tests/serve/test_vllm.py
Labels: size/XS, fix

#2328 feat(sglang): allow for multi worker spin up in slurm scripts
  components/backends/sglang/README.md
  components/backends/sglang/launch/agg_router.sh
  components/backends/sglang/slurm_jobs/job_script_template.j2
  components/backends/sglang/slurm_jobs/scripts/gb200-fp8.sh
  components/backends/sglang/slurm_jobs/scripts/gb200.sh
  components/backends/sglang/slurm_jobs/scripts/h100.sh
  components/backends/sglang/slurm_jobs/scripts/worker_setup.py
  components/backends/sglang/slurm_jobs/submit_job_script.py
  container/Dockerfile.sglang-wideep
Labels: size/XL, feat

#2575 fix: Increase timeout for deepep test (#2572)
  tests/serve/test_vllm.py
Labels: size/XS, fix

#2569 docs: Add pinned install for cuda-python in pip install path (#2553)
  README.md
Labels: size/XS, docs

#2582 docs: change sglang hicache example to use hicache-ratio
  components/backends/sglang/docs/sgl-hicache-example.md
Labels: size/XS, docs

#2573 feat: use consistent small models across all deploy examples
  components/backends/sglang/README.md
  components/backends/sglang/deploy/agg.yaml
  components/backends/sglang/deploy/agg_router.yaml
  components/backends/sglang/deploy/disagg-multinode.yaml
  components/backends/sglang/deploy/disagg.yaml
  components/backends/sglang/deploy/disagg_planner.yaml
  components/backends/sglang/docs/sgl-hicache-example.md
  components/backends/sglang/launch/agg.sh
  components/backends/sglang/launch/agg_router.sh
  components/backends/sglang/launch/disagg.sh
  components/backends/trtllm/deploy/agg.yaml
  components/backends/trtllm/deploy/agg_router.yaml
  components/backends/trtllm/deploy/disagg.yaml
  components/backends/trtllm/deploy/disagg_router.yaml
  components/backends/trtllm/launch/agg.sh
  components/backends/trtllm/launch/agg_router.sh
  components/backends/trtllm/launch/disagg.sh
  components/backends/trtllm/launch/disagg_router.sh
Labels: size/M, feat

#2565 fix: add prometheus to the runtime image
  container/Dockerfile.vllm
Labels: size/XS, fix

#2588 docs: change sglang hicache example to use hicache-ratio
  components/backends/sglang/docs/sgl-hicache-example.md
Labels: size/XS, docs

#2570 chore: add planner code owners
  CODEOWNERS
Labels: size/XS, chore

#2567 fix: profiling script missing tests when kv cache is tight
  benchmarks/profiler/utils/profile_decode.py
Labels: size/S, fix

#2590 fix: ensure nats fails fast with jetstream failure
  lib/runtime/src/transports/nats.rs
Labels: external-contribution, size/XS, fix

#2595 fix: `skip-tokenizer-init` by default in sglang
  components/backends/sglang/src/dynamo/sglang/args.py
  components/backends/sglang/src/dynamo/sglang/request_handlers/decode_handler.py
Labels: size/S, fix

#2605 chore: fix `skip-tokenizer-init`
  components/backends/sglang/src/dynamo/sglang/args.py
  components/backends/sglang/src/dynamo/sglang/request_handlers/decode_handler.py
Labels: size/S, chore

#2555 feat: enable basic reasoning parsing of <think> </think> tokens
  lib/llm/src/engines.rs
  lib/llm/src/protocols/openai/chat_completions/aggregator.rs
  lib/llm/src/protocols/openai/chat_completions/delta.rs
  lib/llm/tests/http-service.rs
  lib/parsers/src/reasoning/base_parser.rs
  lib/parsers/src/reasoning/deepseek_r1_parser.rs
  lib/parsers/src/reasoning/mod.rs
Labels: size/L, feat

#2602 chore: remove circus dependency
  ATTRIBUTIONS-Python.md
  components/README.md
  components/planner/src/dynamo/planner/__init__.py
  components/planner/src/dynamo/planner/circusd.py
  docs/architecture/planner_intro.rst
  pyproject.toml
Labels: size/L, chore

#2612 docs: add trtllm known issue for al2023 (#2604)
  docs/support_matrix.md
Labels: size/XS, docs

#2621 docs: fix doc for kvbm
  docs/guides/run_kvbm_in_vllm.md
Labels: size/XS, docs

#2591 fix: Httpengine sync-enable-endpoint
  lib/bindings/python/rust/http.rs
  lib/llm/src/entrypoint/input/http.rs
  lib/llm/src/http/service/service_v2.rs
Labels: external-contribution, size/M, fix

#2627 fix: --kv-event-config now respects command line
  components/backends/vllm/src/dynamo/vllm/args.py
Labels: size/M, fix

#2625 fix: prevent crash looping hello world
  examples/runtime/hello_world/client.py
Labels: size/M, fix

#2617 fix: set functional tests to use qwen
  tests/serve/test_sglang.py
Labels: size/XS, fix

#2618 fix: functional tests to use qwen (CP #2617)
  tests/serve/test_sglang.py
Labels: size/XS, fix

#2635 fix: 0.4.1 disable kvbm tests
  tests/kvbm/test_determinism.py
Labels: size/XS, fix

#2628 feat: add multimodal deployment example for llava based on vllm v1
  examples/multimodal/deploy/agg_llava.yaml
Labels: size/M, feat

#2639 docs: update trtllm know issue message
  docs/support_matrix.md
Labels: size/XS, docs

#2643 docs: update trtllm know issue message (#2639)
  docs/support_matrix.md
Labels: size/XS, docs

#2622 feat: Remove Multimodel Example Connect
  container/Dockerfile.vllm
  examples/multimodal/components/encode_worker.py
  examples/multimodal/components/worker.py
  examples/multimodal/connect/README.md
  examples/multimodal/connect/__init__.py
  examples/multimodal/utils/protocol.py
Labels: size/XXL, feat

#2647 fix: Tests now pass with RUST_BACKTRACE set
  lib/llm/src/migration.rs
  lib/llm/src/protocols/common/llm_backend.rs
  lib/runtime/src/protocols/annotated.rs
  lib/runtime/src/protocols/maybe_error.rs
Labels: size/M, fix

#2651 docs: Update supported model in readme for multimodal
  examples/multimodal/README.md
Labels: size/XS, docs

#2626 feat: enable dynamo metrics on KVBM
  deploy/metrics/grafana_dashboards/grafana-kvbm-dashboard.json
  deploy/metrics/prometheus.yml
  docs/guides/run_kvbm_in_vllm.md
  lib/bindings/python/Cargo.lock
  lib/bindings/python/Cargo.toml
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader/recorder.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader/slot.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/worker.rs
  lib/bindings/python/src/dynamo/llm/vllm_integration/connector_leader.py
  lib/bindings/python/src/dynamo/llm/vllm_integration/connector_worker.py
  lib/bindings/python/src/dynamo/llm/vllm_integration/kv_cache_utils.py
  lib/llm/src/block_manager.rs
  lib/llm/src/block_manager/metrics_kvbm.rs
  lib/runtime/src/metrics/prometheus_names.rs
Labels: size/L, feat

#2619 feat: [vLLM] implement cli args for tool and reasoning parsers
  components/backends/vllm/src/dynamo/vllm/args.py
  components/backends/vllm/src/dynamo/vllm/main.py
  lib/bindings/python/rust/llm/local_model.rs
  lib/llm/src/discovery/model_manager.rs
  lib/llm/src/http/service/openai.rs
  lib/llm/src/local_model.rs
  lib/llm/src/local_model/runtime_config.rs
  lib/llm/src/preprocessor.rs
  lib/llm/src/protocols/openai.rs
  lib/llm/src/protocols/openai/chat_completions/aggregator.rs
  lib/llm/src/protocols/openai/completions/aggregator.rs
  lib/llm/tests/aggregators.rs
  lib/parsers/src/tool_calling/tools.rs
Labels: size/L, feat

#2661 fix: [TRTLLM+ LLAMA4 + Eagle 3] Remove the ‘two-models config’ and set the ‘one-model’ solution as the default
  components/backends/trtllm/engine_configs/llama4/eagle/eagle_agg.yaml
  components/backends/trtllm/engine_configs/llama4/eagle/eagle_agg.yml
  components/backends/trtllm/engine_configs/llama4/eagle/eagle_decode.yaml
  components/backends/trtllm/engine_configs/llama4/eagle/eagle_prefill.yaml
  components/backends/trtllm/engine_configs/llama4/eagle_one_model/eagle_agg.yml
  components/backends/trtllm/engine_configs/llama4/eagle_one_model/eagle_decode.yaml
  components/backends/trtllm/llama4_plus_eagle.md
Labels: size/L, fix

#2665 fix: handle missing span_name in logging test assertions
  lib/runtime/src/logging.rs
Labels: external-contribution, size/M, fix

#2660 fix: [TRTLLM+ LLAMA4 + Eagle 3] Remove the ‘two-models config’ and set the ‘one-model’ solution as the default,
  components/backends/trtllm/engine_configs/llama4/eagle/eagle_agg.yaml
  components/backends/trtllm/engine_configs/llama4/eagle/eagle_agg.yml
  components/backends/trtllm/engine_configs/llama4/eagle/eagle_decode.yaml
  components/backends/trtllm/engine_configs/llama4/eagle/eagle_prefill.yaml
  components/backends/trtllm/engine_configs/llama4/eagle_one_model/eagle_agg.yml
  components/backends/trtllm/engine_configs/llama4/eagle_one_model/eagle_decode.yaml
  components/backends/trtllm/llama4_plus_eagle.md
Labels: size/L, fix

#2667 fix: missing tokenizer args in sla_planner.py
  benchmarks/profiler/profile_sla.py
Labels: size/XS, fix

#2634 fix: hello world deployment liveness probe and match message responses with readme
  examples/runtime/hello_world/client.py
  examples/runtime/hello_world/deploy/hello_world.yaml
Labels: size/XS, fix

#2648 fix: fix manual helm chart
  deploy/helm/chart/templates/deployment.yaml
  deploy/helm/chart/templates/grove-podgangset.yaml
  deploy/helm/chart/templates/service.yaml
Labels: size/L, fix

#2655 fix: do not fail if backendFramework cannot be detected
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
Labels: size/M, fix

#2640 fix: fix env vars override
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller_test.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
Labels: size/L, fix

#2616 fix: increase shm default size and make it configurable
  deploy/cloud/helm/crds/templates/nvidia.com_dynamocomponentdeployments.yaml
  deploy/cloud/helm/crds/templates/nvidia.com_dynamographdeployments.yaml
  deploy/cloud/operator/api/v1alpha1/common.go
  deploy/cloud/operator/api/v1alpha1/dynamocomponentdeployment_types.go
  deploy/cloud/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/cloud/operator/config/crd/bases/nvidia.com_dynamocomponentdeployments.yaml
  deploy/cloud/operator/config/crd/bases/nvidia.com_dynamographdeployments.yaml
  deploy/cloud/operator/internal/consts/consts.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller_test.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
Labels: size/L, fix

#2676 fix: pytest robustness and parsing error
  examples/multimodal/components/encode_worker.py
  examples/multimodal/components/processor.py
  lib/bindings/python/src/dynamo/_core.pyi
  tests/serve/common.py
  tests/serve/test_trtllm.py
  tests/serve/test_vllm.py
  tests/utils/deployment_graph.py
  tests/utils/engine_process.py
  tests/utils/managed_process.py
Labels: size/XL, fix

#2671 fix: prevent crash looping hello world (#2625)
  examples/runtime/hello_world/client.py
  examples/runtime/hello_world/deploy/hello_world.yaml
Labels: size/M, fix

#2673 feat: add initial batch of KVBM metrics on match, offload and onboard
  deploy/metrics/grafana_dashboards/grafana-kvbm-dashboard.json
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader/recorder.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/leader/slot.rs
  lib/bindings/python/rust/llm/block_manager/vllm/connector/worker.rs
  lib/llm/src/block_manager/metrics_kvbm.rs
Labels: size/XXL, feat
