Repository ai-dynamo/dynamo, changes with the owners that CODEOWNERS names for each.
All owners: @ai-dynamo/dynamo-rust-codeowners, @nnshah1, @tanmayv25, @piotrm-nvidia, @ptarasiewiczNV, @ryanolson, @grahamking, @paulhendricks, @biswapanda, @tmonty12, @guanluo, @rmccorm4, @tedzhouhk, @alec-flowers, @kkranen, @ai-dynamo/Devops, @jthomson04, @ishandhanani, @PeaBrane, @richardhuo-nv, @hutm, @julienmancuso, @hhzhang16, @mohammedabdulwahhab, @whoisj, @indrajit96, @krishung5

CODEOWNERS:

# CODEOWNERS file for Dynamo
#
# For more information about CODEOWNERS files, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Rust - Keep these two the same. Or better make an alias like devops have.
*.rs @ai-dynamo/dynamo-rust-codeowners
Cargo.toml @ai-dynamo/dynamo-rust-codeowners

# Python Libraries
*.py @nnshah1 @tanmayv25 @piotrm-nvidia @ptarasiewiczNV @ryanolson @grahamking @paulhendricks @biswapanda @tmonty12 @guanluo @rmccorm4 @tedzhouhk @alec-flowers @kkranen @ai-dynamo/Devops @jthomson04 @ishandhanani @PeaBrane

# Container/Environments
/container/ @rmccorm4 @tanmayv25 @richardhuo-nv @ptarasiewiczNV @ishandhanani @alec-flowers @nnshah1 @ai-dynamo/Devops

# Dynamo deploy
/deploy/ @hutm @biswapanda @ishandhanani @julienmancuso @hhzhang16 @nnshah1 @mohammedabdulwahhab

# Examples
/examples/ @ai-dynamo/Devops @nnshah1 @whoisj @ai-dynamo/dynamo-rust-codeowners
/examples/common/ @ai-dynamo/Devops @tedzhouhk
/examples/hello_world/ @alec-flowers @biswapanda @grahamking @hhzhang16 @ishandhanani @julienmancuso @kkranen @mohammedabdulwahhab @nnshah1 @tedzhouhk
/examples/llm/ @alec-flowers @biswapanda @grahamking @guanluo @hhzhang16 @ishandhanani @julienmancuso @kkranen @mohammedabdulwahhab @nnshah1 @piotrm-nvidia @ptarasiewiczNV @rmccorm4 @tanmayv25 @tedzhouhk @PeaBrane
/examples/multimodal/ @indrajit96 @krishung5 @whoisj
/examples/sglang/ @biswapanda @ishandhanani @tedzhouhk @rmccorm4 @alec-flowers @grahamking
/examples/tensorrt_llm/ @guanluo @richardhuo-nv @rmccorm4 @tanmayv25
/examples/vllm_v0/ @alec-flowers @tedzhouhk @PeaBrane
/examples/vllm_v1/ @biswapanda @ptarasiewiczNV @tedzhouhk @PeaBrane

# CI/CD
/.github/ @ai-dynamo/Devops @nnshah1
/.github/workflows/*.ps1 @ai-dynamo/Devops @whoisj
CODEOWNERS @ai-dynamo/Devops @nnshah1

# Legal
/ATTRIBUTIONS-Rust.md @ai-dynamo/Devops
/ATTRIBUTIONS.md @ai-dynamo/Devops
/CODE_OF_CONDUCT.md @ai-dynamo/Devops
/CONTRIBUTING.md @ai-dynamo/Devops
/LICENSE @ai-dynamo/Devops
/SECURITY.md @ai-dynamo/Devops

refactor onboard_block_to_slot and apply_computed_blocks to reuse logic to advance the computed position when applying immutable blocks
  lib/bindings/python/rust/llm/block_manager/vllm.rs
  lib/bindings/python/rust/llm/block_manager/vllm/slot.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

clean up and check slot counts for proper deletion
  lib/bindings/python/rust/llm/block_manager/vllm.rs
  lib/llm/src/block_manager/block.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

update assert when we have possible block matches on device before matching against host/disk
  lib/bindings/python/rust/llm/block_manager/vllm.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

resolve incorrect finish reason propagation
  lib/llm/src/backend.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

perf(runtime): Use all available parallelism
  launch/dynamo-run/src/main.rs
  lib/runtime/src/config.rs
  lib/runtime/src/runtime.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

Adding eagle3_one_model key-value
  examples/tensorrt_llm/configs/llama4/eagle/engine_configs/prefill_config.yaml
Owners: @guanluo, @richardhuo-nv, @rmccorm4, @tanmayv25

Adding eagle3_one_model key-value
  examples/tensorrt_llm/configs/llama4/eagle/engine_configs/decode_config.yaml
Owners: @guanluo, @richardhuo-nv, @rmccorm4, @tanmayv25

Adding eagle3_one_model key-value
  examples/tensorrt_llm/configs/llama4/eagle/engine_configs/agg_config.yaml
Owners: @guanluo, @richardhuo-nv, @rmccorm4, @tanmayv25

chore: add live and ready health endpoints for k8s
  lib/llm/src/http/service/health.rs
  lib/llm/src/http/service/service_v2.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

feat: enable http paths to be set with envvars
  lib/llm/src/http/service/health.rs
  lib/llm/src/http/service/service_v2.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

chore: http path envvar docs; try to list models in /live
  lib/llm/src/http/service/health.rs
  lib/llm/src/http/service/service_v2.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

update deploy.sh with DYNAMO_CLOUD env var
  deploy/cloud/helm/deploy.sh
Owners: @hutm, @biswapanda, @ishandhanani, @julienmancuso, @hhzhang16, @nnshah1, @mohammedabdulwahhab

add docs on npz file format
  docs/architecture/sla_planner.md
Owners: none

fix: prevent null second token output & reduce time to second token latency
  examples/tensorrt_llm/common/base_engine.py
Owners: @guanluo, @richardhuo-nv, @rmccorm4, @tanmayv25

pc
  docs/architecture/sla_planner.md
Owners: none

chore: update nixl to 0.4.0 release
  Cargo.lock
  container/build.sh
  docs/support_matrix.md
  lib/bindings/python/Cargo.lock
  lib/llm/Cargo.toml
Owners: @rmccorm4, @tanmayv25, @richardhuo-nv, @ptarasiewiczNV, @ishandhanani, @alec-flowers, @nnshah1, @ai-dynamo/Devops, @ai-dynamo/dynamo-rust-codeowners

pc
  docs/architecture/sla_planner.md
Owners: none

address todo comments for component client.rs
  lib/runtime/src/component/client.rs
  lib/runtime/src/transports/etcd.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

feat: undo coderabbit requested changes (#1813)
  examples/llm/deploy/agg.yaml
  examples/llm/deploy/agg_router.yaml
  examples/llm/deploy/disagg.yaml
  examples/llm/deploy/disagg_router.yaml
  examples/vllm_v0/deploy/agg.yaml
  examples/vllm_v0/deploy/disagg.yaml
  examples/vllm_v0/deploy/disagg_planner.yaml
  examples/vllm_v1/deploy/agg.yaml
  examples/vllm_v1/deploy/disagg.yaml
  examples/vllm_v1/deploy/disagg_planner.yaml
Owners: @alec-flowers, @biswapanda, @grahamking, @guanluo, @hhzhang16, @ishandhanani, @julienmancuso, @kkranen, @mohammedabdulwahhab, @nnshah1, @piotrm-nvidia, @ptarasiewiczNV, @rmccorm4, @tanmayv25, @tedzhouhk, @PeaBrane

Fixed metrics in vllm v0 worker
  examples/vllm_v0/components/worker.py
Owners: @alec-flowers, @tedzhouhk, @PeaBrane

move to deploy dir
  examples/hello_world/deploy/hello_world.yaml
Owners: @alec-flowers, @biswapanda, @grahamking, @hhzhang16, @ishandhanani, @julienmancuso, @kkranen, @mohammedabdulwahhab, @nnshah1, @tedzhouhk

Update hello_world.md
  docs/examples/hello_world.md
Owners: none

build: Upgrade nats & etcd version in all containers to resolve known vulnerabilities
  container/Dockerfile.sglang
  container/Dockerfile.sglang-deepep
  container/Dockerfile.tensorrt_llm
  container/Dockerfile.vllm
  container/Dockerfile.vllm_v1
Owners: @rmccorm4, @tanmayv25, @richardhuo-nv, @ptarasiewiczNV, @ishandhanani, @alec-flowers, @nnshah1, @ai-dynamo/Devops
