Repository ai-dynamo/dynamo, changes with the owners that CODEOWNERS names for each.
All owners: @ai-dynamo/dynamo-rust-codeowners, @nnshah1, @tanmayv25, @piotrm-nvidia, @ptarasiewiczNV, @ryanolson, @grahamking, @paulhendricks, @biswapanda, @tmonty12, @guanluo, @rmccorm4, @tedzhouhk, @alec-flowers, @kkranen, @ai-dynamo/Devops, @jthomson04, @ishandhanani, @PeaBrane, @richardhuo-nv, @hutm, @julienmancuso, @hhzhang16, @mohammedabdulwahhab, @whoisj, @nealvaidya, @atchernych, @indrajit96, @krishung5

CODEOWNERS:

# CODEOWNERS file for Dynamo
#
# For more information about CODEOWNERS files, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Rust - Keep these two the same. Or better make an alias like devops have.
*.rs @ai-dynamo/dynamo-rust-codeowners
Cargo.toml @ai-dynamo/dynamo-rust-codeowners

# Python Libraries
*.py @nnshah1 @tanmayv25 @piotrm-nvidia @ptarasiewiczNV @ryanolson @grahamking @paulhendricks @biswapanda @tmonty12 @guanluo @rmccorm4 @tedzhouhk @alec-flowers @kkranen @ai-dynamo/Devops @jthomson04 @ishandhanani @PeaBrane

# Container/Environments
/container/ @rmccorm4 @tanmayv25 @richardhuo-nv @ptarasiewiczNV @ishandhanani @alec-flowers @nnshah1 @ai-dynamo/Devops

# Dynamo deploy
/deploy/ @hutm @biswapanda @ishandhanani @julienmancuso @hhzhang16 @nnshah1 @mohammedabdulwahhab

# Examples
/examples/ @ai-dynamo/Devops @nnshah1 @whoisj @nealvaidya @ishandhanani @ai-dynamo/dynamo-rust-codeowners
/examples/*/deploy/ @hutm @biswapanda @ishandhanani @julienmancuso @hhzhang16 @mohammedabdulwahhab @atchernych
/examples/multimodal/ @indrajit96 @krishung5 @whoisj @hhzhang16

# CI/CD
/.github/ @ai-dynamo/Devops @nnshah1
/.github/workflows/*.ps1 @ai-dynamo/Devops @whoisj
CODEOWNERS @ai-dynamo/Devops @nnshah1

# Legal
/ATTRIBUTIONS-Rust.md @ai-dynamo/Devops
/ATTRIBUTIONS.md @ai-dynamo/Devops
/CODE_OF_CONDUCT.md @ai-dynamo/Devops
/CONTRIBUTING.md @ai-dynamo/Devops
/LICENSE @ai-dynamo/Devops
/SECURITY.md @ai-dynamo/Devops

try deleting cmake and install perfanalyzer explicitly iff arm
  container/Dockerfile.vllm
Owners: @rmccorm4, @tanmayv25, @richardhuo-nv, @ptarasiewiczNV, @ishandhanani, @alec-flowers, @nnshah1, @ai-dynamo/Devops

added a PR for README + organized examples folder
  examples/README.md
  examples/basics/multimodal/README.md
  examples/deployments/AKS/AKS-deployment.md
  examples/deployments/router_standalone/README.md
  examples/deployments/router_standalone/__init__.py
  examples/deployments/router_standalone/api.py
  examples/deployments/router_standalone/perf.sh
  examples/deployments/router_standalone/ping.sh
  examples/deployments/router_standalone/router.py
  examples/deployments/router_standalone/worker.py
Owners: @ai-dynamo/Devops, @nnshah1, @whoisj, @nealvaidya, @ishandhanani, @ai-dynamo/dynamo-rust-codeowners

Update deploy/inference-gateway/README.md
  deploy/inference-gateway/README.md
Owners: @hutm, @biswapanda, @ishandhanani, @julienmancuso, @hhzhang16, @nnshah1, @mohammedabdulwahhab

revert max jobs
  container/Dockerfile.vllm
  container/deps/vllm/install_vllm.sh
Owners: @rmccorm4, @tanmayv25, @richardhuo-nv, @ptarasiewiczNV, @ishandhanani, @alec-flowers, @nnshah1, @ai-dynamo/Devops

fix: Remove trailing whitespace (pre-commit hook)
  components/backends/vllm/README.md
  docs/architecture/distributed_runtime.md
  examples/README.md
Owners: @ai-dynamo/Devops, @nnshah1, @whoisj, @nealvaidya, @ishandhanani, @ai-dynamo/dynamo-rust-codeowners

address comments
  deploy/inference-gateway/install_gaie_crd_kgateway.sh
  deploy/inference-gateway/vllm_agg_qwen.yaml
Owners: @hutm, @biswapanda, @ishandhanani, @julienmancuso, @hhzhang16, @nnshah1, @mohammedabdulwahhab

add license
  deploy/inference-gateway/helm/dynamo-gaie/templates/_helpers.tpl
  deploy/inference-gateway/helm/dynamo-gaie/values.yaml
  deploy/inference-gateway/install_gaie_crd_kgateway.sh
Owners: @hutm, @biswapanda, @ishandhanani, @julienmancuso, @hhzhang16, @nnshah1, @mohammedabdulwahhab

minor updates to UX in readmes for vLLM/TRT-LLM
  components/backends/trtllm/README.md
  components/backends/vllm/README.md
Owners: none

updated TRT-LLM readme broken link
  components/backends/trtllm/README.md
Owners: none

license
  deploy/inference-gateway/helm/dynamo-gaie/Chart.yaml
Owners: @hutm, @biswapanda, @ishandhanani, @julienmancuso, @hhzhang16, @nnshah1, @mohammedabdulwahhab

Resolve merge conflicts in README files
  components/backends/trtllm/README.md
  components/backends/vllm/README.md
Owners: none

fix: install rdma libs in runtime image.
  container/Dockerfile.sglang
  container/Dockerfile.tensorrt_llm
  container/Dockerfile.vllm
Owners: @rmccorm4, @tanmayv25, @richardhuo-nv, @ptarasiewiczNV, @ishandhanani, @alec-flowers, @nnshah1, @ai-dynamo/Devops

refactor
  deploy/inference-gateway/helm/dynamo-gaie/templates/dynamo-epp.yaml
  deploy/inference-gateway/helm/dynamo-gaie/values.yaml
Owners: @hutm, @biswapanda, @ishandhanani, @julienmancuso, @hhzhang16, @nnshah1, @mohammedabdulwahhab

attempt to fix gpu OOM issue
  components/backends/trtllm/engine_configs/deepseek_r1/wide_ep/wide_ep_agg.yaml
  components/backends/trtllm/engine_configs/deepseek_r1/wide_ep/wide_ep_prefill.yaml
Owners: none

Update docs/architecture/distributed_runtime.md
  docs/architecture/distributed_runtime.md
Owners: none

Update docs/architecture/distributed_runtime.md
  docs/architecture/distributed_runtime.md
Owners: none
