Repository ai-dynamo/dynamo, changes with the owners that CODEOWNERS names for each.
All owners: @ai-dynamo/dynamo-rust-codeowners, @nnshah1, @tanmayv25, @piotrm-nvidia, @ptarasiewiczNV, @ryanolson, @grahamking, @paulhendricks, @biswapanda, @tmonty12, @guanluo, @rmccorm4, @tedzhouhk, @alec-flowers, @kkranen, @ai-dynamo/Devops, @jthomson04, @ishandhanani, @PeaBrane, @richardhuo-nv, @hutm, @julienmancuso, @hhzhang16, @mohammedabdulwahhab, @whoisj, @indrajit96, @krishung5

CODEOWNERS:

# CODEOWNERS file for Dynamo
#
# For more information about CODEOWNERS files, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Rust - Keep these two the same. Or better make an alias like devops have.
*.rs @ai-dynamo/dynamo-rust-codeowners
Cargo.toml @ai-dynamo/dynamo-rust-codeowners

# Python Libraries
*.py @nnshah1 @tanmayv25 @piotrm-nvidia @ptarasiewiczNV @ryanolson @grahamking @paulhendricks @biswapanda @tmonty12 @guanluo @rmccorm4 @tedzhouhk @alec-flowers @kkranen @ai-dynamo/Devops @jthomson04 @ishandhanani @PeaBrane

# Container/Environments
/container/ @rmccorm4 @tanmayv25 @richardhuo-nv @ptarasiewiczNV @ishandhanani @alec-flowers @nnshah1 @ai-dynamo/Devops

# Dynamo deploy
/deploy/ @hutm @biswapanda @ishandhanani @julienmancuso @hhzhang16 @nnshah1 @mohammedabdulwahhab

# Examples
/examples/ @ai-dynamo/Devops @nnshah1 @whoisj @ai-dynamo/dynamo-rust-codeowners
/examples/common/ @ai-dynamo/Devops @tedzhouhk
/examples/hello_world/ @alec-flowers @biswapanda @grahamking @hhzhang16 @ishandhanani @julienmancuso @kkranen @mohammedabdulwahhab @nnshah1 @tedzhouhk
/examples/llm/ @alec-flowers @biswapanda @grahamking @guanluo @hhzhang16 @ishandhanani @julienmancuso @kkranen @mohammedabdulwahhab @nnshah1 @piotrm-nvidia @ptarasiewiczNV @rmccorm4 @tanmayv25 @tedzhouhk @PeaBrane
/examples/multimodal/ @indrajit96 @krishung5 @whoisj
/examples/sglang/ @biswapanda @ishandhanani @tedzhouhk @rmccorm4 @alec-flowers @grahamking
/examples/tensorrt_llm/ @guanluo @richardhuo-nv @rmccorm4 @tanmayv25
/examples/vllm_v0/ @alec-flowers @tedzhouhk @PeaBrane
/examples/vllm_v1/ @biswapanda @ptarasiewiczNV @tedzhouhk @PeaBrane

# CI/CD
/.github/ @ai-dynamo/Devops @nnshah1
/.github/workflows/*.ps1 @ai-dynamo/Devops @whoisj
CODEOWNERS @ai-dynamo/Devops @nnshah1

# Legal
/ATTRIBUTIONS-Rust.md @ai-dynamo/Devops
/ATTRIBUTIONS.md @ai-dynamo/Devops
/CODE_OF_CONDUCT.md @ai-dynamo/Devops
/CONTRIBUTING.md @ai-dynamo/Devops
/LICENSE @ai-dynamo/Devops
/SECURITY.md @ai-dynamo/Devops

Correcting Model Name and Decoding Type
  examples/tensorrt_llm/configs/llama4/eagle/eagle_agg.yaml
  examples/tensorrt_llm/configs/llama4/eagle/eagle_disagg.yaml
  examples/tensorrt_llm/configs/llama4/eagle/engine_configs/agg_config.yaml
  examples/tensorrt_llm/configs/llama4/eagle/engine_configs/decode_config.yaml
  examples/tensorrt_llm/configs/llama4/eagle/engine_configs/prefill_config.yaml
Owners: @guanluo, @richardhuo-nv, @rmccorm4, @tanmayv25

Added the general README for examples
  docs/examples/README.md
  docs/examples/hello_world.md
Owners: none

feat: remove DYN_DEPLOYMENT_CONFIG in examples (#1820)
  deploy/cloud/operator/internal/consts/consts.go
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller_test.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
  examples/vllm_v0/deploy/agg.yaml
  examples/vllm_v0/deploy/disagg.yaml
  examples/vllm_v0/deploy/disagg_planner.yaml
  examples/vllm_v1/deploy/agg.yaml
  examples/vllm_v1/deploy/disagg.yaml
  examples/vllm_v1/deploy/disagg_planner.yaml
Owners: @hutm, @biswapanda, @ishandhanani, @julienmancuso, @hhzhang16, @nnshah1, @mohammedabdulwahhab, @alec-flowers, @tedzhouhk, @PeaBrane, @ptarasiewiczNV

feat: remove minio dependency (#1833)
  deploy/cloud/helm/platform/Chart.yaml
  deploy/cloud/helm/platform/values.yaml
Owners: @hutm, @biswapanda, @ishandhanani, @julienmancuso, @hhzhang16, @nnshah1, @mohammedabdulwahhab

feat: add additional command to install fom source
  docs/guides/dynamo_deploy/quickstart.md
Owners: none

feat: add additional command to install fom source
  docs/guides/dynamo_deploy/quickstart.md
Owners: none

Adjust deploy.sh
  deploy/cloud/helm/deploy.sh
Owners: @hutm, @biswapanda, @ishandhanani, @julienmancuso, @hhzhang16, @nnshah1, @mohammedabdulwahhab

Fixed deploy.sh and added it to quickstart
  docs/guides/dynamo_deploy/quickstart.md
Owners: none

hack to bypass c compilation for vllm arm build (thanks junhao)
  container/Dockerfile.vllm_v1
Owners: @rmccorm4, @tanmayv25, @richardhuo-nv, @ptarasiewiczNV, @ishandhanani, @alec-flowers, @nnshah1, @ai-dynamo/Devops

build vllm arm separate from x86
  container/Dockerfile.vllm_v1
Owners: @rmccorm4, @tanmayv25, @richardhuo-nv, @ptarasiewiczNV, @ishandhanani, @alec-flowers, @nnshah1, @ai-dynamo/Devops

refactor vllm install
  container/Dockerfile.vllm_v1
Owners: @rmccorm4, @tanmayv25, @richardhuo-nv, @ptarasiewiczNV, @ishandhanani, @alec-flowers, @nnshah1, @ai-dynamo/Devops

disable gds for arm temporarily
  container/Dockerfile.vllm_v1
Owners: @rmccorm4, @tanmayv25, @richardhuo-nv, @ptarasiewiczNV, @ishandhanani, @alec-flowers, @nnshah1, @ai-dynamo/Devops

updated quickstart
  docs/guides/dynamo_deploy/quickstart.md
Owners: none

Add logger.warn and lint code
  examples/llm/components/kv_router.py
Owners: @alec-flowers, @biswapanda, @grahamking, @guanluo, @hhzhang16, @ishandhanani, @julienmancuso, @kkranen, @mohammedabdulwahhab, @nnshah1, @piotrm-nvidia, @ptarasiewiczNV, @rmccorm4, @tanmayv25, @tedzhouhk, @PeaBrane

Lint code with pre-commit
  examples/llm/components/kv_router.py
Owners: @alec-flowers, @biswapanda, @grahamking, @guanluo, @hhzhang16, @ishandhanani, @julienmancuso, @kkranen, @mohammedabdulwahhab, @nnshah1, @piotrm-nvidia, @ptarasiewiczNV, @rmccorm4, @tanmayv25, @tedzhouhk, @PeaBrane

Fixed metrics in vllm v0 worker
  examples/vllm_v0/components/worker.py
Owners: @alec-flowers, @tedzhouhk, @PeaBrane

fix: add back grafana metrics that were deleted by accident
  deploy/metrics/grafana_dashboards/grafana-dcgm-metrics.json
  deploy/metrics/grafana_dashboards/grafana-llm-metrics.json
Owners: @hutm, @biswapanda, @ishandhanani, @julienmancuso, @hhzhang16, @nnshah1, @mohammedabdulwahhab

push tokens only when necessary
  lib/llm/src/kv_router.rs
  lib/llm/src/kv_router/scheduler.rs
  lib/llm/src/kv_router/sequence.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

wired up reset to vllm http; more tracing
  lib/bindings/python/rust/llm/block_manager/vllm.rs
  lib/bindings/python/rust/llm/block_manager/vllm/slot.rs
  lib/bindings/python/src/dynamo/llm/vllm_integration/kv_cache_manager.py
Owners: @ai-dynamo/dynamo-rust-codeowners, @nnshah1, @tanmayv25, @piotrm-nvidia, @ptarasiewiczNV, @ryanolson, @grahamking, @paulhendricks, @biswapanda, @tmonty12, @guanluo, @rmccorm4, @tedzhouhk, @alec-flowers, @kkranen, @ai-dynamo/Devops, @jthomson04, @ishandhanani, @PeaBrane

gurads to denest
  lib/llm/src/kv_router.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

Add details to quickstart
  docs/guides/dynamo_deploy/quickstart.md
Owners: none

Update examples/vllm_v1/README.md
  examples/vllm_v1/README.md
Owners: @biswapanda, @ptarasiewiczNV, @tedzhouhk, @PeaBrane

add qwen and llava models
  examples/multimodal/deploy/k8s/agg-llava.yaml
  examples/multimodal/deploy/k8s/agg-qwen.yaml
Owners: @indrajit96, @krishung5, @whoisj

prevent divide by 0 in logit normalization
  lib/llm/src/kv_router/scheduler.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

update v1 docs
  examples/vllm_v1/README.md
Owners: @biswapanda, @ptarasiewiczNV, @tedzhouhk, @PeaBrane

Add prefill first strategy to disagg workflow
  examples/tensorrt_llm/common/aggregated_strategy.py
  examples/tensorrt_llm/common/base_engine.py
  examples/tensorrt_llm/common/decode_first_strategy.py
  examples/tensorrt_llm/common/parser.py
  examples/tensorrt_llm/common/prefill_first_strategy.py
  examples/tensorrt_llm/common/protocol.py
  examples/tensorrt_llm/components/next_worker.py
  examples/tensorrt_llm/components/worker.py
  examples/tensorrt_llm/configs/disagg.yaml
  examples/tensorrt_llm/configs/disagg_router.yaml
  examples/tensorrt_llm/configs/engine_configs/decode_config.yaml
  examples/tensorrt_llm/graphs/disagg.py
Owners: @guanluo, @richardhuo-nv, @rmccorm4, @tanmayv25

update v1 docs
  examples/vllm_v1/README.md
Owners: @biswapanda, @ptarasiewiczNV, @tedzhouhk, @PeaBrane

add more examples
  examples/multimodal/deploy/k8s/agg-video.yaml
  examples/multimodal/deploy/k8s/disagg-video.yaml
  examples/multimodal/deploy/k8s/disagg.yaml
Owners: @indrajit96, @krishung5, @whoisj

add readme
  examples/multimodal/deploy/k8s/README.md
Owners: @indrajit96, @krishung5, @whoisj

add readme
  examples/multimodal/README.md
  examples/multimodal/deploy/k8s/README.md
Owners: @indrajit96, @krishung5, @whoisj

approx kv router
  lib/llm/src/kv_router.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

correct local_block_hashes, and some approx.rs cleanups
  lib/llm/src/kv_router.rs
  lib/llm/src/kv_router/approx.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

Adding Speculative Decoding/KV Config Fields
  examples/tensorrt_llm/configs/llama4/eagle/engine_configs/agg_config.yaml
  examples/tensorrt_llm/configs/llama4/eagle/engine_configs/decode_config.yaml
  examples/tensorrt_llm/configs/llama4/eagle/engine_configs/prefill_config.yaml
Owners: @guanluo, @richardhuo-nv, @rmccorm4, @tanmayv25

few doc updates
  examples/vllm_v1/README.md
  examples/vllm_v1/deepseek-r1.md
  examples/vllm_v1/multi-node.md
Owners: @biswapanda, @ptarasiewiczNV, @tedzhouhk, @PeaBrane

remove accidental file
  etcd-test/src/main.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

feat: add multimodal k8s deployment manifest (#1836)
  examples/multimodal/README.md
  examples/multimodal/deploy/k8s/agg-llava.yaml
  examples/multimodal/deploy/k8s/agg-phi3v.yaml
  examples/multimodal/deploy/k8s/agg-qwen.yaml
  examples/multimodal/deploy/k8s/agg-video.yaml
  examples/multimodal/deploy/k8s/disagg-video.yaml
  examples/multimodal/deploy/k8s/disagg.yaml
  examples/multimodal/utils/model.py
Owners: @indrajit96, @krishung5, @whoisj

feat: support separate chat_template.jinja file
  lib/llm/src/model_card/create.rs
  lib/llm/src/model_card/model.rs
  lib/llm/src/preprocessor/prompt/template.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

feat: add hello world deployment example
  examples/hello_world/config.yaml
  examples/hello_world/deploy/k8s/hello_world.yaml
Owners: @alec-flowers, @biswapanda, @grahamking, @hhzhang16, @ishandhanani, @julienmancuso, @kkranen, @mohammedabdulwahhab, @nnshah1, @tedzhouhk

build from source instead of precompiled
  container/Dockerfile.vllm_v1
Owners: @rmccorm4, @tanmayv25, @richardhuo-nv, @ptarasiewiczNV, @ishandhanani, @alec-flowers, @nnshah1, @ai-dynamo/Devops

chore: format
  lib/llm/src/model_card/create.rs
  lib/llm/src/preprocessor/prompt/template.rs
Owners: @ai-dynamo/dynamo-rust-codeowners
