Repository ai-dynamo/dynamo, changes with the owners that CODEOWNERS names for each.
All owners: @ai-dynamo/dynamo-rust-codeowners, @ai-dynamo/python-codeowners, @ai-dynamo/Devops, @hutm, @biswapanda, @ishandhanani, @julienmancuso, @hhzhang16, @nnshah1, @mohammedabdulwahhab, @atchernych, @whoisj

reformat again :sweatsmile:
  components/backends/sglang/slurm_jobs/scripts/vllm/bench.sh
Owners: none

feat: replace earthly
  deploy/cloud/operator/Dockerfile
Owners: @hutm, @biswapanda, @ishandhanani, @julienmancuso, @hhzhang16, @nnshah1, @mohammedabdulwahhab, @atchernych

add model cache and use public aiperf image
  recipes/gpt-oss-120b/model-cache/model-cache.yaml
  recipes/gpt-oss-120b/model-cache/model-download.yaml
  recipes/gpt-oss-120b/trtllm/agg/bench-pub.yaml
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

updates
  .github/workflows/container-validation-backends.yml
Owners: @ai-dynamo/Devops, @nnshah1

exit errort
  .github/workflows/container-validation-backends.yml
Owners: @ai-dynamo/Devops, @nnshah1

Address comments
  components/backends/vllm/src/dynamo/vllm/main.py
  components/backends/vllm/src/dynamo/vllm/ports.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

BOS token for sglang health check payload
  components/backends/sglang/src/dynamo/sglang/health_check.py
  components/backends/sglang/src/dynamo/sglang/main.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

fix other planner yamls
  components/backends/sglang/deploy/disagg_planner.yaml
  components/backends/trtllm/deploy/disagg_planner.yaml
Owners: none

CODEOWNERS:

# CODEOWNERS file for Dynamo
#
# For more information about CODEOWNERS files, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*.rs @ai-dynamo/dynamo-rust-codeowners
Cargo.toml @ai-dynamo/dynamo-rust-codeowners

# Python Libraries
*.py @ai-dynamo/python-codeowners @ai-dynamo/Devops

# Container/Environments
/container/ @ai-dynamo/Devops @ai-dynamo/dynamo-rust-codeowners @ai-dynamo/python-codeowners

# Dynamo deploy
/deploy/ @hutm @biswapanda @ishandhanani @julienmancuso @hhzhang16 @nnshah1 @mohammedabdulwahhab @atchernych

# Examples
/examples/ @ai-dynamo/Devops @ai-dynamo/dynamo-rust-codeowners @ai-dynamo/python-codeowners
/examples/*/deploy/ @hutm @biswapanda @ishandhanani @julienmancuso @hhzhang16 @mohammedabdulwahhab @atchernych
/examples/multimodal/ @ai-dynamo/python-codeowners @ai-dynamo/Devops

# CI/CD
/.github/ @ai-dynamo/Devops @nnshah1
/.github/workflows/*.ps1 @ai-dynamo/Devops @whoisj
CODEOWNERS @ai-dynamo/Devops @nnshah1

# Planner
/components/planner/ @ai-dynamo/python-codeowners @ai-dynamo/Devops
/benchmarks/profiler/ @ai-dynamo/python-codeowners @ai-dynamo/Devops
/tests/planner/ @ai-dynamo/python-codeowners @ai-dynamo/Devops

# recipes

/recipes/ @ai-dynamo/python-codeowners @ai-dynamo/Devops

# Legal
/ATTRIBUTIONS-Rust.md @ai-dynamo/Devops
/ATTRIBUTIONS.md @ai-dynamo/Devops
/CODE_OF_CONDUCT.md @ai-dynamo/Devops
/CONTRIBUTING.md @ai-dynamo/Devops
/LICENSE @ai-dynamo/Devops
/SECURITY.md @ai-dynamo/Devops
